<template>
    <div
        class="vue-grid-item cssTransforms"
        style="transform: translate3d(488px, 500px, 0px); width: 468px; height: 408px; position: absolute;"
    >
        <div class="buySell buySell__wrap left">
            <div class="Block">
                <header class="Block__header">
                    <h3 class="Block__title">Buy BTC</h3>
                    <!---->
                </header>
                <div class="Block__content">
                    <div class="buySell__orderTypes d-flex">
                        <div class="SimpleTabs undefined">
                            <div class="buySell__tab is-active">
                                <span classname="tabText">Limit</span>
                            </div>
                            <div class="buySell__tab">
                                <span classname="tabText">Market</span>
                            </div>
                        </div>
                        <div
                            class="BaseDropDown d-flex align-items-center buySell__dropDown"
                        >
                            <div class="BaseDropDown__dropDownLabel">
                                <span class="">Stop-Limit</span>
                            </div>
                            <div
                                class="BaseDropDown__dropDown"
                                style="display: none;"
                            >
                                <div class="buySell__dropDownTab text-left">
                                    Stop-Limit
                                </div>
                                <div class="buySell__dropDownTab text-left">
                                    Stop-Market
                                </div>
                                <div class="buySell__dropDownTab text-left">
                                    Conditional-Limit
                                </div>
                                <div class="buySell__dropDownTab text-left">
                                    Conditional-Market
                                </div>
                            </div>
                        </div>
                    </div>
                    <form autocomplete="off" class="buySell__form">
                        <!----><!----><!---->
                        <div
                            class="BaseInput buySell__input is-small theme-1 is-inline is-trade"
                        >
                            <div class="BaseInput__group">
                                <label
                                    for="BaseInputId-0"
                                    class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                    >Price</label
                                >
                                <div class="BaseInput__inputWrap">
                                    <!----><!----><input
                                        id="BaseInputId-0"
                                        inputmode="decimal"
                                        autocomplete="off"
                                        tooltipvalue=""
                                        type=""
                                        class="BaseInput__input"
                                    />
                                    <div class="BaseInput__button">USDT</div>
                                </div>
                            </div>
                            <!---->
                            <div
                                class="BaseValidationError is-small"
                                style="visibility: unset;"
                            >
                                <div class="BaseValidationError__message"></div>
                            </div>
                            <!---->
                        </div>
                        <div
                            class="BaseInput buySell__input is-small theme-1 is-inline is-trade"
                            placeholder="Enter amount"
                        >
                            <div class="BaseInput__group">
                                <label
                                    for="BaseInputId-1"
                                    class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                    >Amount</label
                                >
                                <div class="BaseInput__inputWrap">
                                    <!----><!----><input
                                        id="BaseInputId-1"
                                        inputmode="decimal"
                                        autocomplete="off"
                                        tooltipvalue=""
                                        type=""
                                        placeholder="Enter amount"
                                        class="BaseInput__input"
                                    />
                                    <div class="BaseInput__button">BTC</div>
                                </div>
                            </div>
                            <!---->
                            <div
                                class="BaseValidationError is-small"
                                style="visibility: unset;"
                            >
                                <div class="BaseValidationError__message"></div>
                            </div>
                            <!---->
                        </div>
                        <div
                            class="BaseInput buySell__input is-small theme-1 is-inline is-trade"
                        >
                            <div class="BaseInput__group">
                                <label
                                    for="BaseInputId-2"
                                    class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                    >Total</label
                                >
                                <div class="BaseInput__inputWrap">
                                    <!----><!----><input
                                        id="BaseInputId-2"
                                        inputmode="decimal"
                                        autocomplete="off"
                                        tooltipvalue=""
                                        type=""
                                        class="BaseInput__input"
                                    />
                                    <div class="BaseInput__button">USDT</div>
                                </div>
                            </div>
                            <!---->
                            <div
                                class="BaseValidationError is-small"
                                style="visibility: unset;"
                            >
                                <div class="BaseValidationError__message"></div>
                            </div>
                            <!---->
                        </div>
                        <div
                            class="BaseInput buySell__input is-small theme-1 is-inline is-trade"
                            disabled="disabled"
                        >
                            <div class="BaseInput__group">
                                <label
                                    for="BaseInputId-3"
                                    class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                    >Total + fee 0.1%</label
                                >
                                <div class="BaseInput__inputWrap">
                                    <!----><!----><input
                                        id="BaseInputId-3"
                                        autocomplete="on"
                                        tooltipvalue=""
                                        type=""
                                        disabled="disabled"
                                        class="BaseInput__input"
                                    />
                                    <div class="BaseInput__button">USDT</div>
                                </div>
                            </div>
                            <!---->
                            <div
                                class="BaseValidationError is-small"
                                style="visibility: unset;"
                            >
                                <div class="BaseValidationError__message"></div>
                            </div>
                            <!---->
                        </div>
                        <div
                            class="buySell__footer d-flex justify-content-between align-items-center"
                        >
                            <div class="Require-auth d-flex mb-2 flex-grow-1">
                                <span
                                    ><a
                                        href="/auth/register"
                                        class="BaseRouterLink false"
                                    >
                                        Registration
                                    </a>
                                    to start trade! Or
                                    <a
                                        href="/auth/login"
                                        class="BaseRouterLink false"
                                    >
                                        Login
                                    </a>
                                    if you have an account.</span
                                >
                            </div>
                        </div>
                        <!---->
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
