<template>
    <div
        class="d-flex flex-column box-panel bg-card br-main  stacks-type-01"
        style="width: 18vw; min-width: 280px; max-width: 300px;"
    >
        <div class="tickers tickers  d-flex flex-column">
            <div class="bg-card-header br-top-main tickers-search">
                <div class="box-panel-header center-vh pl10 pr10">
                    <span
                        class="ant-input-search fc-icon h-30 ant-input-affix-wrapper ant-input-affix-wrapper-sm"
                        ><span class="ant-input-prefix"
                            ><i class="anticon fc-grey-light fs16"
                                ><svg
                                    width="1em"
                                    height="1em"
                                    fill="currentColor"
                                    aria-hidden="true"
                                    focusable="false"
                                    class=""
                                >
                                    <use
                                        xlink:href="#brand-sousuo"
                                    ></use></svg></i></span
                        ><input
                            placeholder="Coin/Token/Symbol"
                            class="ant-input ant-input-sm"
                            type="text"
                            value=""/><span class="ant-input-suffix"
                            ><i
                                aria-label="icon: search"
                                tabindex="-1"
                                class="anticon anticon-search ant-input-search-icon"
                                ><svg
                                    viewBox="64 64 896 896"
                                    focusable="false"
                                    class=""
                                    data-icon="search"
                                    width="1em"
                                    height="1em"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"
                                    ></path></svg></i></span
                    ></span>
                </div>
            </div>
            <div
                class="ant-tabs ant-tabs-top  h-p100 tabs-hfull  ant-tabs-line ant-tabs-no-animation"
            >
                <div
                    class="d-flex center-v tabs-header pl10 justify-content-between pr10"
                >
                    <div
                        role="tablist"
                        class="ant-tabs-bar ant-tabs-top-bar"
                        tabindex="0"
                    >
                        <div class="ant-tabs-nav-container">
                            <span
                                unselectable="unselectable"
                                class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled"
                                ><span class="ant-tabs-tab-prev-icon"
                                    ><i
                                        aria-label="icon: left"
                                        class="anticon anticon-left ant-tabs-tab-prev-icon-target"
                                        ><svg
                                            viewBox="64 64 896 896"
                                            focusable="false"
                                            class=""
                                            data-icon="left"
                                            width="1em"
                                            height="1em"
                                            fill="currentColor"
                                            aria-hidden="true"
                                        >
                                            <path
                                                d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"
                                            ></path></svg></i></span></span
                            ><span
                                unselectable="unselectable"
                                class="ant-tabs-tab-next ant-tabs-tab-btn-disabled"
                                ><span class="ant-tabs-tab-next-icon"
                                    ><i
                                        aria-label="icon: right"
                                        class="anticon anticon-right ant-tabs-tab-next-icon-target"
                                        ><svg
                                            viewBox="64 64 896 896"
                                            focusable="false"
                                            class=""
                                            data-icon="right"
                                            width="1em"
                                            height="1em"
                                            fill="currentColor"
                                            aria-hidden="true"
                                        >
                                            <path
                                                d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"
                                            ></path></svg></i></span
                            ></span>
                            <div class="ant-tabs-nav-wrap">
                                <div class="ant-tabs-nav-scroll">
                                    <div
                                        class="ant-tabs-nav ant-tabs-nav-animated"
                                    >
                                        <div>
                                            <div
                                                role="tab"
                                                aria-disabled="false"
                                                aria-selected="false"
                                                class=" ant-tabs-tab"
                                            >
                                                <div
                                                    class="typo typo-text-2 center-hv w-p100  typo-nowrap typo-ellipsis"
                                                >
                                                    <i
                                                        aria-label="icon: star"
                                                        class="anticon anticon-star mr0 center"
                                                        ><svg
                                                            viewBox="64 64 896 896"
                                                            focusable="false"
                                                            class=""
                                                            data-icon="star"
                                                            width="1em"
                                                            height="1em"
                                                            fill="currentColor"
                                                            aria-hidden="true"
                                                        >
                                                            <path
                                                                d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"
                                                            ></path></svg
                                                    ></i>
                                                </div>
                                            </div>
                                            <div
                                                role="tab"
                                                :class="['ant-tabs-tab', { 'ant-tabs-tab-active' : activeChanges == '/USDT' }]"
                                                @click="activeChanges = '/USDT'"
                                            >
                                                <div
                                                    class="typo typo-text-2 center-hv w-p100  typo-nowrap typo-ellipsis"
                                                >
                                                    USDT
                                                </div>
                                            </div>
                                            <div
                                                role="tab"
                                                class=" ant-tabs-tab"
                                                :class="['ant-tabs-tab', { 'ant-tabs-tab-active' : activeChanges == '/BTC' }]"
                                                @click="activeChanges = '/BTC'"
                                            >
                                                <div
                                                    class="typo typo-text-2 center-hv w-p100  typo-nowrap typo-ellipsis"
                                                >
                                                    BTC
                                                </div>
                                            </div>
                                            <div
                                                role="tab"
                                                class=" ant-tabs-tab"
                                                :class="['ant-tabs-tab', { 'ant-tabs-tab-active' : activeChanges == '/ETH' }]"
                                                @click="activeChanges = '/ETH'"
                                            >
                                                <div
                                                    class="typo typo-text-2 center-hv w-p100  typo-nowrap typo-ellipsis"
                                                >
                                                    ETH
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            v-if="activeChanges == '/USDT'"
                                            class="ant-tabs-ink-bar ant-tabs-ink-bar-no-animated"
                                            style="display: block; transform: translate3d(45px, 0px, 0px); width: 38px;"
                                        ></div>
                                        <div v-if="activeChanges == '/BTC'" class="ant-tabs-ink-bar ant-tabs-ink-bar-no-animated" style="display: block; transform: translate3d(103px, 0px, 0px); width: 28px;"></div>
                                        <div v-if="activeChanges == '/ETH'" class="ant-tabs-ink-bar ant-tabs-ink-bar-no-animated" style="display: block; transform: translate3d(151px, 0px, 0px); width: 28px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex sh-4 center-v"></div>
                </div>
                <div
                    tabindex="0"
                    role="presentation"
                    style="width: 0px; height: 0px; overflow: hidden; position: absolute;"
                ></div>
                <div
                    class="ant-tabs-content ant-tabs-content-no-animated ant-tabs-top-content"
                >
                    <div
                        role="tabpanel"
                        class="ant-tabs-tabpane"
                    >
                        <div
                            class="d-flex flex-column symbol-list"
                            style="height: 100%;"
                        >
                            <div
                                class="d-flex pl10 pr10 pb5 pt5 center-v panel-subheader cols-type-110"
                                style="height: auto;"
                            >
                                <div
                                    class="typo typo-text-1-light center-v cursor-pointer typo-nowrap typo-ellipsis"
                                >
                                    Trade pair
                                    <div class="sorter d-inline-block">
                                        <div
                                            class="position-relative center"
                                            style="bottom: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-up"
                                                class="anticon anticon-caret-up fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-up"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M858.9 689L530.5 308.2c-9.4-10.9-27.5-10.9-37 0L165.1 689c-12.2 14.2-1.2 35 18.5 35h656.8c19.7 0 30.7-20.8 18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                        <div
                                            class="position-relative center"
                                            style="top: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-down"
                                                class="anticon anticon-caret-down fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-down"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="typo typo-text-1-light center-v justify-content-end cursor-pointer typo-nowrap-visible"
                                >
                                    Last Price
                                    <div class="sorter d-inline-block">
                                        <div
                                            class="position-relative center"
                                            style="bottom: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-up"
                                                class="anticon anticon-caret-up fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-up"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M858.9 689L530.5 308.2c-9.4-10.9-27.5-10.9-37 0L165.1 689c-12.2 14.2-1.2 35 18.5 35h656.8c19.7 0 30.7-20.8 18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                        <div
                                            class="position-relative center"
                                            style="top: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-down"
                                                class="anticon anticon-caret-down fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-down"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="typo typo-text-1-light center-v justify-content-end cursor-pointer typo-nowrap-visible ticker-change"
                                >
                                    Change
                                    <div class="sorter d-inline-block">
                                        <div
                                            class="position-relative center"
                                            style="bottom: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-up"
                                                class="anticon anticon-caret-up fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-up"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M858.9 689L530.5 308.2c-9.4-10.9-27.5-10.9-37 0L165.1 689c-12.2 14.2-1.2 35 18.5 35h656.8c19.7 0 30.7-20.8 18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                        <div
                                            class="position-relative center"
                                            style="top: -4px;"
                                        >
                                            <i
                                                aria-label="icon: caret-down"
                                                class="anticon anticon-caret-down fc-icon active-fc-primary "
                                                style="transform: scale(0.85);"
                                                ><svg
                                                    viewBox="0 0 1024 1024"
                                                    focusable="false"
                                                    class=""
                                                    data-icon="caret-down"
                                                    width="1em"
                                                    height="1em"
                                                    fill="currentColor"
                                                    aria-hidden="true"
                                                >
                                                    <path
                                                        d="M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z"
                                                    ></path></svg
                                            ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class=" box-fluid pc-scrollbar"
                                style="position: relative; overflow: hidden; width: 100%; height: 100%;"
                            >
                                <div
                                    style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;"
                                >
                                <history-item v-for="(item, index) of filteredSymbols" :key="index" :class="{'active': item.symbol === activeSymbol}" :item="item" />
                                </div>
                                <div
                                    style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;"
                                >
                                    <div
                                        class="pc-scrollbar-thumb"
                                        style="position: relative; display: block; height: 100%; width: 0px;"
                                    ></div>
                                </div>
                                <div
                                    style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;"
                                >
                                    <div
                                        class="pc-scrollbar-thumb"
                                        style="position: relative; display: block; width: 100%;"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    tabindex="0"
                    role="presentation"
                    style="width: 0px; height: 0px; overflow: hidden; position: absolute;"
                ></div>
            </div>
        </div>
    </div>
</template>

<script>
import HistoryItem from "./History/Item"

export default {
    name: "History",
    data: () => ({
        symbols: [],
        activeChanges: "/USDT"
    }),
    components: {
        HistoryItem
    },
    async mounted() {
        await this.$socket.emit("prices");
        await this.$socket.emit("orders");
    },
    computed: {
        filteredSymbols() {
            return this.symbols.filter(i => i.symbol.includes(this.activeChanges))
        },
        activeSymbol() {
            return this.$store.state.tradingActiveSymbol
        }
    },
    sockets: {
        prices(value) {
            this.symbols = Object.keys(value).map(key => value[key])
        },
         orders(value) {
           console.log(value)
        }
    }
};
</script>
