<template>
    <div
        class="d-flex flex-column box-panel bg-card br-main  stacks-type-01"
        style="width: 53%;"
    >
        <div
            class="d-flex br-top-main box-panel-header bg-card-header center-v pl10 pr10 justify-content-between"
            style="height: 36px;"
        >
            <div class="typo typo-text-2 w-p100  typo-nowrap typo-ellipsis">
                <div
                    class="d-flex center-v tabs-header bg-card-header justify-content-between"
                >
                    <div class="typo typo-text-2   typo-nowrap typo-ellipsis">
                        Order Book
                    </div>
                    <div
                        class="ant-select-sm orderbook-select fs12 fw-normal ant-select ant-select-enabled"
                    >
                        <div
                            class="ant-select-selection ant-select-selection--single"
                            role="combobox"
                            aria-autocomplete="list"
                            aria-haspopup="true"
                            aria-controls="1c6ce3fd-4a39-43ba-dc88-ffac2ffe7535"
                            aria-expanded="false"
                            tabindex="0"
                        >
                            <div class="ant-select-selection__rendered">
                                <div
                                    class="ant-select-selection-selected-value"
                                    title="0.00000001"
                                    style="display: block; opacity: 1;"
                                >
                                    0.00000001
                                </div>
                            </div>
                            <span
                                class="ant-select-arrow"
                                unselectable="on"
                                style="user-select: none;"
                                ><i
                                    aria-label="icon: down"
                                    class="anticon anticon-down ant-select-arrow-icon"
                                    ><svg
                                        viewBox="64 64 896 896"
                                        focusable="false"
                                        class=""
                                        data-icon="down"
                                        width="1em"
                                        height="1em"
                                        fill="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"
                                        ></path></svg></i
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="orderBook d-flex flex-column h-p100">
            <div class="d-flex equal-cols center-v pl10 pr10 panel-subheader">
                <div
                    class="typo typo-text-1-lighter mr5  typo-nowrap typo-ellipsis"
                >
                    Price(ETH)
                </div>
                <div
                    class="typo typo-text-1-lighter mr5  text-right typo-nowrap-visible"
                >
                    Quantity(MXM)
                </div>
                <div
                    class="typo typo-text-1-lighter   text-right typo-nowrap-visible"
                >
                    Total(MXM)
                </div>
            </div>
            <div
                class="box-fluid pc-scrollbar"
                style="position: relative; overflow: hidden; width: 100%; height: 100%;"
            >
                <div
                    style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;"
                >
                    <div
                        class="orderbook-sell-scroll-wrapper"
                        style="position: relative; overflow: hidden; width: 100%; height: 100%;"
                    >
                        <div
                            style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;"
                        >
                            <div class="mt-auto">
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000099
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        39,707.83
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,751,472.39
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 61.2152%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000091
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        10,768.80
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,711,764.56
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 60.3317%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000090
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        45,000.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,700,995.76
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 60.0921%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000075
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        100,000.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,655,995.76
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 59.091%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000073
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        5,000.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,555,995.76
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 56.8662%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000060
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        100,000.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,550,995.76
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 56.7549%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000050
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        33,760.69
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,450,995.76
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 54.5301%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000048
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        34,323.77
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,417,235.07
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 53.779%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000045
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        250,253.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,382,911.30
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 53.0154%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000040
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        250,253.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        2,132,658.30
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 47.4477%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000039
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        84,323.76
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,882,405.30
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 41.88%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000030
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        250,253.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,798,081.54
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 40.004%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000029
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        88,263.15
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,547,828.54
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 34.4363%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000026
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,245.54
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,459,565.39
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 32.4726%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000025
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        250,253.00
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,458,319.85
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 32.4449%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000022
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        257,684.21
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        1,208,066.85
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 26.8772%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000020
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        15,144.19
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        950,382.64
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 21.1442%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000019
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        862,816.58
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        935,238.45
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 20.8073%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000018
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        72,244.37
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        72,421.87
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 1.61125%;"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                                >
                                    <div
                                        class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-down"
                                    >
                                        0.00000014
                                    </div>
                                    <div
                                        class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        177.50
                                    </div>
                                    <div
                                        class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                                    >
                                        177.50
                                    </div>
                                    <div
                                        class="bg-down-light h-p100 abs-right zindex-0"
                                        style="width: 0.00394905%;"
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;"
                        >
                            <div
                                style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;"
                            ></div>
                        </div>
                        <div
                            style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;"
                        >
                            <div
                                style="position: relative; display: block; width: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); height: 96px; transform: translateY(0px);"
                            ></div>
                        </div>
                    </div>
                </div>
                <div
                    style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;"
                >
                    <div
                        style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;"
                    ></div>
                </div>
                <div
                    style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;"
                >
                    <div
                        style="position: relative; display: block; width: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); height: 0px;"
                    ></div>
                </div>
            </div>
            <div
                class="d-flex orderBookTicker center-v pl10 pr10  justify-content-between"
            >
                <div class="orderBookTicker center-v ml">
                    <div
                        class="typo typo-text-1-down fs18 fw-bolder typo-nowrap typo-ellipsis"
                    >
                        0.00000014<img
                            alt=""
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAWVJREFUWAljYBgFoyEwGgJDOwQYqeX8N9mJe///Z3BCNo+RgTFRZNq8BchipLKZSNVAb/WjDqQ0xEdDcDQEKQ0BSvWPpsHREKQ0BCjVP5oGR0OQ0hCgVP9oGhz2IUh2k/91VlIxIyODOSyE/v//bw9ki8H4IBpo+GkGRsYHcDEW5m6RibNPw/lEMFiIUINVCQsb39w/vz9GMfxnMMKqACj4n4HBlOH/f1OwPCNTkyiJjgPpIzsEQZo/ZWcL/2L4th/YWdIF8XEBRkbGTpGp8ypwyeMTp8iBIIM/l2SI/fz+8yDQkRrYLAJaMFFk2vwCbHLEiFHsQJAlr3OSpIDxeRAYnSrIlgK7nTOA3c5MZDFS2VQpB0WnzHvGxM7hBPTtA5gDgNE6X3jq3CwYn1yaKg4EWS7cN+0xCxOzE9BhT4C5e5mwqFwKkA3MJ4MMvM1Nkfm/ahXzIHPWqHNGQ2A0BEZDAFcIAABfBUbUZ8gSsAAAAABJRU5ErkJggg=="
                            width="18px"
                        />
                    </div>
                    <div class="typo typo-text-1 ml5 typo-nowrap typo-ellipsis">
                        $0.0001
                    </div>
                </div>
                <a
                    class="typo typo-text-1-primary cursor-pointer typo-nowrap typo-ellipsis"
                    href="/spot/markets/depth/MXM_ETH"
                    >More</a
                >
            </div>
            <div
                class="box-fluid pc-scrollbar"
                style="position: relative; overflow: hidden; width: 100%; height: 100%;"
            >
                <div
                    style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;"
                >
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000013
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            578,829.00
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            578,829.00
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 12.8779%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000012
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            360,252.27
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            939,081.27
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 20.8928%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000011
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            183,218.43
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            1,122,299.70
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 24.9691%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000010
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            465,953.32
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            1,588,253.02
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 35.3357%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000006
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            2,180.13
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            1,590,433.15
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 35.3842%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000005
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            500,000.00
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            2,090,433.15
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 46.5083%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000004
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            58,698.10
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            2,149,131.25
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 47.8142%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000003
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            1,145,626.00
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            3,294,757.25
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 73.3022%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000002
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            100,000.00
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            3,394,757.25
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 75.527%;"
                        ></div>
                    </div>
                    <div
                        class="d-flex equal-cols position-relative hover-bg-darken-1 center-v pl10 pr10 order-item"
                    >
                        <div
                            class="typo mr5 position-relative zindex-1 ff-number cursor-pointer typo-nowrap-visible typo-text-1-up"
                        >
                            0.00000001
                        </div>
                        <div
                            class="typo typo-text-1 mr5 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            1,099,999.99
                        </div>
                        <div
                            class="typo typo-text-1 position-relative zindex-1 text-right cursor-pointer typo-nowrap-visible"
                        >
                            4,494,757.24
                        </div>
                        <div
                            class="bg-up-light h-p100 abs-right zindex-0"
                            style="width: 100%;"
                        ></div>
                    </div>
                </div>
                <div
                    style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;"
                >
                    <div
                        style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;"
                    ></div>
                </div>
                <div
                    style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;"
                >
                    <div
                        style="position: relative; display: block; width: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); height: 192px; transform: translateY(0px);"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Orders",
    data: () => ({
        orders: []
    }),
    async mounted() {
        await this.$socket.emit("trades");
    },
    computed: {
        markets() {
            return this.$store.state.markets;
        }
    },
    sockets: {
        trades(value) {
            this.orders = value;
        },
        fOpenOrders(val) {
            console.log(val)
        }
    }
};
</script>
