<template>
    <div
        class="d-flex flex-column box-panel bg-card br-main  stacks-type-01"
        style="width: 47%;"
    >
        <div
            class="d-flex br-top-main box-panel-header bg-card-header center-v pl10 pr10 justify-content-between"
            style="height: 36px;"
        >
            <div class="typo typo-text-2 w-p100  typo-nowrap typo-ellipsis">
                Market Trades
            </div>
        </div>
        <div class="d-flex flex-column tradeList" style="height: 100%;">
            <div
                class="d-flex center-v pl10 pr10 panel-subheader equal-cols"
                style="height: 34px;"
            >
                <div
                    class="typo typo-text-1-lighter   typo-nowrap typo-ellipsis"
                >
                    Price(USDT)
                </div>
                <div
                    class="typo typo-text-1-lighter   text-right typo-nowrap-visible"
                >
                    Quantity(BTC)
                </div>
                <div
                    class="typo typo-text-1-lighter   text-right typo-nowrap-visible"
                >
                    Time
                </div>
            </div>
            <div
                class=" box-fluid pc-scrollbar"
                style="position: relative; overflow: hidden; width: 100%; height: 100%;"
            >
                <div
                    style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -6px; margin-bottom: -6px;"
                >
                    
                    <div
                        v-for="(trade, index) of trades" :key="index"
                        class="d-flex center-v pl10 pr10 equal-cols"
                        style="height: 22px;"
                    >
                        <div
                            class="typo typo-text-1-up   ff-number typo-nowrap-visible"
                        >
                            {{ trade.price }}
                        </div>
                        <div
                            class="typo typo-text-1   text-right ff-number typo-nowrap-visible"
                        >
                            {{  trade.amount }}
                        </div>
                        <div
                            class="typo typo-text-1-lighter   text-right ff-number typo-nowrap-visible"
                        >
                            {{ trade.datetime | timeFilter }}
                        </div>
                    </div>
                </div>
                <div
                    style="position: absolute; height: 6px; right: 2px; bottom: 2px; left: 2px; border-radius: 3px;"
                >
                    <div
                        class="pc-scrollbar-thumb"
                        style="position: relative; display: block; height: 100%; width: 0px;"
                    ></div>
                </div>
                <div
                    style="position: absolute; width: 6px; right: 2px; bottom: 2px; top: 2px; border-radius: 3px;"
                >
                    <div
                        class="pc-scrollbar-thumb"
                        style="position: relative; display: block; width: 100%; height: 163px; transform: translateY(0px);"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Trades",
    data: () => ({
        trades: []
    }),
    filters: {
        timeFilter(value) {
            const time = new Date(value)
            const hours = time.getHours()
            const minutes = time.getMinutes()
            const seconds = time.getSeconds()

            return `${hours}:${minutes}:${seconds}`
        }
    },
    sockets: {
        trades(value) {
            this.trades = value;
        }
    }
}
</script>