<template>
    <div
    class="d-flex flex-column  stacks-type-10"
    >
        <div
            id="tv_chart_container"
            data-after="Click to interact"
            class="TradingView isActive"
        >
            <div
                ref="tradingview"
                :id="container"
                class="tradingview-widget-container"
            >
                <div class="tradingview-widget-container__widget"></div>
            </div>
        </div>
        <!---->
    </div>
</template>

<script>
const SCRIPT_ID = "tradingview-widget-script";
const CONTAINER_ID = "tradingview-widget-container";
export default {
    name: "ForexCrossRates",
    data() {
        return {
            container: CONTAINER_ID
        };
    },
    props: {
        options: {
            type: Object,
            default: () => ({
                symbol: "BTCUSD",
                style: 1,
                timezone: "exchange",
                interval: "H",
                theme: "dark",
                isTransparent: false,
                largeChartUrl: "",
                width: "100%",
                height: "100%",
                locale: "en",
                enable_publishing: false,
                withdateranges: true,
                hide_side_toolbar: false,
                allow_symbol_change: false,
                container_id: CONTAINER_ID
            })
        }
    },
    computed: {
        stateSymbol() {
            const symbol = this.$store.state.tradingActiveSymbol.replace("/", "")
            if (symbol.includes("USDT")) return symbol.slice(0, symbol.length - 1)

            return symbol
        }
    },
    methods: {
        canUseDOM() {
            return (
                typeof window !== "undefined" &&
                window.document &&
                window.document.createElement
            );
        },
        getScriptElement() {
            return document.getElementById(SCRIPT_ID);
        },
        updateOnloadListener(onload) {
            const script = this.getScriptElement();
            const oldOnload = script.onload;
            return (script.onload = () => {
                oldOnload();
                onload();
            });
        },
        scriptExists() {
            return this.getScriptElement() !== null;
        },
        appendScript(onload) {
            if (!this.canUseDOM()) {
                onload();
                return;
            }

            if (this.scriptExists()) {
                if (typeof TradingView === "undefined") {
                    this.updateOnloadListener(onload);
                    return;
                }
                onload();
                return;
            }
            const script = document.createElement("script");
            script.id = SCRIPT_ID;
            script.type = "text/javascript";
            script.async = true;
            script.src =
                "https://s3.tradingview.com/tv.js";
            script.onload = onload;
            script.textContent = `new TradingView.widget(${JSON.stringify(this.options)})`

            this.$refs.tradingview.appendChild(script);
        },
        initWidget() {
            console.log("[widget-forex-cross-rages] loaded")
            this.options.symbol = this.stateSymbol
            new TradingView.widget(this.options)
        }
    },

    watch: {
        stateSymbol(newVal) {
            this.appendScript(this.initWidget);
        }
    },
    mounted() {
        setTimeout(() => {
            this.appendScript(this.initWidget);
        }, 300)
    }
};
</script>
