<template>
    <div class="BalanceTableRowsWrapper__rowContainer">
        <div class="BalanceTableRow" style="">
            <div class="BalanceTableRow__info cell">
                <div class="BalanceTableRow__infoArrowContainer">

                </div>
                <img
                    alt="coin"
                    :src="`https://res.xeaxea.com/resource-upload/${item.symbol.split('/')[0]}.png`"
                    class="BalanceTableRow__info__coinIcon"
                />
                <div class="BalanceTableRow__info__ticker">{{ item.symbol.split('/')[0] }}</div>
                <a
                    href="https://etherscan.io/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="BalanceTableRow__infoExplorer d-none d-lg-flex justify-content-center align-items-center"
                    ><svg
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class=""
                    >
                        <path
                            d="M4.206 5.253L.827 8.643a2.827 2.827 0 000 3.996l.522.522c.533.534 1.245.83 2.004.83.758 0 1.47-.296 2.003-.83l1.601-1.6a.609.609 0 00.178-.44.609.609 0 00-.617-.616c-.166 0-.32.06-.438.178l-1.601 1.6c-.285.285-.7.451-1.126.451-.427 0-.842-.166-1.127-.45l-.522-.522a1.603 1.603 0 010-2.253l3.391-3.39c.285-.285.7-.451 1.127-.451.427 0 .842.166 1.126.45l.522.522a.63.63 0 00.877 0 .609.609 0 00.178-.439.594.594 0 00-.19-.427l-.521-.521a2.816 2.816 0 00-2.004-.83c-.759 0-1.47.296-2.004.83z"
                            fill="#969FA8"
                        ></path>
                        <path
                            d="M7.775 9.568c.759 0 1.47-.296 2.004-.83l3.391-3.39c.534-.534.83-1.246.83-2.004 0-.76-.296-1.47-.83-2.004l-.534-.51A2.816 2.816 0 0010.633 0c-.76 0-1.459.296-1.992.83L7.17 2.288a.662.662 0 00-.178.44c0 .165.059.32.177.438a.63.63 0 00.878 0l1.458-1.459c.297-.296.7-.462 1.127-.462.427 0 .83.166 1.126.462l.522.522c.296.297.462.7.462 1.126 0 .427-.166.83-.462 1.127L8.9 7.862c-.284.284-.699.45-1.126.45-.427 0-.842-.166-1.126-.45a.609.609 0 00-.439-.179c-.166 0-.32.06-.439.178a.63.63 0 000 .878c.534.533 1.245.83 2.004.83z"
                            fill="#969FA8"
                        ></path></svg
                ></a>
            </div>
            <div class="BalanceTableRow__label cell d-none d-lg-flex">
                <div class="label">{{ item.symbol }}</div>
            </div>
            <div class="BalanceTableRow__depositWithdraw cell d-none d-lg-flex">
                <button class="BaseButton" @click="showModal('Deposit')">Deposit</button
                ><button class="BaseButton" @click="showModal('Withdrawal')">Withdrawal</button>
            </div>
            <div class="BalanceTableRow__mainBalance cell justify-content-end">
                0
            </div>
            <div class="BalanceTableRow__transfer cell">
                <button class="BalanceTableRow__transferButton BaseButton">
                    <svg
                        width="15"
                        height="14"
                        viewBox="0 0 15 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="d-none d-sm-block"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M3.005 6.795a.703.703 0 00.99-.001.7.7 0 000-.99L2.39 4.199h10.911a.7.7 0 000-1.4H2.391l1.604-1.604a.7.7 0 00-.99-.99l-2.8 2.8a.7.7 0 000 .99l2.8 2.8z"
                            fill="#B1A14F"
                        ></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M10.005 13.796a.703.703 0 00.99.001l2.8-2.8a.7.7 0 000-.99l-2.8-2.8a.7.7 0 00-.99.99L11.61 9.8H.7a.7.7 0 000 1.4h10.911l-1.606 1.606a.7.7 0 000 .99z"
                            fill="#B1A14F"
                        ></path></svg
                    ><span>Transfer</span>
                </button>
            </div>
            <div
                class="BalanceTableRow__tradeBalance cell justify-content-start"
            >
                0
            </div>
            <div
                class="BalanceTableRow__freezedBalance cell justify-content-start d-none d-lg-flex"
            >
                0
            </div>
        </div>
        <div
            class="BalanceTableRowsWrapper__rowContainer__currencyInformation d-flex flex-column"
        >
            <!---->
        </div>
    </div>
</template>

<script>
export default {
    name: "BalanceItem",
    props: ['item'],
    methods: {
        showModal(data) {
            this.$emit("stateModal", {
                coinName: "ETH",
                modalName: data
            })
        },
    }
}
</script>

