<template>
    <div
        class="Balance__main__underTable d-flex align-items-center justify-content-between mb-3 mx-3 mx-sm-0"
    >
        <div class="d-flex w-100">
            <div class="d-flex flex-column-reverse flex-md-row">
                <div class="Search">
                    <input
                        type="text"
                        id="0.31"
                        placeholder="Search"
                        class="Search__input"
                    /><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="Search__icon"
                    >
                        <path
                            d="M13.615 15.636l-4.075-4.11c-.993.602-2.087 1.003-3.379 1.003C2.783 12.529 0 9.722 0 6.214 0 2.806 2.783 0 6.26 0c3.38 0 6.262 2.806 6.262 6.214 0 1.203-.398 2.406-.994 3.408l1.093 1.103 2.981 3.007c.299.3.398.6.398.902 0 .3-.1.701-.398.902-.596.601-1.39.601-1.987.1zM6.26.702C3.279.702.795 3.207.795 6.214c0 3.007 2.485 5.513 5.466 5.513 2.981 0 5.466-2.506 5.466-5.513S9.242.702 6.26.702zm4.77 9.521l-.795.802.795.802.795-.802-.795-.802zm3.975 4.912c.298-.301.298-.602 0-.802l-2.683-2.706-.795.801 2.683 2.707c.199.2.497.2.795 0z"
                            fill="#969FA8"
                        ></path></svg
                    ><!---->
                </div>
                <div class="hideZeros d-flex align-items-center my-3 my-md-0">
                    <div class="mr-2">Hide zero balances</div>
                    <div class="BaseSwitchContainer ">
                        <input
                            id="_switch"
                            type="checkbox"
                            class="BaseSwitchContainer__switch"
                        /><label
                            for="_switch"
                            class="BaseSwitchContainer__label"
                        ></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
