<template>
    <div class="Modal__container Withdraw ">
        <div class="Modal__close p-3 p-md-4" @click="closeModal()">
            <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class=""
            >
                <g clip-path="url(#clip771)">
                    <path
                        d="M9.415 8l6.292-6.291A1 1 0 1014.292.294L8 6.586 1.708.294A1 1 0 10.293 1.71l6.292 6.292-6.292 6.292a1 1 0 101.415 1.414L8 9.415l6.292 6.292a.997.997 0 001.415 0 1 1 0 000-1.415L9.415 8.001z"
                        fill="#A6A6A6"
                    ></path>
                </g>
                <defs>
                    <clipPath id="clip771">
                        <path fill="#fff" d="M0 0h16v16H0z"></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <!---->
        <div class="Modal__body container-fluid px-0">
            <div class="text-center WithdrawModal__title">Withdrawal BTC</div>
            <div
                class="CurrencyHeightStatus d-flex flex-column align-items-center mb-3"
            >
                <h4 class="CurrencyHeightStatus__title text-center">
                    Wallet status:
                </h4>
                <p class="CurrencyHeightStatus__message">
                    <span>Online (654683 blocks)</span>
                </p>
            </div>
            <!----><!---->
            <div
                class="WithdrawModal__mainContent d-flex flex-column flex-lg-row align-items-center justify-content-center"
            >
                <div
                    class="WithdrawModal__currencyInfo d-flex flex-column align-self-stretch"
                >
                    <div
                        class="CurrencyInformationModal CurrencyInformationModal-withdraw justify-content-between"
                    >
                        <div class="CurrencyInformationModal__balance">
                            <span class="CurrencyInformationModal__balanceTitle"
                                >Available</span
                            ><span>0 BTC</span>
                        </div>
                        <div class="CurrencyInformationModal__balanceData">
                            <div
                                class="CurrencyInformationModal__balanceDataTypes"
                            >
                                <div
                                    class="CurrencyInformationModal__balanceDataType"
                                >
                                    <div>Total Balance:</div>
                                    <div
                                        class="CurrencyInformationModal__balanceDataValue"
                                    >
                                        0 BTC
                                    </div>
                                </div>
                                <div
                                    class="CurrencyInformationModal__balanceDataType"
                                >
                                    <div>In orders:</div>
                                    <div
                                        class="CurrencyInformationModal__balanceDataValue"
                                    >
                                        0 BTC
                                    </div>
                                </div>
                                <div
                                    class="CurrencyInformationModal__balanceDataType"
                                >
                                    <div>Main balance:</div>
                                    <div
                                        class="CurrencyInformationModal__balanceDataValue"
                                    >
                                        0 BTC
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="CurrencyInformationModal__limits">
                            <div class="CurrencyInformationModal__limitsValues">
                                <div class="mr-3">
                                    Remaining limit: <span>2</span> / 2 BTC
                                </div>
                                <div>
                                    Renews in:
                                    <!---->
                                </div>
                            </div>
                            <span class="CurrencyInformationModal__hint"
                                >Please
                                <a
                                    href="/settings/verification"
                                    class="BaseRouterLink false"
                                    place="link"
                                >
                                    verify your identity
                                </a>
                                to increase your withdrawal limit</span
                            >
                        </div>
                        <div
                            class="CurrencyInformationModal__balanceData CurrencyInformationModal__balanceData_extra"
                        >
                            <div
                                class="CurrencyInformationModal__balanceDataType"
                            >
                                <div>Daily limit:</div>
                                <div
                                    class="CurrencyInformationModal__balanceDataValue CurrencyInformationModal__redStarAfter"
                                >
                                    2 BTC (2 BTC)
                                </div>
                            </div>
                            <div
                                class="CurrencyInformationModal__balanceDataType"
                            >
                                <div>Remaining limit:</div>
                                <div
                                    class="CurrencyInformationModal__balanceDataValue"
                                >
                                    2 BTC (2 BTC)
                                </div>
                            </div>
                            <div
                                class="CurrencyInformationModal__balanceDataType"
                            >
                                <div>Renews in:</div>
                                <div
                                    class="CurrencyInformationModal__balanceDataValue"
                                >
                                    <div class="Counter">4h 14 min</div>
                                </div>
                            </div>
                        </div>
                        <div class="CurrencyInformationModal__pairs">
                            <svg
                                width="26"
                                height="11"
                                viewBox="0 0 26 11"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M1 10.23l9.23-6.153L15.155 9 25 1m0 0v3.692M25 1h-3.692"
                                    stroke="#969FA8"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>
                            <div class="text ml-2">Go to Trade</div>
                            <a
                                href="/trade/BTC_XRP"
                                class="BaseRouterLink pair false"
                            >
                                XRP </a
                            ><a
                                href="/trade/BTC_AGRS"
                                class="BaseRouterLink pair false"
                            >
                                AGRS </a
                            ><a
                                href="/trade/BTC_XHV"
                                class="BaseRouterLink pair false"
                            >
                                XHV
                            </a>
                        </div>
                        <!----><span
                            class="CurrencyInformationModal__hint CurrencyInformationModal__hint_lg CurrencyInformationModal__redStarBefore"
                            >Please
                            <a
                                href="/settings/verification"
                                class="BaseRouterLink false"
                                place="link"
                            >
                                verify your identity
                            </a>
                            to increase your withdrawal limit</span
                        >
                    </div>
                </div>
                <div
                    class="WithdrawModal__withdraw d-flex flex-column align-self-stretch"
                >
                    <form
                        novalidate="novalidate"
                        autocomplete="off"
                        class="d-flex flex-column align-self-stretch flex-grow-1"
                    >
                        <div class="WithdrawModal__formFields">
                            <!----><!---->
                            <div class="BaseInput is-big theme-1 is-error">
                                <div class="BaseInput__group">
                                    <label
                                        for="BaseInputId-42"
                                        class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                        >Withdrawal address</label
                                    >
                                    <div class="BaseInput__inputWrap">
                                        <!----><!----><input
                                            id="BaseInputId-42"
                                            autocomplete="off"
                                            tooltipvalue=""
                                            type=""
                                            class="BaseInput__input error"
                                        /><!---->
                                    </div>
                                </div>
                                <!---->
                                <div
                                    class="BaseValidationError is-active"
                                    style="visibility: unset;"
                                >
                                    <div class="BaseValidationError__message">
                                        Field is required
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <!----><!----><!----><!----><!---->
                            <div class="BaseInput is-big theme-1">
                                <div class="BaseInput__group">
                                    <label
                                        for="BaseInputId-43"
                                        class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                        >Amount</label
                                    >
                                    <div class="BaseInput__inputWrap">
                                        <!----><!----><input
                                            id="BaseInputId-43"
                                            inputmode="decimal"
                                            autocomplete="off"
                                            tooltipvalue=""
                                            type=""
                                            class="BaseInput__input"
                                        />
                                        <div class="BaseInput__button">Max</div>
                                    </div>
                                </div>
                                <!---->
                                <div
                                    class="BaseValidationError"
                                    style="visibility: unset;"
                                >
                                    <div
                                        class="BaseValidationError__message"
                                    ></div>
                                </div>
                                <!---->
                            </div>
                            <div class="BaseInput is-big theme-1">
                                <div class="BaseInput__group">
                                    <label
                                        for="BaseInputId-44"
                                        class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                        >Total (BTC)</label
                                    >
                                    <div class="BaseInput__inputWrap">
                                        <!----><!----><input
                                            id="BaseInputId-44"
                                            inputmode="decimal"
                                            autocomplete="on"
                                            tooltipvalue=""
                                            type=""
                                            class="BaseInput__input"
                                        /><!---->
                                    </div>
                                </div>
                                <!---->
                                <div
                                    class="BaseValidationError"
                                    style="visibility: unset;"
                                >
                                    <div
                                        class="BaseValidationError__message"
                                    ></div>
                                </div>
                                <!---->
                            </div>
                            <div
                                class="BaseInput is-big theme-1"
                                disabled="disabled"
                            >
                                <div class="BaseInput__group">
                                    <label
                                        for="BaseInputId-45"
                                        class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                        >BTC balance after withdrawal</label
                                    >
                                    <div class="BaseInput__inputWrap">
                                        <!----><!----><input
                                            id="BaseInputId-45"
                                            autocomplete="on"
                                            tooltipvalue=""
                                            type=""
                                            disabled="disabled"
                                            class="BaseInput__input"
                                        /><!---->
                                    </div>
                                </div>
                                <!---->
                                <div
                                    class="BaseValidationError"
                                    style="visibility: unset;"
                                >
                                    <div
                                        class="BaseValidationError__message"
                                    ></div>
                                </div>
                                <!---->
                            </div>
                            <p class="mb-0 WithdrawModal__feeText text-center">
                                Fee: 0.0004 BTC
                            </p>
                        </div>
                        <div class="WithdrawModal__formButtons">
                            <div class="BaseValidationError mb-2">
                                <div class="BaseValidationError__message"></div>
                            </div>
                            <button
                                type="submit"
                                class="BaseButton WithdrawModal__button is-cancel is-m"
                            >
                                <span class="BaseButton__content">
                                    Withdrawal request </span
                                ><!---->
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!---->
    </div>
</template>

<script>
export default {
    name: "Withdrawal",
    props: ['value'],
    methods: {
        closeModal() {
            this.$emit("stateModal", {
                success: false
            })
        }
    }
}
</script>

<style lang="scss">
.Card {
    padding: 16px 15px;
    background: #f2f2f2;
    border-radius: 10px;
    margin: 10px 0;
}
.Card__icons {
    text-align: right;
}
.Card__numberInput {
    margin: 10px 0;
}
.Card__expDate {
    margin-bottom: 18px;
    margin-top: 16px;
    margin-left: 65%;
    width: 25%;
}
.Card__names .CardInput {
    margin: 0 5px;
}
.Card__expDate .CardInput__validation {
    right: 0;
    text-align: right;
    width: 250px;
}
.WithdrawModal__button:hover .WithdrawModal__icon path:first-of-type {
    transform: translateX(2px);
}
.WithdrawModal__icon path:first-of-type {
    transition: transform 0.2s;
}
.WithdrawModal__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.WithdrawModal__warning {
    font-weight: 300;
    background-color: rgba(200, 49, 62, 0.1);
    padding: 0.5rem;
    border-radius: 4px;
}
.WithdrawModal__warning,
.WithdrawModal__warning.is-bold {
    font-size: 0.8125rem;
    color: #c8313e;
    color: var(--c-red, #c8313e);
}
.WithdrawModal__warning.is-bold {
    font-weight: 800;
}
.WithdrawModal__feeText {
    font-size: 0.875rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
    font-weight: 600;
}
.WithdrawModal__merchants {
    margin-bottom: -1.6rem;
}
.WithdrawModal__merchants > svg {
    margin-left: 0.3rem;
    width: 30px;
    height: 100%;
}
.WithdrawModal__currencyInfo {
    width: 100%;
    background-color: #fff;
    padding: 20px 16px 0;
    border-radius: 10px 10px 0 0;
}
@media (min-width: 576px) {
    .WithdrawModal__currencyInfo {
        border: 1px solid #f1f2f3;
        border-bottom: none;
    }
}
@media (min-width: 992px) {
    .WithdrawModal__currencyInfo {
        padding: 20px 30px;
        margin-right: 20px;
        width: 400px;
        min-height: 360px;
        border-radius: 10px;
        border-bottom: unset;
    }
}
.WithdrawModal__mainContent {
    max-height: 100%;
    overflow-y: auto;
}
.WithdrawModal__withdraw {
    width: 100%;
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 0 0 10px 10px;
}
@media (min-width: 576px) {
    .WithdrawModal__withdraw {
        border: 1px solid #f1f2f3;
        border-top: none;
    }
}
@media (min-width: 992px) {
    .WithdrawModal__withdraw {
        width: 400px;
        min-height: 100;
        border-radius: 10px;
        border-top: unset;
    }
}
.WithdrawModal__withdraw form {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow: visible;
}
@media (min-width: 992px) {
    .WithdrawModal__withdraw form {
        max-height: 440px;
        overflow: auto;
    }
}
.WithdrawModal__button {
    width: 100%;
}
.Withdraw {
    border-radius: 10px !important;
    max-width: 460px;
    background-color: #fff !important;
}
.Withdraw.is-2fa {
    min-width: 320px !important;
    max-width: 320px !important;
}
@media (min-width: 768px) {
    .Withdraw.is-2fa {
        min-width: 450px;
        max-width: 450px;
    }
}
@media (min-width: 576px) {
    .Withdraw {
        min-width: 460px;
        max-width: 460px;
        padding: 0 40px;
        background-color: #f9fafb !important;
    }
}
@media (min-width: 768px) {
    .Withdraw {
        min-width: 600px;
        max-width: 600px;
    }
}
@media (min-width: 992px) {
    .Withdraw {
        min-width: 900px;
        max-width: 900px;
    }
}
.Withdraw .BaseInput__input,
.Withdraw .multiselect__tags {
    padding-right: 3.1rem;
    border-radius: 4px !important;
}
.Withdraw .BaseAutocomplete__label,
.Withdraw .BaseInput__label,
.Withdraw .BaseMultiselect__label,
.Withdraw .WithdrawModal__address {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #595959 !important;
}
.Withdraw .BaseCopyValueInput {
    border-radius: 4px;
    background: #f6f7f8;
    border: 1px solid #ddd;
}
.Withdraw .BaseCopyValueInput .radius {
    border-radius: 0 4px 4px 0 !important;
}
.Withdraw .BaseCopyValueInput .BaseButton {
    box-shadow: none;
}
.Withdraw .BaseCopyValueInput .BaseButton:active,
.Withdraw .BaseCopyValueInput .BaseButton:focus,
.Withdraw .BaseCopyValueInput .BaseButton:hover {
    transform: none;
    box-shadow: none;
}
.Withdraw .BaseInput__input {
    border-radius: 4px;
}
.Withdraw .BaseInput__input:disabled {
    background-color: #f6f7f8 !important;
}
.Withdraw .BaseInput__button {
    position: absolute;
    right: 0 !important;
    top: 50%;
    height: calc(100% - 1px);
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-left: 1px solid #f2f2f2;
    background-color: unset !important;
    font-weight: 500 !important;
    transition: all 0.3s cubic-bezier(0.7, -0.38, 0.23, 1.37) !important;
}
.Withdraw .BaseInput__label {
    font-weight: 400;
}
.Withdraw .BaseInput__input:focus ~ .BaseInput__button {
    border-left: 1px solid #c9aa4c;
}
.Withdraw .CurrencyHeightStatus__title {
    display: none;
}
.Withdraw .CurrencyHeightStatus__message,
.Withdraw .CurrencyHeightStatus__message.is-red {
    background-color: #f9fafb !important;
}
.Withdraw .BaseAutocomplete__filteredList {
    top: -4px;
}
.Withdraw .cards {
    position: absolute;
    bottom: 5px;
    right: 8px;
}
.Withdraw .cards svg {
    width: 30px;
}
.Withdraw .cards .mir {
    width: 36px;
    height: 30px;
}
.Withdraw .tooltip {
    max-height: 200px;
    transition: max-height 0.3s;
    overflow: hidden;
    font-size: 14px;
    color: #b1a14f;
    margin-bottom: 8px;
}
.Withdraw .tooltip svg {
    cursor: pointer;
    outline: none;
}
.Withdraw .tooltip svg:hover path {
    fill: #000;
}
.Withdraw .tooltip svg:hover circle {
    stroke: #000;
}
.Withdraw .tooltip svg circle,
.Withdraw .tooltip svg path {
    transition: fill 0.2s;
}
.tooltip {
    display: block !important;
    z-index: 10000;
}
.tooltip .popover-inner,
.tooltip .tooltip-inner {
    background: #f1f2f3 !important;
    color: #302c29 !important;
    border-radius: 16px;
    padding: 5px 10px 4px;
    max-width: 300px;
}
.tooltip .popover-arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #f1f2f3 !important;
    z-index: 1;
}
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
    margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.tooltip[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}
</style>
