<template>
    <div class="Balance__header">
        <div class="container">
            <div
                class="Balance__header__availableBalance d-flex flex-column flex-md-row justify-content-between"
            >
                <div class="Balance__titleWrapper">
                    <span class="Balance__header__availableBalance__current"
                        >Spot Balance</span
                    ><span class="Balance__header__availableBalance__inActive"
                        >Margin Balance</span
                    >
                </div>
                <div
                    class="Balance__header__availableBalance__balanceQual d-flex flex-column"
                >
                    <span
                        class="BTC d-flex align-items-baseline justify-content-start justify-content-md-end mr-3 mr-md-0 mb-3"
                        ><div place="ticker" class="ticker">BTC</div>
                        <div place="space" class="space"></div>
                        equivalent
                        <div place="space" class="space"></div>
                        <div place="value" class="value">0</div></span
                    ><span
                        class="USD d-flex align-items-end justify-content-start justify-content-md-end"
                        ><div place="ticker" class="ticker">USD</div>
                        <div place="space" class="space"></div>
                        equivalent
                        <div place="space" class="space"></div>
                        <div place="value" class="value">0</div></span
                    ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="showHideIcon"
                    >
                        <path
                            d="M7.92 4.571a3.15 3.15 0 10-.001 6.3 3.15 3.15 0 000-6.3zm0 5.3c-1.19 0-2.15-.97-2.15-2.15s.96-2.15 2.15-2.15 2.15.96 2.15 2.15-.96 2.15-2.15 2.15z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M15.85 7.721c0-.03 0-.06-.01-.09s-.02-.06-.03-.1c-.01-.02-.01-.04-.02-.06-1.58-2.79-4.62-4.52-7.98-4.47-3.23.04-6.18 1.73-7.72 4.42-.01.02-.02.03-.04.05-.01.02-.01.04-.01.06a.3.3 0 00-.04.1v.09c0 .03 0 .06.01.09l.03.1c.01.02.01.04.02.06.01.02.02.03.03.05 1.57 2.7 4.62 4.41 7.84 4.41h.3c5.05-.17 7.46-4.29 7.55-4.46.01-.02.01-.04.02-.06.01-.03.03-.06.03-.1.01-.03.02-.06.02-.09zm-7.65 3.71c-2.88.1-5.64-1.36-7.11-3.71 1.4-2.26 3.94-3.68 6.74-3.71 2.88-.04 5.5 1.39 6.93 3.72-.58.83-2.73 3.58-6.56 3.7z"
                            fill="#fff"
                        ></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BalanceHeader"
};
</script>
