<template>
    <div class="Balance__main">
        <upper-table />

        <div class="BalanceTable">
            <table-header />

            <div class="BalanceTableRowsWrapper">
                <balance-item @stateModal="stateModal" v-for="(item, index) of markets.slice(0, 10)" :key="index" :item="item" />
            </div>
        </div>
    </div>
</template>


<script>
import UpperTable from "./Main/UpperTable"
import TableHeader from "./Main/TableHeader"
import BalanceItem from "./Main/BalanceItem"

export default {
    name: "Main",
    components: {
        UpperTable,
        TableHeader,
        BalanceItem
    },
    computed: {
        markets() {
            return this.$store.state.markets.sort((a, b) => b.quoteVolume - a.quoteVolume)
        }
    },
    methods: {
        stateModal(data) {
            this.$emit("stateModal", {
                success: true, ...data
            })
        }
    }
}
</script>

<style lang="scss">
@import "../../assets/css/deposit.css";
</style>