.Auth { flex-grow: 1; margin: 0px !important; }
.Auth .errorMessage { height: 16px; font-size: 0.875rem; color: var(--c-red,#c8313e); font-weight: 400; opacity: 0; }
.Auth .errorMessage.isActive { opacity: 1; }
.Auth .geetest_wind { min-width: 190px; width: 100% !important; }
.Auth .geetest_radar_btn { background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(247, 247, 247); padding: 0px 4px; border: none !important; background-image: none !important; border-radius: 5px !important; }
.Auth .BaseCaptcha__geeTest { border: 1px solid rgb(221, 221, 221); border-radius: 5px; }
.Auth .captcha { height: 48px; border-radius: 5px; }
.Auth .captcha.captchaError { border-color: var(--c-red,#c8313e) !important; }
.Auth .captcha .BaseValidationError { position: relative; top: 0px; text-align: right; }
.Auth .captcha .BaseValidationError__message { margin-top: 0px; }
.Auth__tooltiped-input { position: relative; }
.Auth__tooltiped-input .tooltip-icon { position: absolute; top: 20px; right: 36px; display: none; outline: none; width: 16px; height: 16px; }
@media (min-width: 1440px) {
  .Auth__tooltiped-input .tooltip-icon { top: 24px; }
}
.Auth__tooltiped-input .tooltip-icon path { fill: rgb(201, 170, 76); }
.Auth__tooltiped-input .is-active { display: block; }
.Auth__cardHeader { width: calc(100% + 2rem); height: 48px; margin-top: -1rem; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: rgb(0, 0, 0); margin-bottom: 30px; }
.Auth .BaseH1 { height: 48px; line-height: 48px; color: rgb(255, 255, 255); display: flex; justify-content: center; text-transform: uppercase; font-weight: 500; font-size: 14px; margin: 0px !important; }
.Auth__block { display: flex; flex-direction: row; align-items: center; width: 90%; margin: 20px; border-radius: 10px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .Auth__block { width: 100px; margin: 20px 0px; }
}
@media (min-height: 600px) and (min-width: 768px) {
  .Auth__block { margin-top: -150px; }
}
@media (min-width: 768px) {
  .Auth__block { margin: 80px 0px; width: 70%; }
}
@media (min-width: 992px) {
  .Auth__block { width: 50%; }
}
.Auth__block .BaseButton { margin-bottom: 25px; background-color: var(--c-main,#c9aa4c); border-color: var(--c-main,#c9aa4c); }
.Auth__policy { font-size: 0.875rem; color: var(--c-auth-policy,#a6a6a6); font-weight: 400; }
.Auth .small { margin-top: 1em; font-size: 13px; }
.Auth .underline { text-decoration: underline; }
.Auth .backToLogin { }
.Auth .password-tooltip { overflow: hidden; max-height: 0px; transition: max-height 0.3s ease 0s; }
.Auth .password-tooltip.is-active-tooltip { max-height: 200px; }
.Auth .password-tooltip ul { padding-left: 16px; }

.WarningMessage { font-size: 0.875rem; color: var(--c-main-dark-text,#151515); font-weight: 400; }
.WarningMessage__appInputLink { width: 100%; border-width: 1px; border-style: solid; border-image: initial; outline: none; min-width: 100px; background: rgb(247, 247, 247); border-radius: 4px; color: rgb(144, 144, 144); border-color: rgb(221, 221, 221) !important; }
.WarningMessage__appInputLink::placeholder { font-size: 0.875rem; color: var(--c-alt-text,#5c5a76); font-weight: 300; }
.WarningMessage__appInputLink:active:not(:disabled), .WarningMessage__appInputLink:focus:not(:disabled) { border-color: rgb(201, 170, 76); outline: none; box-shadow: none; }
.WarningMessage__appInputLink .https { color: rgb(41, 128, 63); }
.WarningMessage__appInputLink .link { color: rgb(21, 21, 21); }

.PasswordInput { position: relative; }
.PasswordInput__eye { position: absolute; top: 45%; right: 0px; transform: translateY(-50%); cursor: pointer; opacity: 1; z-index: 2; transition-delay: 0.1s; margin-top: -5px; margin-right: 6px; }
.PasswordInput__eye.is-active { opacity: 1; }
.PasswordInput__eyeIcon { position: absolute; top: 0px; right: -4px; background-color: rgb(255, 255, 255); }

.BaseCheckbox { user-select: none; display: flex; align-items: flex-start; justify-content: center; width: fit-content; line-height: 18px; }
.BaseCheckbox__checkbox { display: flex; justify-content: center; align-items: center; min-width: 18px; max-width: 18px; height: 18px; border-radius: 4px; border: 1px solid rgb(232, 233, 234); background-color: rgb(255, 255, 255); cursor: pointer; transition: background-color 0.2s ease 0s, border-color 0.4s ease 0s; }
.BaseCheckbox__checkbox.isChecked { background-color: rgb(201, 170, 76); border-color: rgb(201, 170, 76); }
.BaseCheckbox__label { margin-left: 12px; }
.Register__agree { position: relative; }
.Register__agree-text { font-size: 0.8125rem; color: var(--c-auth-placeholder,#848ca1); font-weight: 400; }
.Register__agree.checkBoxError > .checkbox-component > label > .input-box { border-color: var(--c-red,#c8313e) !important; }
.Register__agree .warning-bold { font-weight: 700; }
.Register__agree .warning-text { font-size: 12px; padding-left: 30px; }
.Register__agree.checkBoxError .BaseCheckbox__checkbox { border-color: rgb(234, 54, 106); }
.Register .NativeInput { overflow: hidden; box-sizing: border-box; }
.Register .BaseCheckbox__checkbox { margin-right: 11px; }
.Register .checkbox-component > input:checked + label > .input-box > .input-box-tick > path { stroke: rgb(201, 170, 76); }
.Register .checkbox-component > input:checked + label > .input-box > .input-box-tick { vertical-align: text-top; }
.Register .checkbox-component > input + label > .input-box { flex-shrink: 0; width: 16px !important; height: 16px !important; border-width: 1px !important; border-style: solid !important; border-image: initial !important; border-color: var(--c-main,#c9aa4c) !important; background-color: transparent !important; }
@media (min-width: 992px) {
  .Register .checkbox-component > input + label > .input-box { width: 16px !important; height: 16px !important; padding-top: 0px !important; margin-right: 15px !important; }
}

.ForgotPassword__block-footer{display:flex;flex-direction:column;margin:25px auto 0}.ForgotPassword__block-footer .gold-link{font-weight:500;font-size:14px;color:#c9aa4c;color:var(--c-main,#c9aa4c);cursor:pointer}