.CreateCodeForm {
    display: flex;
    margin-bottom: 30px
}

@media (min-width:768px) {
    .CreateCodeForm {
        margin-bottom: 15px
    }
}

.CreateCodeForm__inputsWrapper {
    width: 100%
}

@media (min-width:768px) {
    .CreateCodeForm__inputsWrapper {
        width: 80%
    }
}

.CreateCodeForm__input {
    width: 100%;
    margin: 0
}

@media (min-width:768px) {
    .CreateCodeForm__input {
        margin: 0 20px 0 0
    }
}

.CreateCodeForm__input.description .BaseInput__input {
    font-style: italic
}

.CreateCodeForm__input.amount label {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important
}

.CreateCodeForm__input.required .BaseInput__label:after,
.CreateCodeForm__input.required .BaseMultiselect__label:after {
    content: "*";
    color: #c4b25e;
    margin-left: 5px
}

.CreateCodeForm__hiddenFields {
    max-height: unset
}

@media (min-width:768px) {
    .CreateCodeForm__hiddenFields {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s
    }

    .CreateCodeForm__hiddenFields.isActive {
        max-height: 200px
    }
}

.CreateCodeForm__createCode {
    height: 50px;
    width: 100%
}

@media (min-width:768px) {
    .CreateCodeForm__createCode {
        margin-top: 27px;
        width: 20%
    }
}

.CreateCodeForm .BaseInput__input,
.CreateCodeForm .multiselect__select,
.CreateCodeForm .multiselect__tags {
    border-radius: 4px;
    height: 50px !important;
    border-color: #e8e9ea;
    font-size: .875rem !important;
    color: #25233a !important;
    color: var(--c-main-text, #25233a) !important;
    font-weight: 400 !important;
    -moz-appearance: textfield
}

.CreateCodeForm .BaseInput__input::-webkit-inner-spin-button,
.CreateCodeForm .BaseInput__input::-webkit-outer-spin-button,
.CreateCodeForm .multiselect__select::-webkit-inner-spin-button,
.CreateCodeForm .multiselect__select::-webkit-outer-spin-button,
.CreateCodeForm .multiselect__tags::-webkit-inner-spin-button,
.CreateCodeForm .multiselect__tags::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.CreateCodeForm .BaseInput__input::-moz-placeholder,
.CreateCodeForm .multiselect__select::-moz-placeholder,
.CreateCodeForm .multiselect__tags::-moz-placeholder {
    font-size: .875rem !important;
    color: #c3c6c9 !important;
    color: var(--c-light-gray, #c3c6c9) !important;
    font-weight: 300 !important
}

.CreateCodeForm .BaseInput__input::placeholder,
.CreateCodeForm .multiselect__select::placeholder,
.CreateCodeForm .multiselect__tags::placeholder {
    font-size: .875rem !important;
    color: #c3c6c9 !important;
    color: var(--c-light-gray, #c3c6c9) !important;
    font-weight: 300 !important
}

.CreateCodeForm .BaseInput__input {
    padding-right: 76px
}

.CreateCodeForm .BaseInput__button {
    font-size: .6875rem;
    color: #b1a14f;
    color: var(--c-main-yellow, #b1a14f);
    font-weight: 500;
    right: 0;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #e8e9ea;
    height: 100%;
    background-color: unset !important;
    padding: 20px 20px 20px 20px !important
}

.CreateCodeForm .multiselect__select {
    line-height: 25px
}

.CreateCodeForm .BaseInput__label,
.CreateCodeForm .BaseMultiselect__label {
    font-size: .875rem !important;
    color: #969fa8 !important;
    color: var(--c-grey-middle-text, #969fa8) !important;
    font-weight: 500 !important
}

.CreateCodeForm .BaseButton__content {
    font-size: .875rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important
}

.CreateCodeForm .BaseValidationError {
    min-height: 30px !important
}

.Codes .BaseTable,
.Codes .BaseTable__overflowWrapper {
    min-width: 1020px;
    overflow: auto
}

@media (min-width:768px) {

    .Codes .BaseTable,
    .Codes .BaseTable__overflowWrapper {
        min-width: 520px
    }
}

@media (min-width:992px) {

    .Codes .BaseTable,
    .Codes .BaseTable__overflowWrapper {
        min-width: 100%
    }
}

.Codes__myCodesTable .BaseTable__grid {
    grid-template-columns: .1fr .7fr 2.4fr .5fr .5fr .6fr .8fr !important
}

@media (min-width:768px) {
    .Codes__myCodesTable .BaseTable__grid {
        grid-template-columns: .1fr .7fr 1.7fr .5fr .5fr .6fr .8fr !important
    }
}

.Codes__historyTable .BaseTable__grid {
    grid-template-columns: .1fr .7fr 1.2fr .5fr .5fr .7fr
}

.Codes .BaseTable__rows {
    min-height: unset
}

.Codes .BaseTable__rows:hover .BaseTable__row {
    background-color: #fff
}

.Codes .BaseTable__cell {
    display: flex;
    align-items: center;
    word-break: break-all
}

.Codes .BaseTable__cell.code-cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.Codes .BaseTable__cell.code-cell .code-cell-icon {
    line-height: 1;
    margin-right: 0
}

@media (min-width:768px) {
    .Codes .BaseTable__cell.code-cell .code-cell-icon {
        margin-right: 1rem
    }
}

.Codes .BaseTable__cell.index-cell {
    word-break: normal
}

.Codes .BaseTable__cell.description-cell {
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    font-weight: 400
}

.Codes .BaseTable__cell.description-cell-full:after {
    content: "...";
    color: #c4b25e
}

.Codes .BaseTable__cell.is-greenColorText {
    color: #4aa657
}

.Codes .BaseTable__cell.is-redColorText {
    color: #c8313e
}

.Codes .BaseTable__cell .activated,
.Codes .BaseTable__cell .new {
    text-align: center;
    border-radius: 4px;
    padding: 4px 0;
    width: 100%;
    word-break: break-word
}

@media (min-width:768px) {

    .Codes .BaseTable__cell .activated,
    .Codes .BaseTable__cell .new {
        width: 85%
    }
}

.Codes .BaseTable__cell .new {
    background-color: rgba(74, 166, 87, .1);
    color: #4aa657
}

.Codes .BaseTable__cell .activated {
    background-color: rgba(233, 126, 0, .1);
    color: #e97e00
}

.Codes__description {
    font-size: .875rem;
    color: #5c5a76;
    color: var(--c-common-text, #5c5a76);
    font-weight: 400
}

.Codes .BlockContent.isHistory {
    margin-bottom: 1rem
}

.Codes .BlockContent.tableBlock .BlockContent__content {
    overflow: auto
}

.Codes__column.is-id {
    width: 70px;
    padding-left: 20px
}

.Codes__column.is-id div {
    padding-left: 0
}

.Codes__column.is-date {
    width: 170px
}

.Codes__column.is-code {
    width: 304px;
    font-size: 11px
}

@media (min-width:1440px) {
    .Codes__column.is-code {
        width: 358px
    }
}

.Codes__column div {
    padding: 2px 4px 4px
}

@media (min-width:768px) {
    .Codes__column div {
        padding: 0 .25rem
    }
}

@media (min-width:992px) {
    .Codes__column div {
        padding: .5rem .5rem
    }
}

@media (min-width:1440px) {
    .Codes__column div {
        padding: .5rem .5rem
    }
}

.Codes__column.is-status>div {
    max-width: 100px;
    padding: .3rem;
    text-align: center
}

.Codes__column.is-new>div {
    background-color: rgba(74, 166, 87, .1);
    color: #4aa657
}

.Codes__column.is-activated>div {
    background-color: rgba(233, 126, 0, .1);
    color: #e97e00
}

.Codes .activateCode svg {
    display: none
}

@media (min-width:768px) {
    .Codes .activateCode svg {
        display: block
    }
}

.Codes .activateCode .BaseButton__content {
    font-size: .875rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important
}

.Codes .viewHistory {
    width: 100%;
    margin-bottom: 2.2rem
}

@media (min-width:768px) {
    .Codes .viewHistory {
        width: unset
    }
}

.Codes .viewHistory .BaseButton__content {
    text-transform: capitalize;
    font-size: .875rem !important;
    color: #b1a14f !important;
    color: var(--c-main-yellow, #b1a14f) !important;
    font-weight: 500 !important
}

.Codes .viewHistory:hover .BaseButton__content {
    color: #fff !important
}

.Codes .getGift {
    background-color: #fff;
    color: #09a25c;
    font-weight: 500;
    border-color: #09a25c;
    box-shadow: none;
    transition: all .3s;
    font-size: 11px
}

@media (min-width:768px) {
    .Codes .getGift {
        font-size: 14px
    }
}

.Codes .getGift:active,
.Codes .getGift:hover {
    transform: none;
    box-shadow: none;
    background-color: #e6f5ee
}

.Codes .getGift.isOpen {
    transform: none;
    box-shadow: none;
    background-color: #09a25c;
    color: #fff
}

.Codes .getGift.isOpen svg path {
    fill: #fff;
    stroke: #969fa8
}

.Codes .getGift:disabled {
    background-color: #e8e9ea;
    color: #969fa8;
    border-color: #e8e9ea
}

.Codes .getGift:disabled svg path {
    fill: #969fa8;
    stroke: #969fa8
}

.Codes .getGift:disabled .BasePopup {
    background-color: #f9fafb !important
}

.Codes .getGift:disabled .BasePopup__infoBlock {
    padding: 0 !important
}

@media (min-width:768px) {
    .Codes .getGift:disabled .BasePopup__infoBlock {
        padding: unset
    }
}

.Codes .PopupContent__title {
    margin-top: 12px;
    padding: 0 28px
}

.Codes .PopupContent__info {
    min-height: 200px;
    margin: 24px 0 32px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f1f2f3;
    padding: 20px 20px 30px
}

@media (min-width:768px) {
    .Codes .PopupContent__info {
        width: 500px;
        padding: 20px 30px 30px
    }
}

.Codes .alert {
    position: absolute;
    top: 4px;
    right: 0;
    color: #969fa8;
    font-size: 12px
}

.Codes .copyButton {
    position: absolute;
    top: 42%;
    right: 0;
    height: 58%;
    min-width: 52px;
    color: #fff;
    background-color: #c5b358;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer
}

.Codes .copyButton:disabled {
    background: #e8e9ea;
    border: 1px solid #ddd;
    color: #969fa8;
    cursor: unset
}

.Codes .steps {
    font-size: 13px
}

@media (min-width:768px) {
    .Codes .steps {
        font-size: 14px
    }
}

.Codes .title {
    color: #2e384d
}

.Codes .step {
    color: #62686d
}

.tooltip.codeTooltip {
    display: block !important;
    z-index: 10000
}

.tooltip.codeTooltip .tooltip-inner {
    background-color: #2d2926 !important;
    font-size: 12px;
    color: #fff !important;
    border-radius: 7px;
    padding: 5px 10px 4px;
    border: 1px solid #2d2926 !important
}

.tooltip.codeTooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #2d2926 !important;
    z-index: 1
}

.tooltip.codeTooltip[x-placement^=top] {
    margin-bottom: 5px
}

.tooltip.codeTooltip[x-placement^=top] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0
}

.tooltip.codeTooltip[x-placement^=bottom] {
    margin-top: 5px
}

.tooltip.codeTooltip[x-placement^=bottom] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0
}

.tooltip.codeTooltip[aria-hidden=true] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s
}

.tooltip.codeTooltip[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s
}

.BaseValidationError {
    font-size: .875rem;
    color: #c8313e;
    color: var(--c-red, #c8313e);
    font-weight: 300;
    min-height: 17px;
    line-height: 1;
    overflow: hidden
}

.BaseValidationError.is-small {
    min-height: 14px;
    font-size: .75rem
}

.BaseValidationError__message {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    transition: transform .2s cubic-bezier(.44, .13, .31, 1.23), opacity .2s cubic-bezier(.44, .13, .31, 1.23);
    transform: translateY(-100%)
}

.BaseValidationError.is-active .BaseValidationError__message {
    opacity: 1;
    transform: translateY(1px)
}

fieldset[disabled] .multiselect {
    pointer-events: none
}

.multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: 35px;
    background: #fff;
    display: block
}

.multiselect__spinner:after,
.multiselect__spinner:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41b883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent
}

.multiselect__spinner:before {
    -webkit-animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
    animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.multiselect__spinner:after {
    -webkit-animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8);
    animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    transition: opacity .4s ease-in-out;
    opacity: 1
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation
}

.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e
}

.multiselect * {
    box-sizing: border-box
}

.multiselect:focus {
    outline: none
}

.multiselect--disabled {
    background: #ededed;
    pointer-events: none;
    opacity: .6
}

.multiselect--active {
    z-index: 50
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.multiselect--active .multiselect__select {
    transform: rotate(180deg)
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.multiselect__input,
.multiselect__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0 0 0 5px;
    width: 100%;
    transition: border .1s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    vertical-align: top
}

.multiselect__input::-moz-placeholder {
    color: #35495e
}

.multiselect__input::placeholder {
    color: #35495e
}

.multiselect__tag~.multiselect__input,
.multiselect__tag~.multiselect__single {
    width: auto
}

.multiselect__input:hover,
.multiselect__single:hover {
    border-color: #cfcfcf
}

.multiselect__input:focus,
.multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none
}

.multiselect__single {
    padding-left: 5px;
    margin-bottom: 8px
}

.multiselect__tags-wrap {
    display: inline
}

.multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px
}

.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis
}

.multiselect__tag-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: normal;
    width: 22px;
    text-align: center;
    line-height: 22px;
    transition: all .2s ease;
    border-radius: 5px
}

.multiselect__tag-icon:after {
    content: "×";
    color: #266d4d;
    font-size: 14px
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: #369a6e
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
    color: #fff
}

.multiselect__current {
    min-height: 40px;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #e8e8e8
}

.multiselect__current,
.multiselect__select {
    line-height: 16px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    text-decoration: none;
    cursor: pointer
}

.multiselect__select {
    position: absolute;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    text-align: center;
    transition: transform .2s ease
}

.multiselect__select:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent transparent;
    content: ""
}

.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px
}

.multiselect--active .multiselect__placeholder {
    display: none
}

.multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
    -webkit-overflow-scrolling: touch
}

.multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top
}

.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-top: 1px solid #e8e8e8
}

.multiselect__content::webkit-scrollbar {
    display: none
}

.multiselect__element {
    display: block
}

.multiselect__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap
}

.multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px
}

.multiselect__option--highlight {
    background: #41b883;
    outline: none;
    color: #fff
}

.multiselect__option--highlight:after {
    content: attr(data-select);
    background: #41b883;
    color: #fff
}

.multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700
}

.multiselect__option--selected:after {
    content: attr(data-selected);
    color: silver
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6
}

.multiselect__option--disabled {
    background: #ededed !important;
    color: #a6a6a6 !important;
    cursor: text;
    pointer-events: none
}

.multiselect__option--group {
    background: #ededed;
    color: #35495e
}

.multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: #fff
}

.multiselect__option--group.multiselect__option--highlight:after {
    background: #35495e
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition: all .15s ease
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0
}

.multiselect__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top
}

[dir=rtl] .multiselect {
    text-align: right
}

[dir=rtl] .multiselect__select {
    right: auto;
    left: 1px
}

[dir=rtl] .multiselect__tags {
    padding: 8px 8px 0 40px
}

[dir=rtl] .multiselect__content {
    text-align: right
}

[dir=rtl] .multiselect__option:after {
    right: auto;
    left: 0
}

[dir=rtl] .multiselect__clear {
    right: auto;
    left: 12px
}

[dir=rtl] .multiselect__spinner {
    right: auto;
    left: 1px
}

@-webkit-keyframes spinning {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(2turn)
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(2turn)
    }
}

.BaseMultiselect.is-small .BaseMultiselect__label {
    font-size: .8125rem
}

.BaseMultiselect.is-small .BaseMultiselect__input {
    padding: .31rem
}

.BaseMultiselect.is-inline .BaseMultiselect__group {
    flex-direction: row;
    align-items: center
}

.BaseMultiselect.is-inline .BaseMultiselect__label {
    padding: 0;
    flex-basis: 25%
}

.BaseMultiselect.is-inline .BaseMultiselect__selectWrap {
    flex-grow: 1
}

.BaseMultiselect.is-inline .BaseMultiselect__error {
    padding-left: 25%
}

.BaseMultiselect__label {
    font-size: .8125rem;
    color: #848ca1;
    color: var(--c-label, #848ca1);
    font-weight: 600
}

.BaseMultiselect__group {
    display: flex;
    flex-direction: column
}

.multiselect {
    min-height: 37px
}

@media(min-width:1440px) {
    .multiselect {
        min-height: 41px
    }
}

.multiselect__tags {
    background-color: transparent;
    border-radius: 0;
    min-height: 37px;
    align-items: center;
    display: flex;
    padding-top: 0;
    font-size: .875rem;
    color: #5c5a76;
    color: var(--c-alt-text, #5c5a76);
    font-weight: 300;
    border-color: #f2f2f2 !important;
    border-color: var(--c-input-border, #f2f2f2) !important;
    transition: all .3s cubic-bezier(.7, -.38, .23, 1.37)
}

@media(min-width:1440px) {
    .multiselect__tags {
        min-height: 41px
    }
}

.multiselect__tags-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.multiselect--active .multiselect__tags {
    width: 100%;
    border-color: #c9aa4c !important;
    border-color: var(--c-main, #c9aa4c) !important
}

.multiselect--active {
    z-index: 2
}

.multiselect__select {
    height: 36px
}

@media(min-width:1440px) {
    .multiselect__select {
        height: 40px
    }
}

.multiselect__select:before {
    display: inline-block !important;
    content: "" !important;
    color: #848ca1 !important;
    border-right: 1px solid !important;
    border-bottom: 1px solid !important;
    height: 7px !important;
    width: 7px !important;
    transform-origin: 75% 75% !important;
    transform: rotate(45deg) !important;
    margin-left: -4px !important;
    margin-bottom: -3px !important;
    transition: transform .3s !important;
    position: unset;
    right: unset;
    top: unset;
    margin-top: unset;
    border-color: #fff;
    border-style: hidden
}

@media(min-width:1440px) {
    .multiselect__select:before {
        margin-bottom: -5px !important
    }
}

.multiselect__single {
    margin-bottom: 0;
    font-size: .8125rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
    font-weight: 400;
    white-space: nowrap
}

.multiselect__input,
.multiselect__single {
    background-color: #fff;
    background-color: var(--c-block-bg, #fff)
}

.multiselect__content-wrapper {
    border-color: #f2f2f2;
    border-color: var(--c-input-border, #f2f2f2)
}

.multiselect__option {
    background-color: #fff;
    background-color: var(--c-block-bg, #fff);
    font-size: .8125rem;
    color: #35495e;
    color: var(--c-disabled-text-darker, #35495e);
    font-weight: 600
}

.BaseLayout.is-dark .multiselect__option {
    color: #818181
}

.multiselect__option--highlight {
    color: #fff !important;
    background-color: #c9aa4c !important
}

.multiselect__option--selected {
    background-color: #f2f2f2
}

.BaseLayout.is-dark .multiselect__option--selected {
    background-color: #2e2e2e
}

.multiselect__option--disabled {
    color: rgba(92, 90, 118, .7)
}

.multiselect__content-wrapper {
    border-radius: 0
}

.multiselect__content-wrapper::-webkit-scrollbar {
    width: 4px
}

.multiselect__content-wrapper::-webkit-scrollbar-track {
    background: #fff;
    background: var(--c-scroll-track, #fff)
}

.multiselect__content-wrapper::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    background: var(--c-scroll-thumb, #e9e9e9)
}

.multiselect__tag {
    background: #f9f9f9;
    border-radius: 0;
    border: 1px solid #e3e3e3 !important;
    margin: 2px 0;
    font-size: .8125rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
    font-weight: 600
}

.multiselect__tag-icon:hover {
    background: 0 0
}

.multiselect__tag-icon:hover:after {
    color: #25233a
}

.multiselect__placeholder {
    margin-bottom: 4px
}

.BaseMultiselect.is-locale .multiselect--active .multiselect__select {
    transform: none
}

.BaseMultiselect.is-locale .multiselect__select {
    width: auto;
    height: 95%;
    padding-right: 15px
}

.BaseMultiselect.is-locale .multiselect__tags {
    transition: all .2s;
    padding: 9px 35px 3px 10px;
    text-transform: uppercase;
    min-height: 0;
    border: none;
    height: 48px;
    border-left: 1px solid #e3e3e3 !important;
    display: flex;
    align-items: center
}

@media(min-width:768px) {
    .BaseMultiselect.is-locale .multiselect__tags {
        padding: 9px 40px 0 10px;
        margin-top: -14px
    }
}

.BaseMultiselect.is-locale .multiselect__single {
    background: 0 0;
    margin-bottom: 4px;
    font-size: .75rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
    font-weight: 600;
    font-size: 11px
}

@media(min-width:992px) {
    .BaseMultiselect.is-locale .multiselect__single {
        padding-left: .5rem;
        margin-bottom: 9px
    }
}

.BaseMultiselect.is-locale .multiselect__content-wrapper {
    border: none;
    box-shadow: 0 4px 45px rgba(0, 0, 0, .09);
    border-radius: 0
}

.BaseMultiselect.is-locale .multiselect--active .multiselect__tags,
.BaseMultiselect.is-locale .multiselect:hover .multiselect__tags {
    cursor: pointer
}

.BaseMultiselect.is-locale .multiselect__element:not(:first-of-type) {
    border-top: 1px solid #e4e4e4
}

.BaseLayout.is-dark .BaseMultiselect.is-locale .multiselect__element:not(:first-of-type) {
    border-top-color: #56555f
}

.BaseMultiselect.is-locale .multiselect__option {
    color: #848ca1;
    font-weight: 600;
    font-size: .875rem
}

.BaseLayout.is-dark .BaseMultiselect.is-locale .multiselect__option {
    color: #818181;
    background-color: #323234
}

.BaseMultiselect.is-locale .multiselect__option--highlight {
    color: #25233a !important;
    background-color: #f3f3f3 !important
}

.BaseLayout.is-dark .BaseMultiselect.is-locale .multiselect__option--highlight {
    color: #fff;
    background-color: #232323
}

.BaseMultiselect.is-locale .multiselect__option--selected {
    background-color: #fff;
    background-color: var(--c-block-bg, #fff)
}

.BaseMultiselect.is-thin .multiselect__option {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
    font-weight: 600
}

.BaseMultiselect.is-thin .multiselect__option--highlight {
    background-color: #fbfaf4 !important;
    color: #25233a !important
}

.BaseLayout.is-dark .BaseMultiselect.is-thin .multiselect__option--highlight {
    background-color: #473d28 !important;
    color: #fff !important
}

.BaseLayout.is-dark .BaseMultiselect.is-thin .multiselect__option--selected,
.BaseMultiselect.is-thin .multiselect__option--selected {
    background-color: #c5b358 !important;
    color: #fff !important
}

.BaseMultiselect.is-thin .multiselect__option--selected:before {
    content: url(/img/icons/tick.svg)
}

.BaseMultiselect.is-thin .multiselect__element {
    max-height: 28px;
    display: flex;
    align-items: center
}

.BaseLayout.is-dark .BaseMultiselect.is-thin .multiselect--above .multiselect__content-wrapper {
    border-top-color: #363636
}