.BaseLazyRenderer.is-active {
    min-height: 40vh
}

.ListNow {
    min-height: 470px;
    margin-top: 470px
}

@media(min-width:992px) {
    .ListNow {
        margin-top: 296px;
        min-height: 296px
    }
}

.InNumbers {
    padding: 45px 0
}

@media(min-width:992px) {
    .InNumbers {
        padding: 90px 0
    }
}

.InNumbersTitle {
    font-size: 31px;
    color: #2e384d;
    text-align: center;
    font-weight: 600
}

@media(min-width:768px) {
    .InNumbersTitle {
        font-size: 36px
    }
}

.InNumbersText {
    color: #2e384d;
    font-size: 16px;
    font-weight: 200;
    text-align: center
}

@media(min-width:768px) {
    .InNumbersText {
        font-size: 26px;
        margin: 0 70px
    }
}

.InNumbersGrowing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.InNumbersGrowingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.InNumbersGrowingWrapperLabel {
    font-size: 15px
}

@media(min-width:992px) {
    .InNumbersGrowingWrapperLabel {
        font-size: 24px;
        margin-top: -12px
    }
}

@media(min-width:768px) {
    .InNumbersGrowingWrapper:nth-child(2) {
        border-right: 2px solid #e7e0bc;
        border-left: 2px solid #e7e0bc
    }
}

.ListingComes {
    position: relative;
    background-image: url(/img/applyToList/dots_bg.svg);
    padding-top: 60px
}

@media(min-width:992px) {
    .ListingComes {
        padding: 100px 0
    }
}

.ListingComes__title {
    color: #2e384d;
    font-size: 31px;
    text-align: center;
    font-weight: 600
}

@media(min-width:768px) {
    .ListingComes__title {
        font-size: 36px
    }
}

.ListingComes__cardWrapper {
    padding-bottom: 60px
}

.ListingComes .ListingCard {
    margin: 0 40px 0 0
}

@media(min-width:992px) {
    .ListingComes .ListingCard:nth-child(odd) {
        margin-top: 50px
    }
}

.Presentation {
    padding: 50px 0
}

@media(min-width:992px) {
    .Presentation {
        padding: 100px 0
    }
}

.PresentationTitle {
    font-size: 31px;
    color: #2e384d;
    font-weight: 600
}

@media(min-width:768px) {
    .PresentationTitle {
        font-size: 36px
    }
}

.PresentationText {
    font-size: 22px;
    font-weight: 200;
    color: #2e384d
}

@media(min-width:414px) {
    .PresentationText {
        font-size: 26px
    }
}

.PresentationLink {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #c9aa4c;
    padding: 1rem;
    border-radius: 6px;
    display: inline-block;
    width: 300px;
    text-align: center;
    font-weight: 500;
    transition: background-color .3s
}

.PresentationLink:hover {
    background-color: #a9983f
}

.PresentationLink:hover,
.PresentationLink:visited {
    color: #fff
}

@media(min-width:992px) {
    .PresentationLink {
        width: 340px
    }
}

.Presentation__leftBlock {
    width: 100%
}

@media(min-width:992px) {
    .Presentation__leftBlock {
        width: 50%
    }
}

.InMedia {
    background-image: url(/img/applyToList/graph.svg);
    padding: 50px 0;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: -140px
}

@media(min-width:768px) {
    .InMedia {
        background-position-y: center
    }
}

@media(min-width:992px) {
    .InMedia {
        padding: 100px 0
    }
}

.InMedia__title {
    color: #2e384d;
    font-size: 31px;
    font-weight: 600
}

@media(min-width:768px) {
    .InMedia__title {
        font-size: 36px
    }
}

.InMedia__text {
    color: #2e384d;
    font-size: 16px;
    font-weight: 200;
    margin: 0 16px
}

@media(min-width:768px) {
    .InMedia__text {
        font-size: 26px;
        margin: 0 70px
    }
}

@media(min-width:768px) {
    .InMedia__wrapper {
        padding: 0 3rem
    }
}

.InMedia__medias {
    width: 43%;
    height: 70px;
    border: 1px solid #e8e9ea;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px
}

@media(min-width:768px) {
    .InMedia__medias {
        width: 19%
    }
}

@media(min-width:992px) {
    .InMedia__medias {
        width: 17%;
        margin: 25px 30px
    }
}

@media(min-width:1440px) {
    .InMedia__medias {
        width: 19%
    }
}

@media(min-width:1920px) {
    .InMedia__medias:first-child svg {
        height: 70%
    }
}

.InMedia__medias:first-child svg,
.InMedia__medias:nth-child(7) svg {
    height: 50%
}

.InMedia__medias:nth-child(6) svg {
    height: 100%
}

@media(min-width:1200px) {
    .InMedia__medias svg {
        width: 70%
    }
}

.InMedia__medias svg {
    width: 80%;
    height: 75%
}

.ContactUs {
    padding: 50px 0
}

@media(min-width:992px) {
    .ContactUs {
        padding: 100px 0
    }
}

.ContactUs__leftBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media(min-width:992px) {
    .ContactUs__leftBlock {
        width: 35%;
        display: unset;
        flex-direction: unset;
        align-items: unset
    }
}

@media(min-width:1920px) {
    .ContactUs__leftBlock {
        margin-left: 100px
    }
}

.ContactUs__rightBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media(min-width:992px) {
    .ContactUs__rightBlock {
        width: 35%;
        display: unset;
        flex-direction: unset;
        align-items: unset
    }
}

.ContactUs__title {
    font-size: 31px;
    color: #2e384d;
    font-weight: 600
}

@media(min-width:414px) {
    .ContactUs__title {
        font-size: 36px
    }
}

.ContactUs__text {
    font-size: 16px;
    color: #2e384d;
    font-weight: 200
}

@media(min-width:768px) {
    .ContactUs__text {
        font-size: 24px
    }
}

.ContactUs__link {
    background-color: #c9aa4c;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 56px;
    display: inline-block;
    cursor: pointer;
    width: 340px;
    margin-bottom: 37px;
    color: #fff;
    font-weight: 500;
    transition: background-color .3s
}

.ContactUs__link:hover {
    background-color: #a9983f
}

.ContactUs__link:hover,
.ContactUs__link:visited {
    color: #fff
}

.ContactUs__social {
    display: flex;
    align-items: center;
    flex-direction: row
}

@media(min-width:992px) {
    .ContactUs__social {
        flex-direction: column
    }
}

.ContactUs__social:nth-child(2n) {
    margin: 20px 0
}

@media(min-width:992px) {
    .ContactUs__social:nth-child(2n) {
        margin: 0 32px
    }
}

.ContactUs__socialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c5b358;
    border-radius: 10px;
    height: 56px;
    width: 56px;
    margin: 0 16px 0 0;
    cursor: pointer
}

@media(min-width:992px) {
    .ContactUs__socialIcon {
        margin: 0 0 16px
    }
}

.ContactUs__socialText {
    color: #969fa8;
    text-transform: uppercase;
    font-size: 16px
}

@media(min-width:768px) {
    .ContactUs__socialText {
        font-size: 14px
    }
}

.ContactUs__calendly {
    background-color: rgba(78, 78, 78, .4);
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999
}

.ContactUs__calendly .close {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
    cursor: pointer
}

@media(min-width:650px) {
    .ContactUs__calendly .close {
        left: unset;
        right: 24px;
        top: 64px
    }

    .ContactUs__calendly .close path {
        fill: #fff !important
    }
}

.ContactUs__calendly .close path {
    fill: #000
}

.ContactUs__calendly .iframe {
    width: 100%;
    height: 100%;
    border: none
}

.Header {
    height: 470px;
    width: 100%;
    background-color: #222;
    position: absolute;
    z-index: 5000;
    top: 48px;
    left: 0;
    background-image: url(../../assets/img/applyToList/listNowBanner.svg);
    background-position-y: -130px;
    background-position-x: center;
    background-size: cover
}

@media(min-width:768px) {
    .Header {
        background-position: 50%;
        background-position-y: unset
    }
}

@media(min-width:992px) {
    .Header {
        height: 296px;
        background-image: url(../../assets/img/applyToList/listNowBanner.svg)
    }
}

.Header__LeftBlock {
    margin-top: 8px
}

@media(min-width:992px) {
    .Header__LeftBlock {
        margin-top: 60px
    }
}

.Header__LeftBlockTitle {
    font-size: 25px;
    color: #fff;
    line-height: 30px
}

@media(min-width:768px) {
    .Header__LeftBlockTitle {
        font-size: 36px
    }
}

.Header__LeftBlockText {
    font-size: 15px;
    color: #fff;
    margin: 12px 0;
    text-align: center
}

@media(min-width:992px) {
    .Header__LeftBlockText {
        margin: 25px 0
    }
}

.Header__LeftBlockLink {
    width: 300px;
    height: 48px;
    background-color: #c9aa4c;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    color: #2d2926;
    font-weight: 500;
    transition: background-color .3s, none
}

.Header__LeftBlockLink:hover {
    background-color: #a9983f
}

.Header__LeftBlockLink:active,
.Header__LeftBlockLink:focus,
.Header__LeftBlockLink:hover,
.Header__LeftBlockLink:visited {
    color: #2d2926
}

@media(min-width:992px) {
    .Header__LeftBlockLink {
        width: 340px;
        height: 64px;
        line-height: 64px
    }
}

.Header__RightBlock {
    margin-top: 40px
}

.Header__CoinBlock {
    border: 1px solid #777676;
    border-radius: 4px;
    height: 48px;
    margin-bottom: 16px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

.Header__CoinBlock.new {
    border-color: #c3c6c9;
    cursor: pointer;
    pointer-events: all;
    grid-template-columns: 3fr 1fr
}

.Header__CoinBlockIcon {
    width: 24px;
    height: 24px;
    margin-right: 12px
}

.Header__CoinBlockName {
    color: #7d7a78;
    font-size: 14px
}

.Header__CoinBlockName.new {
    color: #fff
}

.Header__CoinBlockCost {
    color: #7d7a78;
    font-size: 14px
}

.Header__CoinBlockButton {
    height: 30px;
    width: 94px;
    background: #635935;
    border-radius: 4px;
    color: #989694;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 12px;
    margin: 8px 0
}

.Header__CoinBlockButton.new {
    color: #fff;
    background: #c9aa4c
}