<template>
    <div
        v-click-outside="hide" 
        v-if="profile"
        @click="showDropdown = !showDropdown"
        class="BaseDropDown d-flex align-items-center UserDropDown header__topMenu mx-0 mx-lg-2"
    >
        <div class="BaseDropDown__dropDownLabel" >
            <svg
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class=""
            >
                <path
                    d="M19.854 14.02c-.376-3.011-2.54-5.363-5.27-6.21 1.224-.753 2.07-2.07 2.07-3.576A4.217 4.217 0 0012.422 0a4.217 4.217 0 00-4.235 4.234c0 1.506.847 2.917 2.07 3.576-2.728.847-4.893 3.199-5.269 6.116v.094c0 .47.376.847.847.941h13.173c.47 0 .847-.47.847-.94.094.093 0 0 0 0zM9.127 4.234c0-1.788 1.506-3.293 3.293-3.293 1.788 0 3.294 1.505 3.294 3.293 0 1.788-1.506 3.294-3.293 3.294-1.788 0-3.294-1.506-3.294-3.294zm9.316 9.88H6.493c-.283 0-.47-.188-.47-.47.658-3.011 3.292-5.175 6.398-5.175 3.105 0 5.74 2.164 6.398 5.175.094.282-.188.47-.376.47z"
                    fill="#fff"
                ></path>
                <path
                    d="M16.026 19.104l-2.182-.366-1.023-1.963a.398.398 0 00-.706 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.325 2.19a.398.398 0 00.57.414l1.982-.986 1.981.986a.398.398 0 00.57-.415l-.325-2.189 1.55-1.58a.398.398 0 00-.218-.67zm-2.039 1.834a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.762-1.461.761 1.46c.058.112.164.189.287.21l1.626.272-1.155 1.176z"
                    fill="#fff"
                ></path>
                <path
                    d="M24.916 19.373a.398.398 0 00-.313-.27l-2.183-.366-1.023-1.962a.398.398 0 00-.705 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.326 2.19a.398.398 0 00.571.414l1.981-.986 1.982.986a.398.398 0 00.57-.415l-.326-2.189 1.551-1.58a.398.398 0 00.095-.4zm-2.352 1.565a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.761-1.461.762 1.46c.058.112.164.189.287.21l1.625.272-1.154 1.176z"
                    fill="#fff"
                ></path>
                <path
                    d="M7.45 19.104l-2.184-.366-1.023-1.963a.398.398 0 00-.705 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.326 2.19a.398.398 0 00.571.414l1.982-.986 1.98.986a.398.398 0 00.572-.415l-.326-2.189 1.55-1.58a.398.398 0 00-.218-.67zm-2.04 1.834a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.762-1.461.761 1.46c.058.112.164.189.287.21l1.625.272-1.154 1.176z"
                    fill="#fff"
                ></path>
            </svg>
        </div>
        
        <div v-if="showDropdown" :class="['BaseDropDown__dropDown', { 'isActive': showDropdown }]">
            <div class="UserDropDown__accountDropDown">
                <div class="UserDropDown__top">
                    <a

                        href="/settings/general"
                        class="BaseRouterLink UserDropDown__item is-first false"
                        >
                        <svg
                            width="25"
                            height="24"
                            viewBox="0 0 25 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class=""
                        >
                            <path
                                d="M19.854 14.02c-.376-3.011-2.54-5.363-5.27-6.21 1.224-.753 2.07-2.07 2.07-3.576A4.217 4.217 0 0012.422 0a4.217 4.217 0 00-4.235 4.234c0 1.506.847 2.917 2.07 3.576-2.728.847-4.893 3.199-5.269 6.116v.094c0 .47.376.847.847.941h13.173c.47 0 .847-.47.847-.94.094.093 0 0 0 0zM9.127 4.234c0-1.788 1.506-3.293 3.293-3.293 1.788 0 3.294 1.505 3.294 3.293 0 1.788-1.506 3.294-3.293 3.294-1.788 0-3.294-1.506-3.294-3.294zm9.316 9.88H6.493c-.283 0-.47-.188-.47-.47.658-3.011 3.292-5.175 6.398-5.175 3.105 0 5.74 2.164 6.398 5.175.094.282-.188.47-.376.47z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M16.026 19.104l-2.182-.366-1.023-1.963a.398.398 0 00-.706 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.325 2.19a.398.398 0 00.57.414l1.982-.986 1.981.986a.398.398 0 00.57-.415l-.325-2.189 1.55-1.58a.398.398 0 00-.218-.67zm-2.039 1.834a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.762-1.461.761 1.46c.058.112.164.189.287.21l1.626.272-1.155 1.176z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M24.916 19.373a.398.398 0 00-.313-.27l-2.183-.366-1.023-1.962a.398.398 0 00-.705 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.326 2.19a.398.398 0 00.571.414l1.981-.986 1.982.986a.398.398 0 00.57-.415l-.326-2.189 1.551-1.58a.398.398 0 00.095-.4zm-2.352 1.565a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.761-1.461.762 1.46c.058.112.164.189.287.21l1.625.272-1.154 1.176z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M7.45 19.104l-2.184-.366-1.023-1.963a.398.398 0 00-.705 0l-1.023 1.963-2.183.366a.398.398 0 00-.218.67l1.55 1.58-.326 2.19a.398.398 0 00.571.414l1.982-.986 1.98.986a.398.398 0 00.572-.415l-.326-2.189 1.55-1.58a.398.398 0 00-.218-.67zm-2.04 1.834a.398.398 0 00-.11.338l.243 1.63-1.475-.735a.398.398 0 00-.355 0l-1.475.735.243-1.63a.398.398 0 00-.11-.338l-1.154-1.176 1.625-.273a.398.398 0 00.287-.208l.762-1.461.761 1.46c.058.112.164.189.287.21l1.625.272-1.154 1.176z"
                                fill="#fff"
                            ></path></svg
                        ><span class="UserDropDown__itemLabel"
                            >{{ profile.nickname }}</span
                        ></a
                    ><!---->
                </div>
                <div class="UserDropDown__innerLinkContainer">
                    <div class="UserDropDown__divider">
                        <a
                            v-if="false"
                            href="/settings/verification"
                            class="BaseRouterLink UserDropDown__item is-warning false"
                            ><svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M9.805 10.521h0-.006c-4.017.093-7.495 2.972-8.316 6.915a.916.916 0 00.186.767l.077-.063-.077.063c.1.124.327.335.702.335h2.766a.681.681 0 110 1.362H2.371a2.258 2.258 0 01-1.76-.837l-.077.063.077-.063a2.272 2.272 0 01-.462-1.905l-.098-.02.098.02a10.093 10.093 0 013.463-5.714 10.05 10.05 0 013.242-1.782l.182-.06-.154-.115a5.208 5.208 0 01-2.094-4.175A5.219 5.219 0 0110 .1a5.219 5.219 0 015.213 5.213c0 1.704-.822 3.22-2.091 4.172l-.154.114.182.06c.13.043.259.088.387.136h0a.681.681 0 11-.479 1.276h0a8.657 8.657 0 00-2.855-.55h0-.006a5.197 5.197 0 01-.392 0zm.376-1.363h.007a3.855 3.855 0 003.662-3.845A3.854 3.854 0 0010 1.462a3.854 3.854 0 00-3.85 3.85 3.855 3.855 0 003.662 3.845h.007a10.133 10.133 0 01.362 0z"
                                    fill="#60D1A8"
                                    stroke="#2D2926"
                                    stroke-width=".2"
                                ></path>
                                <path
                                    d="M12.94 14.045h.073l.023-.068c.052-.155.101-.288.142-.394a1.968 1.968 0 011.86-1.256H17.48a2.005 2.005 0 011.83 1.175c.268.6.587 1.534.59 2.585.002 1.054-.314 2.003-.581 2.615l.092.04-.092-.04a1.995 1.995 0 01-1.83 1.198h0-.001 0-.001 0-.001 0-.001 0-2.466a2.008 2.008 0 01-1.854-1.25l-.093.037.093-.038a6.63 6.63 0 01-.313-.99h0a.681.681 0 01.504-.822l-.023-.097.023.097a.681.681 0 01.822.504c.072.303.152.561.246.789.1.242.338.407.596.408h2.467a.633.633 0 00.583-.38c.213-.489.469-1.246.467-2.068-.002-.815-.258-1.556-.47-2.032l-.092.04.091-.04a.633.633 0 00-.587-.369h0-2.437 0-.001 0c-.269 0-.5.143-.591.383a6.556 6.556 0 00-.261.817.681.681 0 01-.662.519H8.114l-.03.03-.58.598-.068.07.069.07.602.613.03.03h2.253a.681.681 0 010 1.362H7.85a.681.681 0 01-.485-.204l-.071.07.071-.07-1.367-1.39a.681.681 0 01-.003-.953h0l1.342-1.382s0 0 0 0a.681.681 0 01.489-.207h5.115z"
                                    fill="#60D1A8"
                                    stroke="#2D2926"
                                    stroke-width=".2"
                                ></path>
                                <path
                                    d="M16.836 16.875a.781.781 0 100-1.563.781.781 0 000 1.563z"
                                    fill="#60D1A8"
                                ></path></svg
                            ><span class="UserDropDown__itemLabel"
                                >Not Verified</span
                            ></a
                        ><a
                            href="/settings/general"
                            class="BaseRouterLink UserDropDown__item false"
                            ><svg
                                width="20"
                                height="25"
                                viewBox="0 0 20 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M9.8 7c-2.3 0-4.2 1.9-4.2 4.2 0 2.3 1.9 4.2 4.2 4.2 2.3 0 4.2-1.9 4.2-4.2C14 8.9 12.1 7 9.8 7zm0 7.3c-1.7 0-3.2-1.4-3.2-3.2 0-1.8 1.4-3.2 3.2-3.2 1.7 0 3.2 1.4 3.2 3.2 0 1.8-1.5 3.2-3.2 3.2z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M11.3 9.9l-2 2-.6-.6c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l.9.9c.1.1.2.1.4.1s.3 0 .4-.1l2.3-2.3c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M17.8 4.9c0-.2-.1-.4-.3-.5-.6-.2-1.1-.6-1.5-1-.3-.4-.6-.8-.8-1.2-.1-.2-.3-.3-.5-.3H4.9c-.2 0-.4.2-.5.3-.2.5-.5.9-.8 1.2-.4.4-.9.8-1.5 1-.2.1-.3.3-.3.5v5.7c-.1 1.6.2 4.8 2.5 7.8 1.7 2.2 3.8 3.3 5.3 3.8h.4c1.5-.5 3.6-1.6 5.3-3.8 2.3-2.9 2.6-6.1 2.5-7.8V4.9zm-3.3 12.8c-1.5 1.9-3.4 2.9-4.7 3.4-1.3-.5-3.2-1.5-4.7-3.4C3 15 2.7 12.1 2.8 10.6V5.2c.6-.2 1.1-.6 1.5-1.1l.9-1.2h9.2c.2.4.5.8.9 1.2.4.5 1 .8 1.5 1.1v5.4c0 1.5-.2 4.4-2.3 7.1z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M19.1 3c-.2 0-1.1-.1-1.8-.8-.6-.6-.6-1.4-.6-1.7 0-.1-.1-.3-.1-.4-.1-.1-.2-.1-.4-.1L9.6.1 3.4 0c-.2 0-.3 0-.4.1-.1.1-.1.3-.1.4 0 .3-.1 1-.6 1.7-.7.7-1.6.8-1.8.8-.3 0-.5.2-.5.5V12c.1 1.5.6 4.5 2.8 7.4 2.3 3 5.3 4.3 6.9 4.8h.2c1.6-.5 4.5-1.7 6.9-4.8 2.2-2.8 2.7-5.8 2.8-7.4V3.5c0-.3-.2-.5-.5-.5zM16 18.8c-2.1 2.7-4.7 3.9-6.2 4.4-1.5-.5-4.1-1.7-6.2-4.4-2-2.6-2.5-5.4-2.6-6.8V4c.5-.1 1.3-.4 2-1.1.5-.7.7-1.4.8-1.9l5.8.1 6.2-.1c.1.5.3 1.2.9 1.8.7.7 1.4 1 2 1.1v8c-.2 1.5-.7 4.2-2.7 6.9z"
                                    fill="#fff"
                                ></path></svg
                            ><span class="UserDropDown__itemLabel"
                                >SETTINGS</span
                            ></a
                        ><a
                            href="/aml-service"
                            class="BaseRouterLink UserDropDown__item false"
                            ><svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M3.386 17.578H.125V4.421h16.718l.037-.036L21.087.177l.735.735-3.296 3.296-.213.213H21.875V17.58H5.157l-.037.036-4.207 4.208-.735-.735 3.296-3.296.213-.214h-.301zm-2.222-1.164v.125h3.563l.036-.036 1.29-1.29.213-.213H2.704V7h11.561l.037-.037 1.289-1.289.213-.213H1.164v10.953zm11.42-7.733l.112-.112-.134-.083A2.943 2.943 0 0011 8.04 2.964 2.964 0 008.04 11c0 .573.164 1.108.446 1.562l.084.134.11-.111 3.904-3.904zm-4.83 4.831l.075-.075-.063-.087A3.978 3.978 0 017 11c0-1.064.418-2.032 1.098-2.75l.2-.211H3.742v5.922h3.563l.036-.037.412-.412zm1.662-.193l-.112.111.134.084c.454.283.989.447 1.562.447A2.964 2.964 0 0013.96 11c0-.573-.164-1.108-.447-1.562l-.083-.134-.11.111-3.904 3.904zm4.83-4.831l-.075.075.063.087a3.986 3.986 0 01-.332 5.1l-.2.21h4.556V8.04h-3.563l-.036.037-.412.412zm6.465 8.051h.125V5.461h-3.563l-.036.036-1.29 1.29-.213.213h3.562v8H7.736l-.037.037-1.289 1.289-.213.213H20.71z"
                                    fill="#fff"
                                    stroke="#2D2926"
                                    stroke-width=".25"
                                ></path></svg
                            ><span class="UserDropDown__itemLabel">AML</span></a
                        ><a
                            href="/balance/spot"
                            class="BaseRouterLink UserDropDown__item false"
                            ><svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M11 1.031A4.133 4.133 0 006.994 6.14a.516.516 0 101.002-.246A3.086 3.086 0 0111 2.063a3.086 3.086 0 013.005 3.83.516.516 0 101.001.246A4.133 4.133 0 0011 1.031z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M10.992 3.086a.516.516 0 00-.508.523v.688h-.687a.516.516 0 100 1.031h.687v.688a.515.515 0 101.032 0v-.688h.687a.516.516 0 100-1.031h-.687v-.688a.517.517 0 00-.524-.523z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M15.837 3.094a.515.515 0 100 1.031h.663v1.89a.517.517 0 101.031 0V3.61a.516.516 0 00-.515-.515h-1.18z"
                                    fill="#fff"
                                ></path>
                                <path
                                    d="M4.984 3.094a2.584 2.584 0 00-2.578 2.578A2.584 2.584 0 004.984 8.25h13.579v11H4.983a1.532 1.532 0 01-1.547-1.547V8.766a.516.516 0 10-1.03 0v8.937a2.584 2.584 0 002.577 2.578h14.094a.516.516 0 00.516-.515V7.734a.516.516 0 00-.516-.515H4.984a1.532 1.532 0 01-1.547-1.547c0-.866.681-1.547 1.547-1.547h1.122a.516.516 0 100-1.031H4.984z"
                                    fill="#fff"
                                ></path></svg
                            ><span class="UserDropDown__itemLabel"
                                >My balance</span
                            ></a
                        >
                    </div>
                    <div class="UserDropDown__divider">
                        <a
                            href="/history"
                            class="BaseRouterLink UserDropDown__item false"
                            ><svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class=""
                            >
                                <path
                                    d="M11 3.7a.7.7 0 100-1.4v1.4zm6.961 2.081a.7.7 0 10-1.12.84l1.12-.84zm.527 2.395l.654-.247-.654.247zM16.948 5.35l.214-.667a.7.7 0 00-.88.453l.666.214zm2.697 1.6a.7.7 0 00.427-1.334l-.427 1.333zM15.35 8.046a.7.7 0 101.333.427l-1.333-.427zM12.2 6.5a.7.7 0 10-1.4 0h1.4zm-.7 4l.495.495a.7.7 0 00.205-.495h-.7zm-3.995 3.005a.7.7 0 00.99.99l-.99-.99zM18.3 11a7.3 7.3 0 01-7.3 7.3v1.4a8.7 8.7 0 008.7-8.7h-1.4zM11 18.3A7.3 7.3 0 013.7 11H2.3a8.7 8.7 0 008.7 8.7v-1.4zM3.7 11A7.3 7.3 0 0111 3.7V2.3A8.7 8.7 0 002.3 11h1.4zm13.142-4.378c.41.546.745 1.152.99 1.802l1.31-.495a8.684 8.684 0 00-1.18-2.148l-1.12.84zm.99 1.802c.302.8.468 1.668.468 2.576h1.4c0-1.08-.197-2.115-.558-3.07l-1.31.494zm-1.096-2.408l2.91.933.427-1.333-2.91-.933-.427 1.333zm-.453-.88l-.933 2.91 1.333.428.933-2.91-1.333-.428zM10.8 6.5v4h1.4v-4h-1.4zm.205 3.505l-3.5 3.5.99.99 3.5-3.5-.99-.99z"
                                    fill="#fff"
                                ></path></svg
                            ><span class="UserDropDown__itemLabel"
                                >History</span
                            ></a
                        >
                    </div>
                </div>
                <div class="UserDropDown__bottom">
                    <a
                        href="/referral"
                        class="BaseRouterLink UserDropDown__inviteFriendsBtn is-landscape false"
                    >
                        INVITE FRIENDS </a 
                    ><span class="UserDropDown__logout" @click="logout()"
                        ><svg
                            width="32"
                            height="24"
                            viewBox="0 0 32 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class=""
                        >
                            <path
                                d="M5.68.08c-.06 0-.11.01-.17.03L1.1 1.67C.45 1.9.02 2.51.02 3.2v17.7c0 .69.44 1.29 1.09 1.5l4.42 1.44c.05.02.1.02.15.02.83 0 1.5-.67 1.5-1.5V1.58c0-.83-.67-1.5-1.5-1.5zm.5 22.28c0 .25-.19.46-.44.5l-4.33-1.41a.58.58 0 01-.4-.55V3.2c0-.27.17-.51.42-.59l4.31-1.53c.24.04.43.24.43.5v20.78h.01z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M5.2 10.38c-.28 0-.5.22-.5.5v2.26c0 .28.22.5.5.5s.5-.22.5-.5v-2.26c0-.27-.22-.5-.5-.5z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M23.87 12.2a.5.5 0 000-.38.457.457 0 00-.11-.16l-4.05-4.05c-.2-.2-.51-.2-.71 0-.2.2-.2.51 0 .71l3.19 3.19h-13c-.28 0-.5.22-.5.5s.22.5.5.5H22.2l-3.2 3.2c-.2.2-.2.51 0 .71a.485.485 0 00.7 0l4.05-4.05c.05-.05.09-.11.12-.17z"
                                fill="#fff"
                                class="arrowRight"
                            ></path>
                            <path
                                d="M8.44 2.42h5.4c.71 0 1.28.58 1.28 1.28v5.78c0 .28.22.5.5.5s.5-.22.5-.5V3.7c0-1.26-1.02-2.28-2.28-2.28h-5.4c-.28 0-.5.22-.5.5s.23.5.5.5z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M15.63 13.98c-.28 0-.5.22-.5.5v5.78c0 .71-.58 1.28-1.28 1.28h-5.4c-.28 0-.5.22-.5.5s.22.5.5.5h5.4c1.26 0 2.28-1.02 2.28-2.28v-5.78c0-.28-.23-.5-.5-.5z"
                                fill="#fff"
                            ></path></svg
                        ><span class="UserDropDown__itemLabel"
                            >Logout</span
                        ></span
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
    name: "HeaderLogined", 
    props: ["profile"],
    data: () => ({
        showDropdown: false
    }),
    methods: {
        hide() {
            this.showDropdown = false
        },
        logout() {
            localStorage.removeItem("token")
            location.href = "/"
        }
    },
    directives: {
        ClickOutside
    }
}
</script>