<template>
    <header class="header BaseLayout__header" style="top: 0">
        <div
            class="vue-notification-group Notifications cookie"
            style="width: 100%; bottom: 0px;"
        >
            <span></span>
        </div>
        <div
            class="header__headerWrapper d-none d-lg-flex align-items-center justify-content-between is-mainPage"
        >
            <div class="header__navigation">
                <div
                    itemscope="itemscope"
                    itemtype="http://www.schema.org/SiteNavigationElement"
                    class="header__navigation d-flex align-items-center align-self-center"
                >
                    <router-link
                        to="/"
                        class="BaseRouterLink header__logoWrap false active"
                        itemprop="url"
                        ><header-logo />
                    </router-link>
                </div>
                <!---->
                <router-link
                    to="/trade"
                    class="BaseRouterLink header__navigationItem null false"
                    ><span itemprop="name">Trading</span></router-link
                >
                 <router-link
                    to="/spot/markets/tickers"
                    class="BaseRouterLink header__navigationItem null false"
                    ><span itemprop="name">Markets</span></router-link
                >
                <router-link
                    v-if="profile"
                    to="/balance"
                    class="BaseRouterLink header__navigationItem null false"
                    ><span itemprop="name">Balance</span>
                </router-link>
                <router-link
                    v-if="profile"
                    to="/codes"
                    class="BaseRouterLink header__navigationItem null false"
                    ><span itemprop="name">Codes</span>
                </router-link>
            </div>
            <div
                class="header__btnContainer d-flex flex-row align-items-center"
            >
                <!----><!----><!---->
                <div class="BaseDropDown d-flex align-items-center">
                    <div class="">
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="mr-2"
                        >
                            <path
                                d="M8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM8 1C4.1 1 1 4.1 1 8s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M10.5 6.4C10.5 5 9.4 3.9 8 3.9S5.4 5 5.4 6.4c0 .3.2.5.5.5s.5-.2.5-.5c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5S8.8 7.9 8 7.9c-.3 0-.5.2-.5.5v1.7c0 .3.2.5.5.5s.5-.2.5-.5V8.9c1.1-.3 2-1.3 2-2.5z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M8.3 11.2c-.3-.2-.7-.1-.9.2-.2.3-.1.7.2.9.3.2.7.1.9-.2.2-.4.1-.7-.2-.9z"
                                fill="#fff"
                            ></path></svg
                        ><router-link
                            to="/faq"
                            class="BaseRouterLink text-left false"
                        >
                            F.A.Q.
                        </router-link>
                    </div>
                </div>
                <router-link v-if="profile" to="/referral" class="BaseRouterLink header__inviteFriendsBtn false"> INVITE FRIENDS </router-link>
                <header-logined v-if="profile" :profile="profile" />

                <router-link
                    v-if="!profile"
                    to="/auth/login"
                    class="BaseRouterLink header__dropDownBtn d-flex align-items-center mx-2 p-0 false"
                    ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="mr-2"
                    >
                        <path
                            d="M3.91.07c-.06 0-.11.01-.17.03l-2.8.99c-.49.17-.82.63-.82 1.15v11.27c0 .52.33.97.82 1.13l2.81.92c.05.02.1.02.15.02.63 0 1.14-.51 1.14-1.14V1.2C5.05.58 4.54.07 3.91.07zm.14 14.37c0 .06-.04.11-.09.13l-2.71-.88c-.08-.02-.13-.1-.13-.18V2.24c0-.09.06-.18.15-.21l2.7-.95c.05.02.08.07.08.12v13.24z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M3.07 6.63c-.28 0-.5.22-.5.5v1.44c0 .28.22.5.5.5s.5-.22.5-.5V7.13c0-.28-.22-.5-.5-.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M15.2 7.35H7.36l1.72-1.72c.19-.2.19-.51 0-.71-.2-.2-.51-.2-.71 0L5.8 7.49c-.05.05-.09.11-.11.17a.5.5 0 000 .38c.02.06.06.12.11.16l2.58 2.58a.485.485 0 00.7 0c.19-.2.19-.51 0-.71L7.36 8.35h7.84c.28 0 .5-.22.5-.5s-.22-.5-.5-.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M6.01 1.92h3.44c.35 0 .63.28.63.63v3.68c0 .28.22.5.5.5s.5-.22.5-.5V2.55c0-.9-.73-1.63-1.63-1.63H6.01c-.28 0-.5.22-.5.5s.23.5.5.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M10.59 8.92c-.28 0-.5.22-.5.5v3.68c0 .35-.29.63-.63.63H6.01c-.28 0-.5.22-.5.5s.22.5.5.5h3.44c.9 0 1.63-.73 1.63-1.63V9.42c.01-.28-.22-.5-.49-.5z"
                            fill="#fff"
                        ></path></svg
                    >Login </router-link
                >
                <router-link
                    v-if="!profile"
                    to="/auth/register"
                    class="BaseRouterLink header__dropDownBtn registerButton d-flex align-items-center mx-2 false"
                    ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="mr-2"
                    >
                        <path
                            d="M8 0C5.5 0 3.5 2 3.5 4.5S5.5 9 8 9s4.5-2 4.5-4.5S10.5 0 8 0zm0 8C6.1 8 4.5 6.4 4.5 4.5S6.1 1 8 1s3.5 1.6 3.5 3.5S9.9 8 8 8z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M8 16v-1H1.7c-.3 0-.5-.2-.5-.5C1.9 11.3 4.7 9 8 9V8C4 8 .6 11 .1 14.9v.1c0 .5.4.9.9 1h7z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M15 11.5h-2.5V9h-1v2.5H9v1h2.5V15h1v-2.5H15v-1z"
                            fill="#fff"
                        ></path></svg
                    >Registration
                </router-link>
            </div>
        </div>
        <!---->
        <div
            class="header__headerWrapper d-flex d-lg-none align-items-center is-mainPage"
        >
            <div class="header__hamburgerBlock d-lg-none">
                <div
                    class="header__hamburger hamburger hamburger--spring hambWrap d-flex align-items-center"
                >
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <nav
                    itemscope="itemscope"
                    itemtype="http://www.schema.org/SiteNavigationElement"
                    class="header__navigationMobile d-flex d-lg-none flex-column align-items-center"
                >
                    <!----><a
                        href="/token-listing"
                        class="BaseRouterLink header__navigationItem false"
                        itemprop="url"
                        ><span itemprop="name">Token listing</span></a
                    ><!----><!----><a
                        href="/smart-staking"
                        class="BaseRouterLink header__navigationItem false"
                        itemprop="url"
                        ><span itemprop="name">SMART STAKING</span></a
                    ><a
                        href="/"
                        class="BaseRouterLink header__navigationItem p-0 false active"
                        itemprop="url"
                        ><img
                            src="/img/logo-small.svg"
                            alt="Cryptocurrency Exchange Platform – WhiteBIT"
                            title="Cryptocurrency
exchange – WhiteBIT"
                            class="white-bit-logo mt-5 mb-2"
                    /></a>
                </nav>
            </div>
            <div
                class="BaseDropDown d-flex align-items-center header__dropdown isTrade"
            >
                <div class="BaseDropDown__dropDownLabel">
                    <span>Trading</span>
                </div>
                <div class="BaseDropDown__dropDown" style="display: none;">
                    <div class="header__dropdownBtnWrapper">
                        <a
                            href="/trade"
                            class="BaseRouterLink header__dropDownBtn isTradeBtn false"
                            ><span class="header__dropdownLabel">Basic</span></a
                        >
                    </div>
                    <div class="header__dropdownBtnWrapper new">
                        <a
                            href="/trade-pro"
                            class="BaseRouterLink header__dropDownBtn isTradeBtn false"
                            ><span class="header__dropdownLabel">Spot</span></a
                        >
                    </div>
                    <div class="header__dropdownBtnWrapper new">
                        <a
                            href="/trade-pro"
                            class="BaseRouterLink header__dropDownBtn isTradeBtn false"
                            ><span class="header__dropdownLabel"
                                >Margin</span
                            ></a
                        >
                    </div>
                    <div class="header__dropdownBtnWrapper">
                        <a
                            href="/exchange"
                            class="BaseRouterLink header__dropDownBtn isTradeBtn false"
                            ><span class="header__dropdownLabel"
                                >Exchange</span
                            ></a
                        >
                    </div>
                </div>
            </div>
            <div
                class="header__headerRightContainer d-flex align-items-center ml-auto"
            >
                <!---->
                <div
                    class="BaseDropDown d-flex align-items-center header__dropdown"
                >
                    <div class="BaseDropDown__dropDownLabel">
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 48 48"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            size="fullWidthMobile"
                            class="mx-2"
                        >
                            <path
                                d="M24 0C10.767 0 0 10.767 0 24s10.767 24 24 24 24-10.767 24-24S37.233 0 24 0zm0 44C12.972 44 4 35.028 4 24S12.972 4 24 4s20 8.972 20 20-8.972 20-20 20z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M24 21c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M15 21c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"
                                fill="#fff"
                            ></path>
                            <path
                                d="M33 21c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"
                                fill="#fff"
                            ></path></svg
                        >More
                    </div>
                    <div class="BaseDropDown__dropDown" style="display: none;">
                        <a
                            href="https://medium.com/whitebit"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="header__navigationItem"
                            >News</a
                        ><a
                            href="/about-us"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            About us </a
                        ><a
                            href="/brand-guideline"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            Brand Guideline </a
                        ><a
                            href="/fee-schedule"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            Fees </a
                        ><a
                            href="/token-listing"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            Token listing </a
                        ><a
                            href="/terms"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            user agreement </a
                        ><a
                            href="/privacy-policy"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            Privacy Policy </a
                        ><a
                            href="/support"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            Support </a
                        ><a
                            href="/faq"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            F.A.Q. </a
                        ><a
                            href="/system-page"
                            class="BaseRouterLink header__navigationItem false"
                        >
                            System Page
                        </a>
                    </div>
                </div>
                <router-link
                    to="/auth/login"
                    class="BaseRouterLink header__icon false"
                    ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        size="fullWidthMobile"
                        class=""
                    >
                        <path
                            d="M3.91.07c-.06 0-.11.01-.17.03l-2.8.99c-.49.17-.82.63-.82 1.15v11.27c0 .52.33.97.82 1.13l2.81.92c.05.02.1.02.15.02.63 0 1.14-.51 1.14-1.14V1.2C5.05.58 4.54.07 3.91.07zm.14 14.37c0 .06-.04.11-.09.13l-2.71-.88c-.08-.02-.13-.1-.13-.18V2.24c0-.09.06-.18.15-.21l2.7-.95c.05.02.08.07.08.12v13.24z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M3.07 6.63c-.28 0-.5.22-.5.5v1.44c0 .28.22.5.5.5s.5-.22.5-.5V7.13c0-.28-.22-.5-.5-.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M15.2 7.35H7.36l1.72-1.72c.19-.2.19-.51 0-.71-.2-.2-.51-.2-.71 0L5.8 7.49c-.05.05-.09.11-.11.17a.5.5 0 000 .38c.02.06.06.12.11.16l2.58 2.58a.485.485 0 00.7 0c.19-.2.19-.51 0-.71L7.36 8.35h7.84c.28 0 .5-.22.5-.5s-.22-.5-.5-.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M6.01 1.92h3.44c.35 0 .63.28.63.63v3.68c0 .28.22.5.5.5s.5-.22.5-.5V2.55c0-.9-.73-1.63-1.63-1.63H6.01c-.28 0-.5.22-.5.5s.23.5.5.5z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M10.59 8.92c-.28 0-.5.22-.5.5v3.68c0 .35-.29.63-.63.63H6.01c-.28 0-.5.22-.5.5s.22.5.5.5h3.44c.9 0 1.63-.73 1.63-1.63V9.42c.01-.28-.22-.5-.49-.5z"
                            fill="#fff"
                        ></path></svg></router-link
                ><router-link
                    to="/auth/register"
                    class="BaseRouterLink header__icon false"
                    ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        size="fullWidthMobile"
                        class=""
                    >
                        <path
                            d="M8 0C5.5 0 3.5 2 3.5 4.5S5.5 9 8 9s4.5-2 4.5-4.5S10.5 0 8 0zm0 8C6.1 8 4.5 6.4 4.5 4.5S6.1 1 8 1s3.5 1.6 3.5 3.5S9.9 8 8 8z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M8 16v-1H1.7c-.3 0-.5-.2-.5-.5C1.9 11.3 4.7 9 8 9V8C4 8 .6 11 .1 14.9v.1c0 .5.4.9.9 1h7z"
                            fill="#fff"
                        ></path>
                        <path
                            d="M15 11.5h-2.5V9h-1v2.5H9v1h2.5V15h1v-2.5H15v-1z"
                            fill="#fff"
                        ></path></svg></router-link
                ><!---->
            </div>
        </div>
    </header>
</template>

<script>
import HeaderLogo from "./HeaderLogo"
import HeaderLogined from "./HeaderLogined"

export default {
    name: "Header",
    components: {
        HeaderLogo,
        HeaderLogined
    },
    computed: {
        profile () {
            return this.$store.state.profile
        }
    }
};
</script>
