<template>
    <div class="Faq Faq_logined">
        <div class="container">
            <div class="Faq__title">F.A.Q.</div>
            <div class="Faq__container">
                <div class="Faq__points">
                    <div 
                        :class="['Faq__point', { 'Faq__point_active' : activePoint === item.id }]" 
                        v-for="item of items" :key="item.id" 
                        @click="activePoint = item.id"
                    >
                        {{ item.title }}
                    </div>
                </div>
                <div class="Faq__slide" v-html="showDescription"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Faq",
    data: () => ({
        items: [
            {
                id: 0,
                title: 'What is WhiteBIT’s referral program?',
                answear: '<span>Our referral program allows you to receive 40% of every trading fee paid by the people you have invited to sign up on our exchange via the referral link. <div place="br" class="Faq__br"></div> For example, your referrals have traded $500 000 in one week. In this case, their trading fee equals $500, and 40% ($200) from this sum is yours. If they trade $500 000 every week, in one month, you will receive $800.</span>'
            },
            {
                id: 1,
                title: 'How to join WhiteBIT’s referral program?',
                answear: '<span>Go to the Referral Program page and click «Invite friends». You will see your referral link, which you can copy and share with other people. <div place="br" class="Faq__br"></div> As soon as they use this link to sign up on our exchange, they will become your referrals, and 40% of their fees will be paid to you.</span>'
            },
            {
                id: 2,
                title: 'When and how do I receive my profit?',
                answear: '<span>Your bonus from all the referrals’ commissions is paid to you monthly (on the 1st day of every month at 00:00 UTC). It is displayed in the currencies that were traded by your referrals. Your bonus history can be found on the Referrals page.</span>'
            },
            {
                id: 3, 
                title: 'Are there any limitations?',
                answear: '<span>You can invite an unlimited number of referrals, and they can trade any amounts. Your bonus from their trading fee will stay the same (40%).</span>'
            }
        ],
        activePoint: 0
    }),
    computed: {
        showDescription() {
            return this.items.find(x => x.id === this.activePoint).answear
        }
    }
}
</script>