<template>
    <div class="ReferralInfo">
        <div class="ReferralInfo__container container">
            <div class="ReferralInfo__left">
                <div class="ReferralInfo__title">Your Referral Link</div>
                <div
                    title="copy"
                    class="BaseCopyValueInput mb-2 align-items-center"
                >
                    <span class="BaseCopyValueInput__value p-2"
                        >{{ domainLocation }}referral/{{ profile.referralId }}</span
                    ><button
                        type="button"
                        class="BaseButton is-stretch radius is-default is-m is-icon"
                    >
                        <span class="BaseButton__content"> COPY </span
                        ><!---->
                    </button>
                </div>
                <div class="ReferralInfo__share">
                    <div>
                        <div class="ReferralInfo__share-title">
                            Share in social network
                        </div>
                        <a

                            :href="`https://twitter.com/intent/tweet?url=${ domainLocation }%2Freferral%${ profile.referralId }&amp;text=Use%20my%20referral%20link%20to%20sign%20up%20on%20WhiteBIT%20and%20join%20the%20world%20of%20crypto%20today%3A`"
                            target="_blank"
                            rel="noopener noreferrer nofollower"
                            class="ReferralInfo__share-button ReferralInfo__share-button--hover"
                            ><svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="ReferralInfo__share-icon svg-inline--fa fa-twitter fa-w-16"
                                style="color: rgb(65, 171, 225);"
                            >
                                <path
                                    fill="currentColor"
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                                    class=""
                                ></path></svg
                            >Twitter </a
                        ><a
                            :href="`https://telegram.me/share/url?url=${ domainLocation }/referral/${ profile.referralId }&amp;text=Use%20my%20referral%20link%20to%20sign%20up%20on%20WhiteBIT%20and%20join%20the%20world%20of%20crypto%20today`"
                            target="_blank"
                            rel="noopener noreferrer nofollower"
                            class="ReferralInfo__share-button ReferralInfo__share-button--hover"
                            style="background-color: rgb(235, 237, 240);"
                            ><svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="telegram-plane"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"
                                class="ReferralInfo__share-icon svg-inline--fa fa-telegram-plane fa-w-14"
                                style="color: rgb(56, 166, 219);"
                            >
                                <path
                                    fill="currentColor"
                                    d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
                                    class=""
                                ></path></svg
                            >Telegram </a
                        ><a
                            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwhitebit.com%2Freferral%2F69ce70c7-1d84-49be-88e5-214f65c5b36e&amp;title=Use%20my%20referral%20link%20to%20sign%20up%20on%20WhiteBIT%20and%20join%20the%20world%20of%20crypto%20today%3A"
                            target="_blank"
                            rel="noopener noreferrer nofollower"
                            class="ReferralInfo__share-button ReferralInfo__share-button--hover"
                            style="background-color: rgb(235, 237, 240);"
                            ><svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="linkedin-in"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"
                                class="ReferralInfo__share-icon svg-inline--fa fa-linkedin-in fa-w-14"
                                style="color: rgb(0, 115, 177);"
                            >
                                <path
                                    fill="currentColor"
                                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                                    class=""
                                ></path></svg
                            >Linkedin
                        </a>
                    </div>
                </div>
            </div>
            <div class="ReferralInfo__right">
                <div
                    class="ReferralInfo__right_block ReferralInfo__right_block-half"
                >
                    <div class="ReferralInfo__right_block-half-value">0</div>
                    <div class="ReferralInfo__right_block-half-title">
                        Number of referrals
                    </div>
                </div>
                <div
                    class="ReferralInfo__right_block ReferralInfo__right_block-half"
                >
                    <div class="ReferralInfo__right_block-half-value">0</div>
                    <div class="ReferralInfo__right_block-half-title">
                        Successful KYCs
                    </div>
                </div>
                <div
                    class="ReferralInfo__right_block ReferralInfo__right_block-full"
                >
                    <div class="ReferralInfo__right_block-full-value">0$</div>
                    <div class="ReferralInfo__right_block-full-title">
                        Total profit
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Info",
    computed: {
        domainLocation() {
            return location.origin
        },
        profile() {
            return this.$store.state.profile
        }
    }
}
</script>

<style lang="scss" scoped>
.ReferralInfo__share-button--hover:hover {
    background-color: rgb(65, 171, 225) !important;
}
</style>