<template>
    <div class="Balance">
        <balance-header />
        <balance-main @stateModal="modalState" />

        <div class="Modal__mask DepositModal" v-if="showDepositModal">
            <modal-deposit :value="showModalData" @stateModal="modalState" />
        </div>

        <div class="Modal__mask WithdrawalModal" v-if="showWithdrawalModal">
            <modal-withdrawal :value="showModalData" @stateModal="modalState" />
        </div>
    </div>
</template>

<script>
import BalanceHeader from  "../components/Deposit/Header"
import BalanceMain from  "../components/Deposit/Main"
import ModalDeposit from  "../components/Modals/Deposit"
import ModalWithdrawal from  "../components/Modals/Withdrawal"

export default {
    name: "Balance",
    components: {
        BalanceHeader,
        BalanceMain,
        ModalDeposit,
        ModalWithdrawal
    },
    data: () => ({
        showDepositModal: false,
        showWithdrawalModal: false,
        showModalData: {}
    }),
    methods: {
        modalState(value) {
            if (value.success) {
                if (value.modalName === 'Deposit') {
                    this.showDepositModal = true
                    this.showModalData = value.coinName
                } else if (value.modalName === 'Withdrawal') {
                    this.showWithdrawalModal = true
                    this.showModalData = value.coinName
                }
                
            } else {
                this.showWithdrawalModal = false
                this.showDepositModal = false
            }
        }
    }
}
</script>

<style lang="scss">
@import "../assets/css/balance.css";
</style>