<template>
    <div class="Codes">
        <div
            class="d-flex justify-content-between align-items-center flex-column flex-md-row"
        >
            <h1 class="BaseH1 is-submenu">WhiteBIT Code</h1>
            <div class="d-flex mb-3">
                <button
                    type="button"
                    class="BaseButton getGift mr-2 is-default is-m"
                >
                    <span class="BaseButton__content"
                        ><svg
                            width="18"
                            height="16"
                            viewBox="0 0 18 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class=""
                        >
                            <path
                                d="M16 4.49h-3.164c.227-.155.422-.309.558-.447a2.092 2.092 0 000-2.942c-.783-.788-2.149-.789-2.933 0-.433.435-1.584 2.206-1.425 3.39h-.072c.158-1.184-.992-2.955-1.425-3.39-.784-.789-2.15-.788-2.933 0a2.093 2.093 0 00-.001 2.942c.137.138.332.292.559.447H2c-.551 0-1 .45-1 1v2.5a.5.5 0 00.5.5H2v6c0 .551.449 1 1 1h12c.551 0 1-.449 1-1v-6h.5a.5.5 0 00.5-.5v-2.5c0-.55-.449-1-1-1zM5.315 1.806a1.062 1.062 0 011.515 0c.674.678 1.344 2.41 1.111 2.651 0 0-.042.033-.185.033-.691 0-2.01-.718-2.441-1.152a1.09 1.09 0 010-1.532zM8.5 14.49H3v-6h5.5v6zm0-7H2v-2h6.5v2zm2.67-5.684a1.093 1.093 0 011.515 0 1.09 1.09 0 010 1.532c-.431.434-1.75 1.152-2.441 1.152-.143 0-.185-.032-.186-.033-.232-.24.438-1.973 1.112-2.65zM15 14.49H9.5v-6H15v6zm1-7H9.5v-2H16v2z"
                                fill="#09A25C"
                                stroke="#09A25C"
                                stroke-width=".2"
                            ></path></svg
                        >Reсeive DEMO token </span
                    ><!----></button
                ><button
                    type="button"
                    class="BaseButton activateCode is-submenu is-m"
                >
                    <span class="BaseButton__content"
                        ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="check"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            class="ml-0 svg-inline--fa fa-check fa-w-16"
                        >
                            <path
                                fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                class=""
                            ></path></svg
                        >Activate code </span
                    ><!---->
                </button>
            </div>
        </div>
        <div class="BaseP mb-4 Codes__description is-m is-grey">
            <span
                >Save your time! Don’t wait for countless blockchain
                confirmations! Instant transfer!<br />In this section, you will
                be able to generate your unique codes to transfer funds to other
                WhiteBIT exchange users.<br />Select a currency and the desired
                amount that is available on your Main Balance. After the code
                has been generated, the funds will be transferred from your
                Balance.</span
            >
        </div>
        <form
            novalidate="novalidate"
            autocomplete="off"
            class="CreateCodeForm flex-column flex-md-row"
        >
            <div class="CreateCodeForm__inputsWrapper d-flex flex-column">
                <div
                    class="d-flex flex-column flex-md-row align-items-end justify-content-center mb-2"
                >
                    <div class="BaseMultiselect CreateCodeForm__input required">
                        <div class="BaseMultiselect__group">
                            <label
                                id="BaseMultiselectId-4"
                                class="BaseMultiselect__label pl-0 pt-0 col-sm-12 col-form-label"
                                >Currency</label
                            >
                            <div class="BaseMultiselect__selectWrap">
                                <div
                                    tabindex="0"
                                    class="multiselect BaseMultiselect__select"
                                >
                                    <div class="multiselect__select"></div>
                                    <div class="multiselect__tags">
                                        <div
                                            class="multiselect__tags-wrap"
                                            style="display: none;"
                                        ></div>
                                        <!---->
                                        <div
                                            class="multiselect__spinner"
                                            style="display: none;"
                                        ></div>
                                        <!----><!----><span
                                            class="multiselect__placeholder"
                                        >
                                            Empty main balances
                                        </span>
                                    </div>
                                    <div
                                        tabindex="-1"
                                        class="multiselect__content-wrapper"
                                        style="max-height: 300px; display: none;"
                                    >
                                        <ul
                                            class="multiselect__content"
                                            style="display: block;"
                                        >
                                            <!---->
                                            <li style="display: none;">
                                                <span
                                                    class="multiselect__option"
                                                    >No elements found. Consider
                                                    changing the search
                                                    query.</span
                                                >
                                            </li>
                                            <li>
                                                <span
                                                    class="multiselect__option"
                                                    >List is empty.</span
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="BaseValidationError">
                            <div class="BaseValidationError__message"></div>
                        </div>
                    </div>
                    <div
                        class="BaseInput CreateCodeForm__input required amount is-big theme-1"
                        type="number"
                        disabled="disabled"
                    >
                        <div class="BaseInput__group">
                            <label
                                for="BaseInputId-8"
                                class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label has-tooltip"
                                data-original-title="null"
                                >Amount</label
                            >
                            <div class="BaseInput__inputWrap">
                                <!----><!----><input
                                    id="BaseInputId-8"
                                    inputmode="decimal"
                                    autocomplete="on"
                                    tooltipvalue=""
                                    type=""
                                    disabled="disabled"
                                    class="BaseInput__input"
                                />
                                <div class="BaseInput__button">Max</div>
                            </div>
                        </div>
                        <!---->
                        <div
                            class="BaseValidationError"
                            style="visibility: unset;"
                        >
                            <div class="BaseValidationError__message"></div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div
                    class="CreateCodeForm__hiddenFields d-flex flex-column flex-md-row justify-content-center"
                >
                    <div class="BaseInput CreateCodeForm__input is-big theme-1">
                        <div class="BaseInput__group">
                            <label
                                for="BaseInputId-9"
                                class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                >Password</label
                            >
                            <div class="BaseInput__inputWrap">
                                <!----><!----><input
                                    id="BaseInputId-9"
                                    autocomplete="on"
                                    tooltipvalue=""
                                    type=""
                                    class="BaseInput__input"
                                /><!---->
                            </div>
                        </div>
                        <!---->
                        <div
                            class="BaseValidationError"
                            style="visibility: unset;"
                        >
                            <div class="BaseValidationError__message"></div>
                        </div>
                        <!---->
                    </div>
                    <div
                        class="BaseInput CreateCodeForm__input description is-big theme-1"
                        placeholder="Input your note here"
                    >
                        <div class="BaseInput__group">
                            <label
                                for="BaseInputId-10"
                                class="BaseInput__label pl-0 pt-0 col-sm-12 col-form-label"
                                >Add a description (only you will see it)</label
                            >
                            <div class="BaseInput__inputWrap">
                                <!----><!----><input
                                    id="BaseInputId-10"
                                    autocomplete="on"
                                    tooltipvalue=""
                                    type=""
                                    placeholder="Input your note here"
                                    class="BaseInput__input"
                                /><!---->
                            </div>
                        </div>
                        <!---->
                        <div
                            class="BaseValidationError"
                            style="visibility: unset;"
                        >
                            <div class="BaseValidationError__message"></div>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
            <button
                type="submit"
                class="BaseButton CreateCodeForm__createCode is-submenu is-m"
            >
                <span class="BaseButton__content"
                    ><svg
                        width="9"
                        height="9"
                        viewBox="0 0 9 9"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="mx-0"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M4 5v4h1V5h4V4H5V0H4v4H0v1h4z"
                            fill="#fff"
                        ></path>
                    </svg>
                    Create code </span
                ><!---->
            </button>
        </form>
        <!----><!----><button
            type="button"
            class="BaseButton viewHistory is-mainInfo is-submenu is-m"
        >
            <span class="BaseButton__content"> view all history </span
            ><!----></button
        ><!---->
        <div class="BasePopupLayout false">
            <div class="BasePopup  false">
                <div class="BasePopup__closePopup">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class=""
                    >
                        <g clip-path="url(#clip771)">
                            <path
                                d="M9.415 8l6.292-6.291A1 1 0 1014.292.294L8 6.586 1.708.294A1 1 0 10.293 1.71l6.292 6.292-6.292 6.292a1 1 0 101.415 1.414L8 9.415l6.292 6.292a.997.997 0 001.415 0 1 1 0 000-1.415L9.415 8.001z"
                                fill="#A6A6A6"
                            ></path>
                        </g>
                        <defs>
                            <clipPath id="clip771">
                                <path fill="#fff" d="M0 0h16v16H0z"></path>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div
                    class="BasePopup__infoBlock d-flex flex-column text-center"
                >
                    <div class="PopupContent__title">
                        Please copy and activate your code
                    </div>
                    <div class="PopupContent__info">
                        <div class="Loading">
                            <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="spinner"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                class="svg-inline--fa fa-spinner fa-w-16 fa-spin"
                            >
                                <path
                                    fill="currentColor"
                                    d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"
                                    class=""
                                ></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                    class="BasePopup__buttonsBlock d-flex flex-column justify-content-center align-items-center"
                ></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Codes"
}
</script>


<style lang="scss">
@import "../assets/css/codes.css";
</style>