<template>
    <div
        class="Auth row d-flex flex-column justify-content-center align-items-center"
    >
        <div class="Auth__block flex-column p-3">
            <div class="Auth__cardHeader">
                <div class="BaseH1">Forgot password</div>
            </div>
            <div class="ForgotPassword">
                <div
                    class="Notice d-flex flex-row align-items-center py-3 form mb-4"
                >
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="Notice__icon mx-2"
                    >
                        <path
                            d="M15.53 12.97L9.21 2.03c-.51-.88-1.92-.88-2.42 0L.47 12.97a1.4 1.4 0 000 1.4c.25.44.71.7 1.21.7h12.63c.5 0 .96-.26 1.21-.7.25-.44.26-.96.01-1.4zm-.87.9c-.03.06-.14.2-.34.2H1.68c-.21 0-.31-.14-.35-.2a.416.416 0 010-.4L7.65 2.53c.1-.18.28-.2.35-.2.07 0 .24.02.35.2l6.32 10.94c.1.18.03.34-.01.4z"
                            fill="#B1A14F"
                        ></path>
                        <path
                            d="M8 10.18c.28 0 .5-.22.5-.5V5.71c0-.28-.22-.5-.5-.5s-.5.22-.5.5v3.98c0 .27.22.49.5.49z"
                            fill="#B1A14F"
                        ></path>
                        <path
                            d="M8 11.09c-.36 0-.66.3-.66.66 0 .36.3.66.66.66.36 0 .66-.3.66-.66 0-.36-.3-.66-.66-.66z"
                            fill="#B1A14F"
                        ></path>
                    </svg>
                    <div class="Notice__mainText">
                        For security purposes no withdrawals are permitted for
                        72 hours after modification of security methods.
                    </div>
                </div>
                <form
                    class="ForgotPassword__form d-flex flex-column align-self-stretch justify-content-center"
                >
                    <div class="errorMessage"></div>
                    <div class="NativeInput my-2" value="">
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="ml-3 mr-3"
                        >
                            <path
                                d="M15.51 2.47c-.01-.01-.01-.02-.01-.02a.218.218 0 00-.08-.05c-.26-.21-.58-.34-.93-.34H1.52c-.38 0-.73.15-.99.38 0 0-.01 0-.01.01-.3.27-.5.67-.5 1.11v8.89c0 .83.67 1.5 1.5 1.5h12.97c.83 0 1.5-.67 1.5-1.5v-8.9a1.51 1.51 0 00-.48-1.08zm-1.36.58L8 9 1.86 3.05h12.29zm.33 9.9H1.52c-.28 0-.5-.22-.5-.5V3.63l6.36 6.16c.17.17.4.25.62.25.22 0 .45-.08.62-.25l6.36-6.15v8.81c0 .27-.22.5-.5.5z"
                                fill="#909090"
                            ></path></svg
                        ><input
                            name="email"
                            type="email"
                            data-precision="8"
                            placeholder="E-mail"
                            class="NativeInput__input"
                            v-model="inputValue"
                        />
                    </div>
                    <div class="BaseCaptcha captcha my-2">
                        <div>
                            <!----><button
                                type="submit"
                                :disabled="inputValue.length === 0 ? true: false"
                                class="BaseButton is-default is-m"
                                id="0.86"
                            >
                                <span class="BaseButton__content">
                                    Forgot password
                                    <div class="content is-hidden"></div></span
                                ><!---->
                            </button>
                        </div>
                    </div>
                    <div class="ForgotPassword__block-footer">
                        <div class="text-center w-100 small">
                            Having trouble?
                        </div>
                        <router-link
                            to="/faq"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="A w-100 text-center gold-link underline"
                        >
                            Visit WhiteBIT F.A.Q.
                        </router-link>
                    </div>
                </form>
            </div>
        </div>
        <img
            src="../assets/img/logo-white-black.svg"
            alt=""
            role="presentation"
            class="Auth__logo mt-1 mb-2"
        />
        <div class="Auth__policy mt-3">
            © 2018 - 2020 WhiteBIT.com All rights reserved
        </div>
    </div>
</template>

<script>
export default {
    name: "ForgotPassword",
    data: () => ({
        inputValue: ""
    })
}
</script>

<style lang="scss">
@import "../assets/css/auth.css";
</style>
