<template>
    <div class="home">
        <home-slider />
        <section class="Markets" style="background: #fff;">
            <div class="theme-light">
                <home-crypto-table />
            </div>
        </section>
        <home-margin-trade />
        <home-mobile />
        <home-features />
        <home-gateway />
        <home-codes />
        <home-token />
        <home-start />
        <home-partners />
        <home-community />
    </div>
</template>

<script>
import MarginTrade from "../components/Home/MarginTrade"
import Token from "../components/Home/Token"
import ReadyToStart from "../components/Home/ReadyToStart"
import Mobile from "../components/Home/Moblie"
import Gateway from "../components/Home/Gateway"
import Codes from "../components/Home/Codes"
import Partners from "../components/Home/Partners"
import Community from "../components/Home/Community"
import CryptoTable from "../components/Home/CryptoTable/Index"
import Slider from "../components/Home/Slider"
import Features from "../components/Home/Features"

export default {
    name: "Home",
    components: {
        homeGateway: Gateway,
        homeMarginTrade: MarginTrade,
        homeMobile: Mobile,
        homeStart: ReadyToStart,
        homeToken: Token,
        homeCodes: Codes,
        homePartners: Partners,
        homeCommunity: Community,
        homeCryptoTable: CryptoTable,
        homeSlider: Slider,
        homeFeatures: Features
    }
}
</script>


<style lang="scss">
.home {
    padding-top: 48px;
}
</style>