<template>
    <div class="loginblock">
        <div class="w-p100" style="max-width: 420px; margin: 150px 0px 0px;">
            <div
                class="bg-card pc w-p100 br-2 theme-light p40 pt30 pb30"
                style="position: relative; min-height: 322px;"
            >
                <div
                    class="typo typo-title-2 fw-bolder pb20 fc-grey-dark  text-center center-h typo-nowrap typo-ellipsis"
                >
                    Welcome to log in
                </div>
                <div>
                    <div class="bg-card sv-4">
                        <div :class="['text-field', { 'text-field-focused' : focused.email }]">
                            <div class="text-field-inner">
                                <input
                                    autocomplete="new-password"
                                    type="text"
                                    class="ant-input"
                                    placeholder="Enter your email address"
                                    value=""
                                    v-model="email"
                                />
                            </div>
                            <div
                                class="typo typo-text-1-lighter fs14 text-field-label  typo-nowrap typo-ellipsis"
                            >
                                Please email address／phone number
                            </div>
                        </div>
                        <div class="text-field ">
                            <div class="text-field-inner">
                                <span
                                    class="ant-input-password ant-input-affix-wrapper"
                                    ><input
                                        autocomplete="new-password"
                                        action="click"
                                        v-model="password"
                                        :type="!focused.password ? 'password' : 'text'"
                                        placeholder="Enter your password"
                                        @blur="passwordValidator(password)"
                                        class="ant-input"/>
                                        <span
                                        @click="focused.password = !focused.password"
                                        class="ant-input-suffix"
                                        ><i
                                            aria-label="icon: eye-invisible"
                                            tabindex="-1"
                                            class="anticon anticon-eye-invisible ant-input-password-icon"
                                            ><svg
                                                viewBox="64 64 896 896"
                                                focusable="false"
                                                class=""
                                                data-icon="eye-invisible"
                                                width="1em"
                                                height="1em"
                                                fill="currentColor"
                                                aria-hidden="true"
                                            >
                                                <path
                                                    d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"
                                                ></path>
                                                <path
                                                    d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"
                                                ></path></svg></i></span
                                ></span>
                            </div>
                            <div
                                v-if="showErrorPassword"
                                class="typo typo-text-1-lighter fs14 text-field-label  typo-nowrap typo-ellipsis color-red"
                            >
                                Min length 8 letters
                            </div>
                        </div>
                        <button
                        @click="login()"
                            type="button"
                            :disabled="allowedButton"
                            class="ant-btn typo-button-primary fw-bolder fc-black ant-btn-primary ant-btn-lg ant-btn-block"
                        >
                            <span>Login</span>
                        </button>
                        <div class="d-flex  justify-content-between">
                            <router-link
                                tag="a"
                                class="typo typo-text-1 typo-text-2-primary hover-fw-bold fs12  cursor-pointer typo-nowrap typo-ellipsis"
                                to="/auth/forgot"
                                >Forgot Password?</router-link
                            ><router-link
                                tag="a"
                                class="typo typo-text-1 typo-text-2-primary hover-fw-bold fs12  cursor-pointer typo-nowrap typo-ellipsis"
                                to="/auth/register"
                                >Sign Up</router-link
                            >
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Login",
    data: () => ({
        email: "",
        password: "",
        focused: {
            email: false,
            password: false
        },
        showPassword: false,
        showError: false,
        showErrorPassword: false,
        loading: false
    }),
    computed: {
        sitename() {
            return location.hostname;
        },
        allowedEmail() {
            const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/

            if (this.email.length < 3) {
                return false
            } else if (!this.email.test(pattern)) {
                return false
            } else {
                return true
            }
        },
        allowedButton() {
            if (this.email.length === 0 && this.password.length < 8) return false 
            return true
        }
    },
    methods: {
        async login() {
            this.loading = !this.loading;

            const { data } = await this.axios.post("/auth/login", {
                email: this.email,
                password: this.password
            });

            if (data.success) {
                localStorage.setItem("token", data.profile.token);
                location.href = "/trade";
            } else {
                setTimeout(() => {
                    this.showError = true;
                    this.loading = !this.loading;
                }, 1000);
            }
        },
        passwordValidator(value) {
            if (value.length < 8) { 
                this.showErrorPassword = true 
            } else {
                this.showErrorPassword = false 
            }
    
        }
    }
};
</script>

<style lang="scss">
@import "../assets/css/auth.css";

.loginblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-red {
    color: #f44336 !important;
}
</style>
