<template>
    <div class="market-content">
        <crypto-table />
    </div>
</template>

<script>
import CryptoTable from "../components/Home/CryptoTable/Index"
export default {
    name: "Market",
    components: {
        CryptoTable
    }
}
</script>

<style lang="scss">
@import url("../assets/css/new.css");

.market-content {
    padding-bottom: 2.5rem;
}
</style>