<template>
    <div class="ReferralProgram">
        <referral-header />
        <referral-steps />
        <referral-info />
        <referral-faq />
    </div>
</template>

<script>
import Header from "../components/Referral/Header"
import Steps from "../components/Referral/Steps"
import Info from "../components/Referral/Info"
import Faq from "../components/Referral/Faq"

export default {
    name: "Referral",
    components: {
        ReferralHeader: Header,
        ReferralSteps: Steps,
        ReferralInfo: Info,
        ReferralFaq: Faq,
    }
}
</script>


<style lang="scss">
.ReferralHeader{position:relative;width:100%;height:300px;background-image:url(../assets/img/referralPage/referralHeaderDesc.svg);background-repeat:no-repeat;background-size:cover;padding:12px 5% 0;color:#fff;display:flex;flex-direction:column;align-items:center;justify-content:space-between}@media(min-width:768px){.ReferralHeader{height:20.5vw;flex-direction:row;padding:0 10%}}.ReferralHeader__container{width:100%;text-align:center}@media(min-width:768px){.ReferralHeader__container{width:60%;text-align:left}}.ReferralHeader__title{font-weight:600;font-size:24px;text-align:center;text-transform:uppercase}@media(min-width:768px){.ReferralHeader__title{text-align:start;font-size:2.5vw;width:60%}}.ReferralHeader__title__percent{color:#e3ca74}.ReferralHeader__text{font-weight:600;font-size:24px;text-align:center}@media(min-width:768px){.ReferralHeader__text{margin-top:0;text-align:start;font-size:2.3vw}}.ReferralHeader__image{display:none}@media(min-width:768px){.ReferralHeader__image{position:absolute;right:5%;bottom:-4.5vw;width:50vw;height:25vw;display:block}}.ReferralHeader__image-mobile{display:block;width:100%;margin-bottom:-24px}@media(min-width:768px){.ReferralHeader__image-mobile{display:none}}.ReferralSteps{padding:40px 0;background-color:#f5f6f7}.ReferralSteps_logined{background-color:#fff}.ReferralSteps__steps{display:flex;justify-content:space-evenly;flex-direction:column;align-items:center}@media(min-width:992px){.ReferralSteps__steps{align-items:unset;flex-direction:row}}.ReferralSteps__step{display:flex;position:relative;max-width:360px;color:#2e384d;flex-direction:column;align-items:center;margin:48px 0;text-align:center}@media(min-width:992px){.ReferralSteps__step{flex-direction:row;align-items:unset;width:25%;margin:0;text-align:unset}}.ReferralSteps__step__arrow{width:32px;height:32px;border-bottom:1px solid #2e384d;border-right:1px solid #2e384d;transform:rotate(45deg) translateX(-60%);margin-right:32px;margin-left:40px}@media(min-width:992px){.ReferralSteps__step__arrow{transform:rotate(-45deg) translateX(-100%)}}.ReferralSteps__step__icon{min-width:64px;max-width:64px;height:64px;border:1px solid #deca7b;background-color:#fff;display:flex;justify-content:center;align-items:center;border-radius:100%;margin-right:16px;margin-top:12px}.ReferralSteps__step__title{font-size:30px;font-weight:500}.ReferralSteps__step__text{font-size:14px;font-weight:500}.ReferralSteps__button{width:300px;height:64px;display:block;text-align:center;line-height:64px;background-color:#e3cb75;border-radius:8px;font-weight:600;font-size:18px;color:#fff;margin:32px auto}.ReferralSteps__button:active,.ReferralSteps__button:focus,.ReferralSteps__button:hover{color:#fff}.BaseRange{padding-top:32px;position:relative}.BaseRange__value{position:absolute;top:0;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;min-width:25px;text-align:center;font-weight:600}.BaseRange__input{-webkit-appearance:none;-moz-appearance:none;appearance:none;width:100%;height:4px;outline:none;border:none;border-radius:20px}.BaseRange__input::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;border-radius:100%;border-color:transparent;width:25px;height:25px;background:#e3cb75;box-shadow:0 2px 5px rgba(23,29,43,.15)!important;cursor:pointer}.BaseRange__input::-moz-range-thumb{-moz-appearance:none;appearance:none;border-radius:100%;border-color:transparent;width:25px;height:25px;background:#e3cb75;box-shadow:0 2px 5px rgba(23,29,43,.15)!important;cursor:pointer;border:none}.ReferralCalculator{padding-top:64px;padding-bottom:64px}.ReferralCalculator_border{border-bottom:1px solid #969fa8}.ReferralCalculator__title{font-weight:600;font-size:30px}@media(min-width:768px){.ReferralCalculator__title{font-size:40px}}@media(min-width:992px){.ReferralCalculator__title{font-size:44px}}.ReferralCalculator__tooltip{display:none}@media(min-width:992px){.ReferralCalculator__tooltip{width:22px;height:22px;border-radius:24px;background-color:#c3c6c9;color:#fff;display:inline-block;text-align:center;font-size:15px;cursor:pointer}}.ReferralCalculator__text{font-size:14px}@media(min-width:768px){.ReferralCalculator__text{font-size:18px}}.ReferralCalculator__form{margin-top:32px;display:flex;justify-content:space-between;flex-direction:column}@media(min-width:768px){.ReferralCalculator__form{flex-direction:row}}.ReferralCalculator__block{margin-bottom:16px}@media(min-width:768px){.ReferralCalculator__block{margin-bottom:0}}.ReferralCalculator__block__title{font-size:18px;margin-bottom:8px}@media(min-width:768px){.ReferralCalculator__block__title{margin-bottom:16px}}.ReferralCalculator__block__value{font-size:40px;font-weight:500}.ReferralCalculator__block_range{width:100%}@media(min-width:768px){.ReferralCalculator__block_range{width:40%}}.ReferralCalculator__calculated-value{text-align:center;font-size:40px;font-weight:500;margin-top:40px}.ReferralCalculator__calculated-value__title{font-size:12px}.ReferralCalculator__range-container{border:1px solid #e4e5e6;border-radius:8px;padding:5px 12px 20px}.tooltip{display:block!important;z-index:10000}.tooltip .tooltip-inner{background:#2d2926!important;color:#fff!important;border-radius:16px;padding:5px 10px 4px;max-width:300px}.tooltip .tooltip-arrow{width:0;height:0;border-style:solid;position:absolute;margin:5px;border-color:#2d2926!important;z-index:1}.tooltip[x-placement^=top]{margin-bottom:5px}.tooltip[x-placement^=top] .tooltip-arrow{border-width:5px 5px 0;border-left-color:transparent!important;border-right-color:transparent!important;border-bottom-color:transparent!important;bottom:-5px;left:calc(50% - 5px);margin-top:0;margin-bottom:0}.tooltip[aria-hidden=true]{visibility:hidden;opacity:0;transition:opacity .15s,visibility .15s}.tooltip[aria-hidden=false]{visibility:visible;opacity:1;transition:opacity .15s}.Faq{padding:32px 0;background-image:url(/img/aboutUs/advantagesMobileBg.png);background-position:50%;background-repeat:no-repeat;background-size:cover}@media(min-width:768px){.Faq{background-image:url(/img/aboutUs/advantagesDesktopBg.png)}}.Faq_logined{background-color:#f5f6f7;margin-top:-1px}.Faq__title{font-weight:600;margin-bottom:32px;font-size:30px}@media(min-width:768px){.Faq__title{font-size:40px}}@media(min-width:992px){.Faq__title{font-size:44px}}.Faq__container{display:flex;flex-direction:column;justify-content:space-between}@media(min-width:992px){.Faq__container{flex-direction:row}}.Faq__points{width:100%;border-left:2px solid #c3c6c9;margin-bottom:24px}@media(min-width:992px){.Faq__points{width:50%;margin-bottom:0}}.Faq__point{width:100%;height:80px;display:flex;align-items:center;font-weight:500;font-size:16px;padding-left:24px;cursor:pointer;position:relative}@media(min-width:768px){.Faq__point{font-size:20px}}.Faq__point:before{content:"";width:4px;height:102%;position:absolute;left:-3px;top:-1px;border-radius:4px;display:none;background-color:#e3cb75}.Faq__point_active{color:#b1a14f}.Faq__point_active:before{display:block}.Faq__slide{width:100%;font-size:18px;text-align:center}@media(min-width:992px){.Faq__slide{width:50%;text-align:left}}.Faq__br{height:24px;display:block}.BaseCopyValueInput{display:flex;font-size:.75rem;color:#25233a;color:var(--c-main-text,#25233a);font-weight:300;border:1px solid;border-color:#f2f2f2;border-color:var(--c-table-border,#f2f2f2)}.BaseCopyValueInput .radius{border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:0;border-bottom-right-radius:0}.BaseCopyValueInput__value{flex-grow:1;overflow-x:auto;word-break:break-all}.BaseCopyValueInput__icon{width:15px;margin-top:-2px;color:#fff;color:var(--c-opposite-text,#fff)}.ReferralInfo{background-color:#f5f6f7;padding:40px 0}.ReferralInfo__container{display:flex;flex-direction:column}@media(min-width:768px){.ReferralInfo__container{flex-direction:row}}.ReferralInfo__title{font-weight:600;font-size:30px}@media(min-width:768px){.ReferralInfo__title{font-size:40px}}@media(min-width:992px){.ReferralInfo__title{font-size:44px}}@media(min-width:768px){.ReferralInfo__left{width:58%}}@media(min-width:992px){.ReferralInfo__left{width:65%}}.ReferralInfo__share{display:flex;flex-direction:column;justify-content:space-between;margin-top:12px}@media(min-width:992px){.ReferralInfo__share{flex-direction:row}}.ReferralInfo__share-title{font-size:12px;margin:8px 0;color:#969fa8}.ReferralInfo__share-button{padding:12px 20px;margin-right:8px;display:inline-block;background-color:#ebedf0;border-radius:40px;transition:background-color .2s,color .2s;cursor:pointer;font-size:13px;color:#000}@media(min-width:450px){.ReferralInfo__share-button{margin-right:16px;padding:12px 24px}}.ReferralInfo__share-button svg path{transition:fill .2s}.ReferralInfo__share-button:hover,.ReferralInfo__share-button:visited{color:#000}@media(min-width:992px){.ReferralInfo__share-button:hover{background-color:#000;color:#fff!important}.ReferralInfo__share-button:hover svg path{fill:#fff!important}}.ReferralInfo__share-icon{margin-right:4px}.ReferralInfo .BaseCopyValueInput{border-color:#c3c6c9;height:50px;border-radius:7px}.ReferralInfo .BaseCopyValueInput__value{color:#2e384d;font-weight:600}.ReferralInfo .BaseCopyValueInput .BaseButton{background-color:#e3cb75;font-weight:600;font-size:18px;border-radius:7px;margin-right:-1px;box-shadow:0 0 0 1px #e3cb75;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}@media(min-width:992px){.ReferralInfo .BaseCopyValueInput .BaseButton{padding:0 40px}}.ReferralInfo .BaseCopyValueInput .BaseButton:active,.ReferralInfo .BaseCopyValueInput .BaseButton:focus,.ReferralInfo .BaseCopyValueInput .BaseButton:hover{transform:none}.ReferralInfo__right{display:flex;flex-direction:row;flex-wrap:wrap;margin-top:24px;justify-content:space-between}@media(min-width:768px){.ReferralInfo__right{margin-top:0;padding-left:40px;width:43%}}@media(min-width:992px){.ReferralInfo__right{width:35%}}.ReferralInfo__right_block{border:1px solid #deca7b;border-radius:7px;line-height:1;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center}.ReferralInfo__right_block-half{height:100px;width:48%}.ReferralInfo__right_block-half-value{font-size:56px;font-weight:600}.ReferralInfo__right_block-half-title{font-size:16px}.ReferralInfo__right_block-full{height:125px;width:100%;margin-top:10px}.ReferralInfo__right_block-full-value{font-size:64px;font-weight:600}.ReferralInfo__right_block-full-title{font-size:18px}.BasePagination{display:flex;flex-direction:row;font-size:14px;line-height:30px;-webkit-user-select:none;-moz-user-select:none;user-select:none;width:100%;justify-content:center}.BasePagination__button{outline:none;cursor:pointer;background:0 0;border-radius:4px;line-height:1}.BasePagination__button:active,.BasePagination__button:focus,.BasePagination__button:hover{outline:none}.BasePagination__change-btn{height:24px;width:35px;display:flex;padding:0;align-items:center;justify-content:center;color:#b1a14f;border:1px solid #b1a14f}.BasePagination__change-btn:disabled{border:1px solid #c3c6c9;color:#969fa8}.BasePagination__change-btn_left{margin-right:24px}.BasePagination__change-btn_right{margin-left:24px}.BasePagination__pagination-btn{color:#c3c6c9;padding:3px 7px;background:#fff;border:1px solid transparent}.BasePagination__pagination-btn_active{background:#fbfaf4;color:#b1a14f;border:1px solid #b1a14f}.BasePagination__arrow{display:block;color:inherit;border-right:1px solid;border-bottom:1px solid;height:8px;width:8px}.BasePagination__arrow_left{transform-origin:63% 56%;transform:rotate(135deg)}.BasePagination__arrow_right{transform-origin:42% 75%;transform:rotate(-45deg)}.CalculationHistory{padding:40px 0}.CalculationHistory__title{font-weight:600;font-size:30px}@media(min-width:768px){.CalculationHistory__title{font-size:40px}}@media(min-width:992px){.CalculationHistory__title{font-size:44px}}.CalculationHistory .BaseTable__overflowWrapper{min-width:650px}.CalculationHistory .BaseTable__rows{max-height:-webkit-fit-content;max-height:-moz-fit-content;max-height:fit-content;min-height:365px}.CalculationHistory .BaseTable__grid{grid-template-columns:minmax(300px,1fr) minmax(100px,1fr) minmax(80px,1fr) minmax(150px,1fr)}.ReferralsTable{padding:40px 0}.ReferralsTable__title{font-weight:600;font-size:30px}@media(min-width:768px){.ReferralsTable__title{font-size:40px}}@media(min-width:992px){.ReferralsTable__title{font-size:44px}}.ReferralsTable__table{position:relative}.ReferralsTable__table-kyc{color:#da2541}.ReferralsTable__table-kyc-passed{color:#09a25c}.ReferralsTable__table .BaseTable__overflowWrapper{min-width:100%}.ReferralsTable__table .BaseTable__rows{max-height:-webkit-fit-content;max-height:-moz-fit-content;max-height:fit-content;min-height:365px}.ReferralsTable__table .BaseTable__grid{grid-template-columns:1fr 1fr 1fr}.ReferralProgram{color:#2e384d}
</style>