<template>
    <div
        class="Auth row d-flex flex-column justify-content-center align-items-center"
    >
        <div class="Auth__block flex-column p-3">
            <div class="Auth__cardHeader">
                <div class="BaseH1">Sign Up</div>
            </div>
            <div class="Register w-100 px-3">
                <form
                    @submit.prevent="createProfile()"
                    class="Register__form d-flex flex-column align-self-stretch justify-content-center"
                >
                    <div class="errorMessage"></div>
                    <div
                        :class="['NativeInput my-2', { 'isError': !validEmail }]"
                        autocomplete="username"
                        value=""
                    >
                        <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="ml-3 mr-3"
                        >
                            <path
                                d="M15.51 2.47c-.01-.01-.01-.02-.01-.02a.218.218 0 00-.08-.05c-.26-.21-.58-.34-.93-.34H1.52c-.38 0-.73.15-.99.38 0 0-.01 0-.01.01-.3.27-.5.67-.5 1.11v8.89c0 .83.67 1.5 1.5 1.5h12.97c.83 0 1.5-.67 1.5-1.5v-8.9a1.51 1.51 0 00-.48-1.08zm-1.36.58L8 9 1.86 3.05h12.29zm.33 9.9H1.52c-.28 0-.5-.22-.5-.5V3.63l6.36 6.16c.17.17.4.25.62.25.22 0 .45-.08.62-.25l6.36-6.15v8.81c0 .27-.22.5-.5.5z"
                                fill="#909090"
                            ></path></svg
                        ><input
                            v-model="email"
                            name="email"
                            type="email"
                            data-precision="8"
                            placeholder="E-mail"
                            autocomplete="username"
                            class="NativeInput__input"
                        />
                    </div>
                    <div
                        class="PasswordInput Register__passwordInput my-2"
                        autocomplete="new-password"
                        value=""
                    >
                        <div
                            :class="['NativeInput', { 'isError' : password.length < 8 || password != passwordRepeat }]"
                            id="authFormpassword"
                            autocomplete="new-password"
                            value=""
                        >
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="ml-3 mr-3"
                            >
                                <path
                                    d="M12.98 6.11V4.84C12.87 2.19 10.72.07 8.08.02 5.41-.04 3.12 2.14 3.01 4.87v1.24C2.42 6.31 2 6.87 2 7.52v6.95c0 .83.67 1.5 1.5 1.5h8.97c.83 0 1.5-.67 1.5-1.5V7.52c.01-.65-.41-1.2-.99-1.41zM8.06 1.03c2.11.04 3.83 1.73 3.92 3.84v1.15h-1.04V4.54C10.81 3 9.37 2.05 8.05 2.01 6.5 2 5.16 3.11 5.02 4.58v1.43H4.01V4.88C4.1 2.72 5.89.97 8.06 1.03zM6.02 6.02V4.63c.1-.99 1.14-1.64 2.01-1.61.88.02 1.84.63 1.92 1.57v1.43H6.02zm6.96 8.45c0 .28-.23.5-.5.5H3.51c-.28 0-.5-.23-.5-.5V7.52c0-.28.23-.5.5-.5h8.97c.28 0 .5.23.5.5v6.95z"
                                    fill="#909090"
                                ></path></svg
                            ><input
                                v-model="password"
                                @focus="passwordTooltipState(true)"
                                @blur="passwordTooltipState(false)"
                                name="password"
                                :type="!passwordType ? 'password' : 'text'"
                                data-precision="8"
                                placeholder="Password"
                                id="authFormpassword"
                                autocomplete="new-password"
                                class="NativeInput__input"
                            />
                        </div>
                        <div class="PasswordInput__eye" @click="passwordType = !passwordType">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="PasswordInput__eyeIcon mr-2"
                            >
                                <path
                                    d="M15.93 8c0-.03 0-.06-.01-.09l-.03-.1c-.01-.02-.01-.04-.02-.06-.01-.02-.02-.03-.03-.05l-.01-.01a8.482 8.482 0 00-1.84-2.22.514.514 0 00-.71.05c-.18.2-.16.53.05.71.6.51 1.09 1.12 1.5 1.77-.58.85-2.74 3.58-6.55 3.71-.17.01-.34 0-.51 0-.28.01-.51.21-.51.49-.01.28.21.51.49.51H8.32c5.05-.17 7.46-4.29 7.55-4.46.01-.02.01-.04.02-.06.01-.03.03-.06.03-.1 0-.03.01-.06.01-.09z"
                                    fill="#909090"
                                ></path>
                                <path
                                    d="M3.41 10.93c.16-.23.1-.54-.12-.7-.87-.6-1.58-1.36-2.12-2.23 1.4-2.26 3.94-3.68 6.74-3.72.56 0 1.12.04 1.67.15.26.05.53-.12.59-.4a.506.506 0 00-.4-.59c-.61-.11-1.23-.16-1.88-.15C4.66 3.32 1.71 5.01.17 7.7c-.01.02-.02.03-.04.05-.01.02-.01.04-.01.06a.3.3 0 00-.04.1V8c0 .03 0 .06.01.09s.02.06.03.1c.01.02.01.04.02.06.63 1.11 1.5 2.06 2.58 2.81.08.06.18.09.28.09.15 0 .31-.08.41-.22z"
                                    fill="#909090"
                                ></path>
                                <path
                                    d="M14.03 2.7c-.2-.2-.51-.2-.71 0L2.93 13.1c-.2.2-.2.51 0 .71a.485.485 0 00.7 0l10.4-10.4c.2-.2.2-.51 0-.71z"
                                    fill="#909090"
                                ></path>
                            </svg>
                        </div>
                    </div>
                    <div
                        class="PasswordInput Register__passwordInput my-2"
                        autocomplete="new-password"
                        value=""
                    >
                        <div
                            :class="['NativeInput', { 'isError' : password != passwordRepeat }]"
                            id="authFormpassword_confirmation"
                            autocomplete="new-password"
                            value=""
                        >
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="ml-3 mr-3"
                            >
                                <path
                                    d="M12.98 6.11V4.84C12.87 2.19 10.72.07 8.08.02 5.41-.04 3.12 2.14 3.01 4.87v1.24C2.42 6.31 2 6.87 2 7.52v6.95c0 .83.67 1.5 1.5 1.5h8.97c.83 0 1.5-.67 1.5-1.5V7.52c.01-.65-.41-1.2-.99-1.41zM8.06 1.03c2.11.04 3.83 1.73 3.92 3.84v1.15h-1.04V4.54C10.81 3 9.37 2.05 8.05 2.01 6.5 2 5.16 3.11 5.02 4.58v1.43H4.01V4.88C4.1 2.72 5.89.97 8.06 1.03zM6.02 6.02V4.63c.1-.99 1.14-1.64 2.01-1.61.88.02 1.84.63 1.92 1.57v1.43H6.02zm6.96 8.45c0 .28-.23.5-.5.5H3.51c-.28 0-.5-.23-.5-.5V7.52c0-.28.23-.5.5-.5h8.97c.28 0 .5.23.5.5v6.95z"
                                    fill="#909090"
                                ></path></svg
                            ><input
                                v-model="passwordRepeat"
                                @focus="passwordTooltipState(true)"
                                @blur="passwordTooltipState(false)"
                                name="password_confirmation"
                                :type="!passwordRepeatType ? 'password' : 'text'"
                                data-precision="8"
                                placeholder="Confirm password"
                                id="authFormpassword_confirmation"
                                autocomplete="new-password"
                                class="NativeInput__input"
                            />
                        </div>
                        <div class="PasswordInput__eye" @click="passwordRepeatType = !passwordRepeatType">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="PasswordInput__eyeIcon mr-2"
                            >
                                <path
                                    d="M15.93 8c0-.03 0-.06-.01-.09l-.03-.1c-.01-.02-.01-.04-.02-.06-.01-.02-.02-.03-.03-.05l-.01-.01a8.482 8.482 0 00-1.84-2.22.514.514 0 00-.71.05c-.18.2-.16.53.05.71.6.51 1.09 1.12 1.5 1.77-.58.85-2.74 3.58-6.55 3.71-.17.01-.34 0-.51 0-.28.01-.51.21-.51.49-.01.28.21.51.49.51H8.32c5.05-.17 7.46-4.29 7.55-4.46.01-.02.01-.04.02-.06.01-.03.03-.06.03-.1 0-.03.01-.06.01-.09z"
                                    fill="#909090"
                                ></path>
                                <path
                                    d="M3.41 10.93c.16-.23.1-.54-.12-.7-.87-.6-1.58-1.36-2.12-2.23 1.4-2.26 3.94-3.68 6.74-3.72.56 0 1.12.04 1.67.15.26.05.53-.12.59-.4a.506.506 0 00-.4-.59c-.61-.11-1.23-.16-1.88-.15C4.66 3.32 1.71 5.01.17 7.7c-.01.02-.02.03-.04.05-.01.02-.01.04-.01.06a.3.3 0 00-.04.1V8c0 .03 0 .06.01.09s.02.06.03.1c.01.02.01.04.02.06.63 1.11 1.5 2.06 2.58 2.81.08.06.18.09.28.09.15 0 .31-.08.41-.22z"
                                    fill="#909090"
                                ></path>
                                <path
                                    d="M14.03 2.7c-.2-.2-.51-.2-.71 0L2.93 13.1c-.2.2-.2.51 0 .71a.485.485 0 00.7 0l10.4-10.4c.2-.2.2-.51 0-.71z"
                                    fill="#909090"
                                ></path>
                            </svg>
                        </div>
                    </div>
                    <div :class="['password-tooltip', { 'is-active-tooltip' : showPassword }]">
                        <div class="list-title">
                            Passwords must:
                            <ul>
                                <li>
                                    be a minimum of eight (8) characters in
                                    length
                                </li>
                                <li>have a One capital letter</li>
                                <li>exclusively latin alphabet</li>
                                <li>
                                    optional: use letters together with numbers
                                    or symbols (!@#$%^&amp;*)
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div
                        class="ReferralInput Register__referral-input my-2"
                        value=""
                    >
                        <div class="NativeInput" id="authFormreferer" value="">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="ml-3 mr-3"
                            >
                                <g clip-path="url(#clip0)" fill="#909090">
                                    <path
                                        d="M7.61 14.97H1.85c-.19 0-.36-.08-.47-.23a.57.57 0 01-.09-.52c.27-.92.85-2.26 2.09-3.39 1.58-1.44 3.37-1.79 4.29-1.88.03 0 .06-.02.08-.03.09.01.18.03.27.03 2.46 0 4.46-2 4.46-4.46S10.48.03 8.02.03s-4.46 2-4.46 4.46c0 1.64.9 3.06 2.22 3.83-.96.32-2.06.84-3.08 1.78a8.332 8.332 0 00-2.37 3.85c-.14.48-.05.99.25 1.4.3.4.77.63 1.27.63h5.77c.28 0 .5-.22.5-.5s-.23-.51-.51-.51zM4.55 4.5a3.461 3.461 0 016.92 0 3.461 3.461 0 01-6.92 0z"
                                    ></path>
                                    <path
                                        d="M15.36 10.79c0-.05-.01-.09-.03-.13 0-.02 0-.03-.01-.05a.567.567 0 00-.12-.18l-1.27-1.28c-.19-.2-.51-.2-.71 0-.2.19-.2.51 0 .71l.44.44h-.19c-.56.05-1.65.25-2.59 1.09-1.29 1.16-1.36 2.68-1.36 3.12v1.03c0 .28.22.5.5.5s.5-.22.5-.5V14.5c-.01-.33.05-1.49 1.02-2.36.72-.65 1.57-.8 1.96-.84h.15l-.44.44c-.2.2-.2.51 0 .71a.485.485 0 00.7 0l1.29-1.29c.11-.11.16-.24.16-.37z"
                                    ></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <path
                                            fill="#fff"
                                            d="M0 0h16v16H0z"
                                        ></path>
                                    </clipPath>
                                </defs></svg
                            ><input
                                v-model="referrerCode"
                                name="referer"
                                type="text"
                                data-precision="8"
                                placeholder="Referrer ID (optional)"
                                id="authFormreferer"
                                class="NativeInput__input"
                            />
                        </div>
                    </div>
                    <div class="Register__agree mt-3 mb-1">
                        <div class="BaseCheckbox">
                            <div @click="agreement = !agreement" :class="['BaseCheckbox__checkbox', { 'isChecked' : agreement }]">
                                <svg
                                    width="14"
                                    height="9"
                                    viewBox="0 0 14 9"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class=""
                                >
                                    <rect
                                        x="-.212"
                                        width="10.46"
                                        height="1.058"
                                        rx=".529"
                                        transform="rotate(-44.916 12.31 -2.286)"
                                        fill="#fff"
                                        stroke="#fff"
                                        stroke-width=".3"
                                    ></rect>
                                    <rect
                                        y="-.212"
                                        width="7.085"
                                        height="1.058"
                                        rx=".529"
                                        transform="rotate(44.916 -3.344 3.346)"
                                        fill="#fff"
                                        stroke="#fff"
                                        stroke-width=".3"
                                    ></rect>
                                </svg>
                            </div>
                            <div class="Register__agree-text">
                                <span
                                    >I agree to WhiteBIT
                                    <a
                                        place="termsOfServiceUrl"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        href="/terms"
                                        class="underline"
                                        >User Agreement</a
                                    >
                                    and
                                    <a
                                        place="privacyPolicyUrl"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        href="/privacy-policy"
                                        class="underline"
                                        >Privacy Policy</a
                                    ></span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="Register__agree mb-2">
                        <div class="BaseCheckbox">
                            <div @click="agreementCountries = !agreementCountries" :class="['BaseCheckbox__checkbox', { 'isChecked' : agreementCountries }]">
                                <svg
                                    width="14"
                                    height="9"
                                    viewBox="0 0 14 9"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class=""
                                >
                                    <rect
                                        x="-.212"
                                        width="10.46"
                                        height="1.058"
                                        rx=".529"
                                        transform="rotate(-44.916 12.31 -2.286)"
                                        fill="#fff"
                                        stroke="#fff"
                                        stroke-width=".3"
                                    ></rect>
                                    <rect
                                        y="-.212"
                                        width="7.085"
                                        height="1.058"
                                        rx=".529"
                                        transform="rotate(44.916 -3.344 3.346)"
                                        fill="#fff"
                                        stroke="#fff"
                                        stroke-width=".3"
                                    ></rect>
                                </svg>
                            </div>
                            <div class="warning-bold">WARNING!</div>
                        </div>
                        <div class="warning-text">
                            I hereby confirm that I am neither a citizen nor a
                            resident of the following countries:
                        </div>
                        <div class="warning-text warning-bold">
                            American Virgin Islands, American Samoa, Guam,
                            Afghanistan, Iran, Iraq, Yemen, North Korea,
                            Northern Mariana Islands, Libya, Pakistan, Puerto
                            Rico, Palestine, Somalia, Syria, USA, Somalia,
                            Sudan, temporarily occupied territories of Ukraine.
                        </div>
                    </div>
                    <div class="BaseCaptcha captcha my-2">
                        <div>
                            <!----><button
                                type="submit"
                                :disabled="!allowConfirm"
                                class="BaseButton is-default is-m"
                                id="0.34"
                            >
                                <span class="BaseButton__content">
                                    Register
                                    <div class="content is-hidden"></div></span
                                ><!---->
                            </button>
                        </div>
                    </div>
                    <div class="w-100 text-center my-3 small">
                        Already have an account?
                        <router-link to="/auth/login" class="mx-2 underline">Sign In</router-link>
                    </div>
                </form>
            </div>
        </div>
        <img
            src="../assets/img/logo-white-black.svg"
            alt=""
            role="presentation"
            class="Auth__logo mt-1 mb-2"
        />
        <div class="Auth__policy mt-3">
            © 2018 - 2020 WhiteBIT.com All rights reserved
        </div>
    </div>
</template>

<script>
export default {
    name: "Register",
    data: () => ({
        email: "",
        password: "",
        passwordRepeat: "",
        referrerCode: "",
        agreement: false,
        agreementCountries: false,
        showPassword: false,
        passwordType: false,
        passwordRepeatType: false
    }),
    computed: {
        allowConfirm() {
            const { validEmail, password, passwordRepeat, agreementCountries, agreement } = this 

            if (password.length < 6 && password != passwordRepeat) {
                return false
            }

            if (validEmail && password.length > 6 && password === passwordRepeat && agreement && agreementCountries) {
                return true
            } else {
                return false
            }
        },
        validEmail() {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email) 
        }
    },
    methods: {
        async createProfile() {
            const { email, password, referrerCode } = this 


            const { data } = await this.axios.post("/auth/register", {
                email,
                password, 
                referrerCode
            })

            if (data.success) {
                localStorage.setItem("token", data.profile.token)
                location.href = '/trade'
            }
        },
        passwordTooltipState(boolean) {
            this.showPassword = boolean
        }
    }
}
</script>

<style lang="scss">
@import "../assets/css/auth.css";
</style>

