<template>
    <div class="d-flex flex-column w-p100 box-panels layout-desktop stacks-type-10" style="min-height: 650px;margin-top: 48px;">
        <div class="d-flex  cols-type-10" style="height: 100%;">
            <div class="d-flex  cols-type-01">
                <trade-history />
                <trading-view />
            </div>
            <div class="d-flex" style="width: 35%; min-width: 500px; max-width: 640px;">
                <trading-orders />
                <trading-trades />
            </div>
        </div>

         <div class="d-flex  cols-type-10" >
        </div>
    </div>
</template>

<script>
import TradeHistory from "../components/Trade/History"
import TradingView from "../components/Trade/TradingView"
import TradingBuy from "../components/Trade/Buy"
import TradingSell from "../components/Trade/Sell"
import TradingOrders from "../components/Trade/Orders"
import TradingTrades from "../components/Trade/Trades"

export default {
    name: "Trade",
    components: {
        TradeHistory,
        TradingView,
        TradingBuy,
        TradingSell,
        TradingOrders,
        TradingTrades
    }
}
</script>
<style lang="scss">
@import "../assets/css/trade.css";
</style>