<template>
    <div class="Section SocialSection">
        <div class="Section__head">
            <div class="SocialSection__links">
                <a
                    href="https://t.me/White_Bit"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social telegram"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="telegram-plane"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        class="svg-inline--fa fa-telegram-plane fa-w-14"
                    >
                        <path
                            fill="#2e394c"
                            d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
                            class=""
                        ></path></svg
                    ><span> Telegram</span></a
                ><a
                    href="https://twitter.com/WhiteBit6"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social twitter"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="twitter"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="svg-inline--fa fa-twitter fa-w-16"
                    >
                        <path
                            fill="#2e394c"
                            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            class=""
                        ></path></svg
                    ><span> Twitter</span></a
                ><a
                    href="https://medium.com/whitebit"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social medium"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="medium-m"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="svg-inline--fa fa-medium-m fa-w-16"
                    >
                        <path
                            fill="#2e394c"
                            d="M71.5 142.3c.6-5.9-1.7-11.8-6.1-15.8L20.3 72.1V64h140.2l108.4 237.7L364.2 64h133.7v8.1l-38.6 37c-3.3 2.5-5 6.7-4.3 10.8v272c-.7 4.1 1 8.3 4.3 10.8l37.7 37v8.1H307.3v-8.1l39.1-37.9c3.8-3.8 3.8-5 3.8-10.8V171.2L241.5 447.1h-14.7L100.4 171.2v184.9c-1.1 7.8 1.5 15.6 7 21.2l50.8 61.6v8.1h-144v-8L65 377.3c5.4-5.6 7.9-13.5 6.5-21.2V142.3z"
                            class=""
                        ></path></svg
                    ><span> Medium</span></a
                ><a
                    href="https://www.facebook.com/Whitebit-2208080676073343/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social facebook"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="facebook-f"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        class="svg-inline--fa fa-facebook-f fa-w-10"
                    >
                        <path
                            fill="#2e394c"
                            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                            class=""
                        ></path></svg
                    ><span> Facebook</span></a
                ><a
                    href="https://www.reddit.com/user/WhiteBitExchange"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social reddit"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="reddit-alien"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="svg-inline--fa fa-reddit-alien fa-w-16"
                    >
                        <path
                            fill="#2e394c"
                            d="M440.3 203.5c-15 0-28.2 6.2-37.9 15.9-35.7-24.7-83.8-40.6-137.1-42.3L293 52.3l88.2 19.8c0 21.6 17.6 39.2 39.2 39.2 22 0 39.7-18.1 39.7-39.7s-17.6-39.7-39.7-39.7c-15.4 0-28.7 9.3-35.3 22l-97.4-21.6c-4.9-1.3-9.7 2.2-11 7.1L246.3 177c-52.9 2.2-100.5 18.1-136.3 42.8-9.7-10.1-23.4-16.3-38.4-16.3-55.6 0-73.8 74.6-22.9 100.1-1.8 7.9-2.6 16.3-2.6 24.7 0 83.8 94.4 151.7 210.3 151.7 116.4 0 210.8-67.9 210.8-151.7 0-8.4-.9-17.2-3.1-25.1 49.9-25.6 31.5-99.7-23.8-99.7zM129.4 308.9c0-22 17.6-39.7 39.7-39.7 21.6 0 39.2 17.6 39.2 39.7 0 21.6-17.6 39.2-39.2 39.2-22 .1-39.7-17.6-39.7-39.2zm214.3 93.5c-36.4 36.4-139.1 36.4-175.5 0-4-3.5-4-9.7 0-13.7 3.5-3.5 9.7-3.5 13.2 0 27.8 28.5 120 29 149 0 3.5-3.5 9.7-3.5 13.2 0 4.1 4 4.1 10.2.1 13.7zm-.8-54.2c-21.6 0-39.2-17.6-39.2-39.2 0-22 17.6-39.7 39.2-39.7 22 0 39.7 17.6 39.7 39.7-.1 21.5-17.7 39.2-39.7 39.2z"
                            class=""
                        ></path></svg
                    ><span> Reddit</span></a
                ><a
                    href="https://www.linkedin.com/company/whitebit-cryptocurrency-exchange/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="SocialSection__social linkedin"
                    ><svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fab"
                        data-icon="linkedin-in"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        class="svg-inline--fa fa-linkedin-in fa-w-14"
                    >
                        <path
                            fill="#2e394c"
                            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                            class=""
                        ></path></svg
                    ><span> LinkedIn</span></a
                >
            </div>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Join the Community</h2>
                <span class="Section__subTitle">
                    Stay informed about our latest news, updates, and
                    promotions!
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Community"
}
</script>

<style lang="scss">
.SocialSection{padding:80px 1rem}@media(min-width:768px){.SocialSection{padding:125px 8.6% 0;justify-content:center}}.SocialSection .Section__head{padding-bottom:80px}@media(min-width:768px){.SocialSection .Section__head{padding-bottom:180px}}.SocialSection__links{width:100%;grid-row-gap:50px;grid-column-gap:20px;display:grid;grid-template-columns:repeat(3,62px);justify-content:space-between}@media(min-width:768px){.SocialSection__links{grid-template-columns:repeat(6,65px)}}.SocialSection__social{display:flex;flex-direction:column;align-items:center;text-transform:uppercase;font-size:.75rem;color:#2e384d;color:var(--c-api-grey-bluish,#2e384d);width:100%;justify-content:center;max-height:70px;height:100%;transition:color .2s ease-in-out;will-change:color}@media(min-width:768px){.SocialSection__social{max-height:86px}}.SocialSection__social svg{width:100%!important;height:100%;padding-bottom:28px}@media(min-width:768px){.SocialSection__social svg{padding-bottom:20px}}.SocialSection__social.telegram:hover{color:#2199d5}.SocialSection__social.twitter:hover{color:#41abe1}.SocialSection__social.medium:hover{color:#1a1c1b}.SocialSection__social.facebook:hover{color:#4267b2}.SocialSection__social.reddit:hover{color:#ec5428}.SocialSection__social.linkedin:hover{color:#0073b1}.SocialSection__social svg path{fill: CURRENTCOLOR;}
</style>