<template>
    <div class="features"><h2>Coinmarketc is the most advanced cryptocurrency exchange</h2> <div class="container row m-auto p-5"><div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-times-circle"></i><br> <span class="title">Extra Low Trading Fees</span><br> <span class="descr">Exchange with extra low fees, keep all your profit</span></div><div class="feature col-lg-4 col-md-6 col-12"><i class="fas fa-balance-scale"></i><br> <span class="title">Quicker than NASDAQ</span><br> <span class="descr">Our project has the Current world's fastest trade engine capable of 75,000 transactions per second</span></div><div class="feature col-lg-4 col-md-6 col-12"><i class="fas fa-funnel-dollar"></i><br> <span class="title">Custody Protection Guaranteed</span><br> <span class="descr">Asset funds are kept in our cold storage custody solution preventing any malicious hacks</span></div><div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-star"></i><br> <span class="title">Trusted by Industry Experts</span><br> <span class="descr">State of the art infrastructure with SHA-384 layer encryption and multi server cross-referencing</span></div><div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-clock"></i><br> <span class="title">24/7 Access</span><br> <span class="descr">Reliable 100% up-time with around the clock account access to all asset trading and balances</span></div><div class="feature col-lg-4 col-md-6 col-12"><i class="far fa-address-card"></i><br> <span class="title">Privacy Info Standards</span><br> <span class="descr">Your information is secured with AUSTRAC inline with AML policy</span></div></div></div>
</template>

<style lang="scss">
.features {
    background: url("/img/home.jpg")no-repeat 50%;
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
}
</style>