<template>
    <div class="Section FiatSection">
        <div class="Section__head">
            <svg
                width="443"
                height="296"
                viewBox="0 0 443 296"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class=""
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M48.453 0C21.693 0 0 20.167 0 45.044V256.212C0 278.134 19.254 296 42.881 296h357.291C423.798 296 443 278.134 443 256.212V45.043C443 20.168 421.307 0 394.547 0H48.453z"
                    fill="#858E97"
                ></path>
                <path
                    d="M286.652 60.21h-17.304v30.946h17.304V60.21z"
                    fill="#A0A8B0"
                ></path>
                <path
                    d="M270.446 75.683c0-6.288 2.967-11.865 7.527-15.473A19.72 19.72 0 00265.777 56C254.845 56 246 64.803 246 75.683c0 10.88 8.845 19.683 19.777 19.683 4.614 0 8.844-1.586 12.196-4.21a19.62 19.62 0 01-7.527-15.473z"
                    fill="#6F7C86"
                ></path>
                <path
                    d="M310 75.683c0 10.88-8.845 19.683-19.777 19.683a19.714 19.714 0 01-12.196-4.21 19.537 19.537 0 007.527-15.473c0-6.288-2.967-11.865-7.527-15.473A19.715 19.715 0 01290.223 56C301.155 56 310 64.857 310 75.683z"
                    fill="#BBC2C9"
                ></path>
                <g clip-path="url(#visa)">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M382.507 61c2.946 0 5.328.649 6.83 1.236l-1.036 6.271-.688-.308c-1.378-.587-3.197-1.174-5.672-1.112-3.007 0-4.355 1.266-4.386 2.502 0 1.36 1.631 2.255 4.294 3.584 4.387 2.07 6.422 4.603 6.392 7.91-.062 6.024-5.264 9.917-13.253 9.917-3.417-.031-6.707-.743-8.493-1.546l1.066-6.519 1.002.464c2.476 1.083 4.105 1.545 7.145 1.545 2.192 0 4.543-.897 4.573-2.842 0-1.267-1.002-2.195-3.948-3.616-2.882-1.39-6.736-3.707-6.673-7.878.032-5.654 5.328-9.608 12.847-9.608zm-28.389 29.567h7.615l4.762-29.04h-7.614l-4.763 29.04zm45.339-10.288c.627-1.668 3.041-8.125 3.041-8.125-.013.025.086-.248.234-.652.219-.598.543-1.484.767-2.129l.533 2.503s1.442 6.951 1.755 8.403h-6.33zm9.4-18.753h-5.89c-1.817 0-3.196.525-3.98 2.41l-11.311 26.63h7.99l1.598-4.356h9.777c.218 1.02.908 4.357.908 4.357H415l-6.143-29.04zM340.301 81.33l7.457-19.803h8.052l-11.969 29.01h-8.052l-6.831-25.396c4.826 2.504 9.15 7.539 10.528 12.173l.815 4.016z"
                        fill="#6F7C86"
                    ></path>
                    <path
                        d="M333.377 61.526h-12.252l-.125.587c9.557 2.41 15.886 8.22 18.486 15.201l-2.663-13.346c-.438-1.855-1.786-2.38-3.446-2.442z"
                        fill="#BBC2C9"
                    ></path>
                </g>
                <path
                    d="M37.802 223.104c1.24 0 2.15-.248 2.728-.744.6-.517.899-1.168.899-1.953v-.217c0-.889-.29-1.581-.868-2.077-.558-.517-1.333-.775-2.325-.775-.95 0-1.798.227-2.542.682-.724.455-1.354 1.095-1.891 1.922l-2.604-2.356c.372-.496.775-.961 1.209-1.395a6.55 6.55 0 011.55-1.147 7.852 7.852 0 011.953-.775c.723-.186 1.54-.279 2.449-.279 1.095 0 2.087.134 2.976.403.91.248 1.684.62 2.325 1.116a5.053 5.053 0 011.519 1.798c.351.682.527 1.457.527 2.325 0 .703-.114 1.333-.341 1.891a4.21 4.21 0 01-.9 1.457 4.689 4.689 0 01-1.332 1.023 6.837 6.837 0 01-1.581.558v.186c.62.124 1.209.32 1.767.589.558.269 1.033.63 1.426 1.085.413.434.733.951.96 1.55.249.599.373 1.281.373 2.046 0 .951-.197 1.819-.59 2.604a5.623 5.623 0 01-1.611 2.015c-.703.558-1.54.992-2.511 1.302-.971.289-2.056.434-3.255.434-1.054 0-1.984-.114-2.79-.341a8.003 8.003 0 01-2.14-.868 8.057 8.057 0 01-1.58-1.271 10.254 10.254 0 01-1.178-1.55l3.007-2.294c.248.434.517.837.806 1.209.29.351.62.661.992.93a4.28 4.28 0 001.27.62 5.521 5.521 0 001.613.217c1.198 0 2.118-.289 2.759-.868.64-.579.96-1.374.96-2.387v-.217c0-.992-.35-1.746-1.053-2.263-.682-.517-1.674-.775-2.976-.775h-2.14v-3.41h2.14z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M59.056 236v-4.185H49.26v-3.472l8.618-13.981h5.053v14.291h2.82v3.162h-2.82V236h-3.875zm-6.448-7.347h6.448V218.33h-.248l-6.2 10.323z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M72.095 236l7.533-18.321h-7.471v3.968h-3.472v-7.285h15.004v3.503L76.373 236h-4.278z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M90.683 236l7.532-18.321h-7.47v3.968h-3.473v-7.285h15.004v3.503L94.96 236h-4.277z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M149.301 217.896h-9.734l-.496 7.254h.217c.227-.455.475-.878.744-1.271.269-.393.579-.723.93-.992a3.928 3.928 0 011.209-.62c.475-.165 1.044-.248 1.705-.248.93 0 1.798.155 2.604.465.806.31 1.498.765 2.077 1.364.599.579 1.064 1.292 1.395 2.139.351.847.527 1.808.527 2.883 0 1.095-.176 2.098-.527 3.007a6.805 6.805 0 01-1.55 2.387c-.682.661-1.519 1.178-2.511 1.55-.992.372-2.129.558-3.41.558-.992 0-1.881-.114-2.666-.341a7.574 7.574 0 01-2.077-.868 7.299 7.299 0 01-1.55-1.271 11.582 11.582 0 01-1.147-1.55l2.976-2.294c.248.413.506.806.775 1.178.269.351.579.661.93.93.372.269.775.486 1.209.651.455.145.982.217 1.581.217 1.219 0 2.139-.341 2.759-1.023.641-.682.961-1.612.961-2.79v-.248c0-1.116-.32-1.994-.961-2.635-.641-.641-1.529-.961-2.666-.961-.889 0-1.612.176-2.17.527-.558.331-1.002.692-1.333 1.085l-3.348-.465.806-12.152h12.741v3.534z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M161.224 236.372c-1.261 0-2.387-.155-3.379-.465-.971-.331-1.798-.775-2.48-1.333a5.664 5.664 0 01-1.519-1.984 5.949 5.949 0 01-.527-2.511c0-1.405.382-2.542 1.147-3.41.785-.889 1.829-1.509 3.131-1.86v-.248c-1.075-.393-1.953-1.002-2.635-1.829-.661-.827-.992-1.87-.992-3.131 0-.827.155-1.581.465-2.263a5.093 5.093 0 011.426-1.767c.62-.496 1.374-.878 2.263-1.147.909-.289 1.943-.434 3.1-.434s2.18.145 3.069.434c.909.269 1.674.651 2.294 1.147a4.778 4.778 0 011.395 1.767c.331.682.496 1.436.496 2.263 0 1.261-.341 2.304-1.023 3.131-.661.827-1.529 1.436-2.604 1.829v.248c1.302.351 2.335.971 3.1 1.86.785.868 1.178 2.005 1.178 3.41 0 .909-.176 1.746-.527 2.511a5.514 5.514 0 01-1.55 1.984c-.661.558-1.488 1.002-2.48 1.333-.971.31-2.087.465-3.348.465zm0-3.193c1.178 0 2.077-.269 2.697-.806.641-.537.961-1.292.961-2.263v-.651c0-.971-.32-1.726-.961-2.263-.62-.537-1.519-.806-2.697-.806-1.178 0-2.087.269-2.728.806-.62.537-.93 1.292-.93 2.263v.651c0 .971.31 1.726.93 2.263.641.537 1.55.806 2.728.806zm0-9.827c1.095 0 1.932-.248 2.511-.744.579-.496.868-1.199.868-2.108v-.496c0-.889-.289-1.581-.868-2.077s-1.416-.744-2.511-.744c-1.095 0-1.932.248-2.511.744-.579.496-.868 1.188-.868 2.077v.496c0 .909.289 1.612.868 2.108s1.416.744 2.511.744z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M175.751 236l7.533-18.321h-7.471v3.968h-3.472v-7.285h15.004v3.503L180.029 236h-4.278z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M197.222 223.104c1.24 0 2.149-.248 2.728-.744.599-.517.899-1.168.899-1.953v-.217c0-.889-.29-1.581-.868-2.077-.558-.517-1.333-.775-2.325-.775-.951 0-1.798.227-2.542.682-.724.455-1.354 1.095-1.891 1.922l-2.604-2.356c.372-.496.775-.961 1.209-1.395a6.527 6.527 0 011.55-1.147 7.83 7.83 0 011.953-.775c.723-.186 1.539-.279 2.449-.279 1.095 0 2.087.134 2.976.403.909.248 1.684.62 2.325 1.116a5.065 5.065 0 011.519 1.798c.351.682.527 1.457.527 2.325 0 .703-.114 1.333-.341 1.891a4.226 4.226 0 01-.899 1.457 4.698 4.698 0 01-1.333 1.023 6.837 6.837 0 01-1.581.558v.186c.62.124 1.209.32 1.767.589.558.269 1.033.63 1.426 1.085.413.434.733.951.961 1.55.248.599.372 1.281.372 2.046 0 .951-.197 1.819-.589 2.604a5.63 5.63 0 01-1.612 2.015c-.703.558-1.54.992-2.511 1.302-.972.289-2.057.434-3.255.434-1.054 0-1.984-.114-2.79-.341a8.003 8.003 0 01-2.139-.868 8.016 8.016 0 01-1.581-1.271 10.182 10.182 0 01-1.178-1.55l3.007-2.294c.248.434.516.837.806 1.209.289.351.62.661.992.93s.795.475 1.271.62a5.516 5.516 0 001.612.217c1.198 0 2.118-.289 2.759-.868.64-.579.961-1.374.961-2.387v-.217c0-.992-.352-1.746-1.054-2.263-.682-.517-1.674-.775-2.976-.775h-2.139v-3.41h2.139z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M246.292 236.372c-1.26 0-2.387-.155-3.379-.465-.971-.331-1.798-.775-2.48-1.333a5.676 5.676 0 01-1.519-1.984 5.949 5.949 0 01-.527-2.511c0-1.405.383-2.542 1.147-3.41.786-.889 1.829-1.509 3.131-1.86v-.248c-1.074-.393-1.953-1.002-2.635-1.829-.661-.827-.992-1.87-.992-3.131 0-.827.155-1.581.465-2.263a5.093 5.093 0 011.426-1.767c.62-.496 1.375-.878 2.263-1.147.91-.289 1.943-.434 3.1-.434 1.158 0 2.181.145 3.069.434.91.269 1.674.651 2.294 1.147a4.778 4.778 0 011.395 1.767c.331.682.496 1.436.496 2.263 0 1.261-.341 2.304-1.023 3.131-.661.827-1.529 1.436-2.604 1.829v.248c1.302.351 2.336.971 3.1 1.86.786.868 1.178 2.005 1.178 3.41 0 .909-.175 1.746-.527 2.511a5.514 5.514 0 01-1.55 1.984c-.661.558-1.488 1.002-2.48 1.333-.971.31-2.087.465-3.348.465zm0-3.193c1.178 0 2.077-.269 2.697-.806.641-.537.961-1.292.961-2.263v-.651c0-.971-.32-1.726-.961-2.263-.62-.537-1.519-.806-2.697-.806-1.178 0-2.087.269-2.728.806-.62.537-.93 1.292-.93 2.263v.651c0 .971.31 1.726.93 2.263.641.537 1.55.806 2.728.806zm0-9.827c1.096 0 1.933-.248 2.511-.744.579-.496.868-1.199.868-2.108v-.496c0-.889-.289-1.581-.868-2.077-.578-.496-1.415-.744-2.511-.744-1.095 0-1.932.248-2.511.744-.578.496-.868 1.188-.868 2.077v.496c0 .909.29 1.612.868 2.108.579.496 1.416.744 2.511.744z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M258.401 236v-3.317h5.952v-15.376h-.279l-4.712 5.58-2.542-2.139 5.363-6.386h6.169v18.321h4.96V236h-14.911z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M283.468 236.372c-1.261 0-2.387-.155-3.379-.465-.971-.331-1.798-.775-2.48-1.333a5.664 5.664 0 01-1.519-1.984 5.949 5.949 0 01-.527-2.511c0-1.405.382-2.542 1.147-3.41.785-.889 1.829-1.509 3.131-1.86v-.248c-1.075-.393-1.953-1.002-2.635-1.829-.661-.827-.992-1.87-.992-3.131 0-.827.155-1.581.465-2.263a5.093 5.093 0 011.426-1.767c.62-.496 1.374-.878 2.263-1.147.909-.289 1.943-.434 3.1-.434s2.18.145 3.069.434c.909.269 1.674.651 2.294 1.147a4.778 4.778 0 011.395 1.767c.331.682.496 1.436.496 2.263 0 1.261-.341 2.304-1.023 3.131-.661.827-1.529 1.436-2.604 1.829v.248c1.302.351 2.335.971 3.1 1.86.785.868 1.178 2.005 1.178 3.41 0 .909-.176 1.746-.527 2.511a5.514 5.514 0 01-1.55 1.984c-.661.558-1.488 1.002-2.48 1.333-.971.31-2.087.465-3.348.465zm0-3.193c1.178 0 2.077-.269 2.697-.806.641-.537.961-1.292.961-2.263v-.651c0-.971-.32-1.726-.961-2.263-.62-.537-1.519-.806-2.697-.806-1.178 0-2.087.269-2.728.806-.62.537-.93 1.292-.93 2.263v.651c0 .971.31 1.726.93 2.263.641.537 1.55.806 2.728.806zm0-9.827c1.095 0 1.932-.248 2.511-.744.579-.496.868-1.199.868-2.108v-.496c0-.889-.289-1.581-.868-2.077s-1.416-.744-2.511-.744c-1.095 0-1.932.248-2.511.744-.579.496-.868 1.188-.868 2.077v.496c0 .909.289 1.612.868 2.108s1.416.744 2.511.744z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M309.837 222.484c0 1.55-.238 3.017-.713 4.402a16.77 16.77 0 01-1.798 3.782 18.23 18.23 0 01-2.511 3.069 20.24 20.24 0 01-2.728 2.263h-5.518a60.267 60.267 0 003.41-2.635 22.285 22.285 0 002.635-2.573 13.104 13.104 0 001.86-2.697c.496-.951.868-1.974 1.116-3.069l-.248-.062a8.377 8.377 0 01-.744 1.209 4.223 4.223 0 01-.992 1.023 5.332 5.332 0 01-1.364.713c-.517.165-1.116.248-1.798.248-.909 0-1.746-.155-2.511-.465a6.012 6.012 0 01-2.015-1.333 6.91 6.91 0 01-1.333-2.108c-.31-.827-.465-1.757-.465-2.79 0-1.095.186-2.098.558-3.007a6.857 6.857 0 011.581-2.356 7.286 7.286 0 012.449-1.55c.971-.372 2.056-.558 3.255-.558 1.24 0 2.346.207 3.317.62a6.75 6.75 0 012.48 1.705c.682.723 1.199 1.612 1.55 2.666.351 1.033.527 2.201.527 3.503zm-7.874 2.511c1.157 0 2.056-.31 2.697-.93.641-.641.961-1.55.961-2.728v-.465c0-1.178-.32-2.077-.961-2.697-.641-.641-1.54-.961-2.697-.961-1.137 0-2.036.32-2.697.961-.641.62-.961 1.519-.961 2.697v.465c0 1.178.32 2.087.961 2.728.661.62 1.56.93 2.697.93z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M357.73 222.484c0 1.55-.238 3.017-.713 4.402a16.77 16.77 0 01-1.798 3.782 18.23 18.23 0 01-2.511 3.069A20.301 20.301 0 01349.98 236h-5.518a60.629 60.629 0 003.41-2.635 22.362 22.362 0 002.635-2.573 13.182 13.182 0 001.86-2.697c.496-.951.868-1.974 1.116-3.069l-.248-.062a8.377 8.377 0 01-.744 1.209c-.269.393-.6.734-.992 1.023a5.349 5.349 0 01-1.364.713c-.517.165-1.116.248-1.798.248-.91 0-1.747-.155-2.511-.465a6.002 6.002 0 01-2.015-1.333 6.89 6.89 0 01-1.333-2.108c-.31-.827-.465-1.757-.465-2.79 0-1.095.186-2.098.558-3.007a6.857 6.857 0 011.581-2.356 7.286 7.286 0 012.449-1.55c.971-.372 2.056-.558 3.255-.558 1.24 0 2.345.207 3.317.62a6.75 6.75 0 012.48 1.705c.682.723 1.198 1.612 1.55 2.666.351 1.033.527 2.201.527 3.503zm-7.874 2.511c1.157 0 2.056-.31 2.697-.93.64-.641.961-1.55.961-2.728v-.465c0-1.178-.321-2.077-.961-2.697-.641-.641-1.54-.961-2.697-.961-1.137 0-2.036.32-2.697.961-.641.62-.961 1.519-.961 2.697v.465c0 1.178.32 2.087.961 2.728.661.62 1.56.93 2.697.93z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M368.536 236.372c-1.26 0-2.387-.155-3.379-.465-.971-.331-1.798-.775-2.48-1.333a5.676 5.676 0 01-1.519-1.984 5.949 5.949 0 01-.527-2.511c0-1.405.383-2.542 1.147-3.41.786-.889 1.829-1.509 3.131-1.86v-.248c-1.074-.393-1.953-1.002-2.635-1.829-.661-.827-.992-1.87-.992-3.131 0-.827.155-1.581.465-2.263a5.093 5.093 0 011.426-1.767c.62-.496 1.375-.878 2.263-1.147.91-.289 1.943-.434 3.1-.434 1.158 0 2.181.145 3.069.434.91.269 1.674.651 2.294 1.147a4.778 4.778 0 011.395 1.767c.331.682.496 1.436.496 2.263 0 1.261-.341 2.304-1.023 3.131-.661.827-1.529 1.436-2.604 1.829v.248c1.302.351 2.336.971 3.1 1.86.786.868 1.178 2.005 1.178 3.41 0 .909-.175 1.746-.527 2.511a5.514 5.514 0 01-1.55 1.984c-.661.558-1.488 1.002-2.48 1.333-.971.31-2.087.465-3.348.465zm0-3.193c1.178 0 2.077-.269 2.697-.806.641-.537.961-1.292.961-2.263v-.651c0-.971-.32-1.726-.961-2.263-.62-.537-1.519-.806-2.697-.806-1.178 0-2.087.269-2.728.806-.62.537-.93 1.292-.93 2.263v.651c0 .971.31 1.726.93 2.263.641.537 1.55.806 2.728.806zm0-9.827c1.096 0 1.933-.248 2.511-.744.579-.496.868-1.199.868-2.108v-.496c0-.889-.289-1.581-.868-2.077-.578-.496-1.415-.744-2.511-.744-1.095 0-1.932.248-2.511.744-.578.496-.868 1.188-.868 2.077v.496c0 .909.29 1.612.868 2.108.579.496 1.416.744 2.511.744z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M394.905 222.484c0 1.55-.237 3.017-.713 4.402a16.728 16.728 0 01-1.798 3.782 18.23 18.23 0 01-2.511 3.069 20.177 20.177 0 01-2.728 2.263h-5.518a59.91 59.91 0 003.41-2.635 22.285 22.285 0 002.635-2.573 13.104 13.104 0 001.86-2.697c.496-.951.868-1.974 1.116-3.069l-.248-.062a8.204 8.204 0 01-.744 1.209 4.205 4.205 0 01-.992 1.023 5.316 5.316 0 01-1.364.713c-.516.165-1.116.248-1.798.248-.909 0-1.746-.155-2.511-.465a6.022 6.022 0 01-2.015-1.333 6.91 6.91 0 01-1.333-2.108c-.31-.827-.465-1.757-.465-2.79 0-1.095.186-2.098.558-3.007a6.857 6.857 0 011.581-2.356 7.296 7.296 0 012.449-1.55c.972-.372 2.057-.558 3.255-.558 1.24 0 2.346.207 3.317.62a6.741 6.741 0 012.48 1.705c.682.723 1.199 1.612 1.55 2.666.352 1.033.527 2.201.527 3.503zm-7.874 2.511c1.158 0 2.057-.31 2.697-.93.641-.641.961-1.55.961-2.728v-.465c0-1.178-.32-2.077-.961-2.697-.64-.641-1.539-.961-2.697-.961-1.136 0-2.035.32-2.697.961-.64.62-.961 1.519-.961 2.697v.465c0 1.178.321 2.087.961 2.728.662.62 1.561.93 2.697.93z"
                    fill="#BBC2C9"
                ></path>
                <path
                    d="M399.233 236v-3.317h5.952v-15.376h-.279l-4.712 5.58-2.542-2.139 5.363-6.386h6.169v18.321h4.96V236h-14.911z"
                    fill="#BBC2C9"
                ></path>
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M75.29 126.355h-8.387v11.742h11.742v-8.387a3.355 3.355 0 00-3.355-3.355zm-26.838 0h15.096v11.742H48.452v-11.742zm30.193 15.097h-45.29v-3.355h11.742v-11.742H36.71a3.355 3.355 0 00-3.355 3.355v26.838h33.548V171.645h8.387a3.355 3.355 0 003.355-3.355v-26.838zm-15.097 30.193v-11.742H48.452v11.742h15.096zm-18.451 0v-11.742H33.355v8.387a3.355 3.355 0 003.355 3.355h8.387zM36.71 123a6.71 6.71 0 00-6.71 6.71v38.58a6.71 6.71 0 006.71 6.71h38.58a6.71 6.71 0 006.71-6.71v-38.58a6.71 6.71 0 00-6.71-6.71H36.71z"
                    fill="#BBC2C9"
                ></path>
                <defs>
                    <clipPath id="visa">
                        <path
                            fill="#fff"
                            transform="translate(321 61)"
                            d="M0 0h94v30H0z"
                        ></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Fiat Gateway</h2>
                <span class="Section__subTitle">
                    Start buying/selling cryptocurrency on the leading European
                    exchange. Deposit and withdraw your funds at the lowest
                    rates in the industry.
                </span>
            </div>
            <a
                href="/balance?mercuryo=true"
                class="BaseRouterLink FiatSection__link false"
            >
                Buy Crypto
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Gateway"
};
</script>

<style lang="scss">
.FiatSection {
    background: #f9fafb;
    background-image: url(../../static/btcCircleProfit.svg);
    background-position: top;
    background-size: 119% 80%;
    background-repeat: no-repeat;
    padding: 6.25rem 1rem 2.5rem;
}
@media (min-width: 768px) {
    .FiatSection {
        background-image: url(../../static/btcCircleProfit.svg);
        background-size: auto;
        background-position: 50%;
        padding: 0 8.6%;
    }
}
.FiatSection svg {
    height: 100%;
    max-width: 200px;
    width: 100%;
}
@media (min-width: 768px) {
    .FiatSection svg {
        max-width: 443px;
    }
}
.FiatSection .Section__head {
    padding: 0 60px 45px;
}
@media (min-width: 768px) {
    .FiatSection .Section__head {
        padding: 105px 0;
    }
}
.FiatSection__link {
    font-size: 1.125rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    background: #e3cb75;
    padding: 19px 0;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.2s;
}
@media (min-width: 768px) {
    .FiatSection__link {
        margin-top: 0;
        min-width: 250px;
        max-width: 295px;
    }
}
.FiatSection__link:hover {
    background: #b1a14f;
}
</style>
