<template>
    <div class="Section MarginTradeSection">
        <div class="Section__head">
            <div
                class="AnimatedIcon MarginTradeSection__animated-chart isAnimated"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1440 700"
                    width="1440"
                    height="700"
                    preserveAspectRatio="xMidYMid meet"
                    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"
                >
                    <defs>
                        <clipPath id="__lottie_element_11">
                            <rect width="1440" height="700" x="0" y="0"></rect>
                        </clipPath>
                    </defs>
                    <g clip-path="url(#__lottie_element_11)">
                        <g
                            transform="matrix(1,0,0,1,720,456)"
                            opacity="1"
                            style="display: block;"
                        >
                            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                <path
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    fill-opacity="0"
                                    stroke-miterlimit="4"
                                    stroke="rgb(79,79,79)"
                                    stroke-opacity="1"
                                    stroke-width="1"
                                    d=" M-472,0 C-472,0 472,0 472,0"
                                ></path>
                            </g>
                        </g>
                        <g
                            transform="matrix(1,0,0,1,260,274)"
                            opacity="1"
                            style="display: block;"
                        >
                            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                <path
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    fill-opacity="0"
                                    stroke-miterlimit="4"
                                    stroke="rgb(79,79,79)"
                                    stroke-opacity="1"
                                    stroke-width="1"
                                    d=" M0,194 C0,194 0,-194 0,-194"
                                ></path>
                            </g>
                        </g>
                        <g
                            transform="matrix(1,0,0,1,787.25,209)"
                            opacity="1"
                            style="display: block;"
                        >
                            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                <path
                                    stroke-linecap="butt"
                                    stroke-linejoin="round"
                                    fill-opacity="0"
                                    stroke="rgb(227,203,117)"
                                    stroke-opacity="1"
                                    stroke-width="1"
                                    d=" M-527.25,194.38900756835938 C-527.25,194.38900756835938 -510.7860107421875,187.7480010986328 -510.7860107421875,187.7480010986328 C-510.7860107421875,187.7480010986328 -490.82000732421875,199.03799438476562 -490.82000732421875,199.03799438476562 C-490.82000732421875,199.03799438476562 -473.74200439453125,183.76300048828125 -473.74200439453125,183.76300048828125 C-473.74200439453125,183.76300048828125 -454.53399658203125,187.7480010986328 -454.53399658203125,187.7480010986328 C-454.53399658203125,187.7480010986328 -431.49200439453125,177.78599548339844 -431.49200439453125,177.78599548339844 C-431.49200439453125,177.78599548339844 -409.25799560546875,153.21400451660156 -409.25799560546875,153.21400451660156 C-409.25799560546875,153.21400451660156 -396.9100036621094,177.78599548339844 -396.9100036621094,177.78599548339844 C-396.9100036621094,177.78599548339844 -379.0740051269531,187.7480010986328 -379.0740051269531,187.7480010986328 C-379.0740051269531,187.7480010986328 -359.8659973144531,194.38900756835938 -359.8659973144531,194.38900756835938 C-359.8659973144531,194.38900756835938 -351.6340026855469,209 -351.6340026855469,209 C-351.6340026855469,209 -332.4259948730469,194.38900756835938 -332.4259948730469,194.38900756835938 C-332.4259948730469,194.38900756835938 -320.0780029296875,162.51100158691406 -320.0780029296875,162.51100158691406 C-320.0780029296875,162.51100158691406 -313.2170104980469,187.7480010986328 -313.2170104980469,187.7480010986328 C-313.2170104980469,187.7480010986328 -292.6369934082031,181.10699462890625 -292.6369934082031,181.10699462890625 C-292.6369934082031,181.10699462890625 -273.4289855957031,183.76300048828125 -273.4289855957031,183.76300048828125 C-273.4289855957031,183.76300048828125 -256.9649963378906,177.78599548339844 -256.9649963378906,177.78599548339844 C-256.9649963378906,177.78599548339844 -235.01300048828125,153.21400451660156 -235.01300048828125,153.21400451660156 C-235.01300048828125,153.21400451660156 -222.6649932861328,162.51100158691406 -222.6649932861328,162.51100158691406 C-222.6649932861328,162.51100158691406 -203.45700073242188,135.28199768066406 -203.45700073242188,135.28199768066406 C-203.45700073242188,135.28199768066406 -174.64500427246094,156.53399658203125 -174.64500427246094,156.53399658203125 C-174.64500427246094,156.53399658203125 -152.6929931640625,148.56500244140625 -152.6929931640625,148.56500244140625 C-152.6929931640625,148.56500244140625 -138.97300720214844,162.51100158691406 -138.97300720214844,162.51100158691406 C-138.97300720214844,162.51100158691406 -122.50900268554688,144.5800018310547 -122.50900268554688,144.5800018310547 C-122.50900268554688,144.5800018310547 -106.04499816894531,167.82400512695312 -106.04499816894531,167.82400512695312 C-106.04499816894531,167.82400512695312 -93.6969985961914,156.53399658203125 -93.6969985961914,156.53399658203125 C-93.6969985961914,156.53399658203125 -66.25700378417969,167.82400512695312 -66.25700378417969,167.82400512695312 C-66.25700378417969,167.82400512695312 -15.493000030517578,102.73999786376953 -15.493000030517578,102.73999786376953 C-15.493000030517578,102.73999786376953 -1.7730000019073486,124.65599822998047 -1.7730000019073486,124.65599822998047 C-1.7730000019073486,124.65599822998047 43.50299835205078,82.15299987792969 43.50299835205078,82.15299987792969 C43.50299835205078,82.15299987792969 62.71099853515625,37.65599822998047 62.71099853515625,37.65599822998047 C62.71099853515625,37.65599822998047 121.70700073242188,-13.480999946594238 121.70700073242188,-13.480999946594238 C121.70700073242188,-13.480999946594238 234.21200561523438,-55.98500061035156 234.21200561523438,-55.98500061035156 C234.21200561523438,-55.98500061035156 245.18800354003906,-105.79399871826172 245.18800354003906,-105.79399871826172 C245.18800354003906,-105.79399871826172 348.0880126953125,-129.70199584960938 348.0880126953125,-129.70199584960938 C348.0880126953125,-129.70199584960938 390.6199951171875,-139 390.6199951171875,-139 C390.6199951171875,-139 527.25,-209 527.25,-209"
                                ></path>
                            </g>
                        </g>
                        <g
                            transform="matrix(1,0,0,1,720,261)"
                            opacity="1"
                            style="display: block;"
                        >
                            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                <path
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    fill-opacity="0"
                                    stroke-miterlimit="4"
                                    stroke-dasharray=" 12 12"
                                    stroke-dashoffset="0"
                                    stroke="rgb(227,203,117)"
                                    stroke-opacity="1"
                                    stroke-width="1"
                                    d=" M0,204 C0,204 0,-204 0,-204"
                                ></path>
                            </g>
                        </g>
                        <g
                            fill="rgb(227,203,117)"
                            font-size="12"
                            font-family="Helvetica"
                            font-style="normal"
                            font-weight="400"
                            aria-label="Margin Trade Started"
                            transform="matrix(1,0,0,1,720.5,484)"
                            opacity="1"
                            style="display: block;"
                        >
                            <path
                                stroke-linecap="butt"
                                stroke-linejoin="round"
                                stroke-miterlimit="4"
                                d=" M-34.8,0.63 C-34.8,0.63 -33.68,0.63 -33.68,0.63 C-33.68,0.63 -33.68,-4.45 -33.68,-4.45 C-33.68,-4.66 -33.69,-4.97 -33.7,-5.4 C-33.71,-5.84 -33.72,-6.16 -33.72,-6.37 C-33.72,-6.37 -33.72,-6.63 -33.72,-6.63 C-33.72,-6.63 -31.24,0.63 -31.24,0.63 C-31.24,0.63 -30.08,0.63 -30.08,0.63 C-30.08,0.63 -27.63,-6.63 -27.63,-6.63 C-27.63,-6.17 -27.63,-5.73 -27.64,-5.33 C-27.64,-4.92 -27.65,-4.63 -27.65,-4.45 C-27.65,-4.45 -27.65,0.63 -27.65,0.63 C-27.65,0.63 -26.54,0.63 -26.54,0.63 C-26.54,0.63 -26.54,-7.98 -26.54,-7.98 C-26.54,-7.98 -28.19,-7.98 -28.19,-7.98 C-28.19,-7.98 -30.65,-0.7 -30.65,-0.7 C-30.65,-0.7 -33.13,-7.98 -33.13,-7.98 C-33.13,-7.98 -34.8,-7.98 -34.8,-7.98 C-34.8,-7.98 -34.8,0.63 -34.8,0.63z M-24.1,-1.04 C-24.1,-1.44 -23.94,-1.73 -23.61,-1.92 C-23.42,-2.03 -23.13,-2.11 -22.75,-2.16 C-22.75,-2.16 -22.12,-2.24 -22.12,-2.24 C-21.92,-2.26 -21.72,-2.3 -21.52,-2.36 C-21.32,-2.41 -21.15,-2.48 -21.02,-2.56 C-21.02,-2.56 -21.02,-1.71 -21.02,-1.71 C-21.02,-1.07 -21.31,-0.6 -21.9,-0.32 C-22.25,-0.14 -22.61,-0.06 -22.98,-0.06 C-23.28,-0.06 -23.55,-0.15 -23.77,-0.32 C-23.99,-0.5 -24.1,-0.74 -24.1,-1.04z M-23.23,-2.96 C-23.82,-2.89 -24.3,-2.69 -24.66,-2.37 C-25.02,-2.05 -25.21,-1.6 -25.21,-1.02 C-25.21,-0.49 -25.02,-0.04 -24.65,0.31 C-24.28,0.66 -23.81,0.84 -23.23,0.84 C-22.74,0.84 -22.3,0.74 -21.89,0.53 C-21.49,0.32 -21.18,0.08 -20.97,-0.2 C-20.93,0.05 -20.87,0.24 -20.79,0.38 C-20.62,0.63 -20.36,0.76 -20,0.76 C-19.85,0.76 -19.73,0.76 -19.64,0.75 C-19.56,0.73 -19.43,0.7 -19.27,0.66 C-19.27,0.66 -19.27,-0.12 -19.27,-0.12 C-19.34,-0.11 -19.4,-0.1 -19.46,-0.1 C-19.52,-0.09 -19.57,-0.09 -19.62,-0.09 C-19.76,-0.09 -19.85,-0.12 -19.9,-0.19 C-19.94,-0.25 -19.97,-0.34 -19.97,-0.45 C-19.97,-0.45 -19.97,-4.07 -19.97,-4.07 C-19.97,-4.66 -20.2,-5.1 -20.65,-5.38 C-21.11,-5.66 -21.71,-5.8 -22.45,-5.8 C-23.08,-5.8 -23.64,-5.65 -24.13,-5.34 C-24.61,-5.04 -24.86,-4.5 -24.88,-3.73 C-24.88,-3.73 -23.89,-3.73 -23.89,-3.73 C-23.85,-4.05 -23.77,-4.3 -23.64,-4.46 C-23.41,-4.76 -23.02,-4.91 -22.47,-4.91 C-22,-4.91 -21.63,-4.83 -21.38,-4.67 C-21.12,-4.5 -20.99,-4.24 -20.99,-3.88 C-20.99,-3.7 -21.02,-3.57 -21.06,-3.47 C-21.14,-3.3 -21.31,-3.2 -21.55,-3.17 C-21.55,-3.17 -23.23,-2.96 -23.23,-2.96z M-18.21,0.63 C-18.21,0.63 -17.15,0.63 -17.15,0.63 C-17.15,0.63 -17.15,-2.98 -17.15,-2.98 C-17.15,-3.43 -17.01,-3.82 -16.73,-4.16 C-16.44,-4.5 -16.03,-4.67 -15.5,-4.67 C-15.44,-4.67 -15.38,-4.67 -15.33,-4.67 C-15.28,-4.67 -15.22,-4.66 -15.16,-4.65 C-15.16,-4.65 -15.16,-5.76 -15.16,-5.76 C-15.27,-5.77 -15.35,-5.78 -15.4,-5.78 C-15.44,-5.79 -15.48,-5.79 -15.5,-5.79 C-15.91,-5.79 -16.28,-5.64 -16.6,-5.33 C-16.92,-5.03 -17.12,-4.77 -17.21,-4.56 C-17.21,-4.56 -17.21,-5.65 -17.21,-5.65 C-17.21,-5.65 -18.21,-5.65 -18.21,-5.65 C-18.21,-5.65 -18.21,0.63 -18.21,0.63z M-12.04,-5.76 C-12.76,-5.76 -13.38,-5.46 -13.89,-4.87 C-14.4,-4.28 -14.66,-3.46 -14.66,-2.41 C-14.66,-1.3 -14.4,-0.5 -13.9,-0.02 C-13.39,0.46 -12.8,0.7 -12.12,0.7 C-11.63,0.7 -11.24,0.63 -10.95,0.47 C-10.65,0.31 -10.4,0.08 -10.19,-0.25 C-10.18,0.62 -10.24,1.22 -10.39,1.55 C-10.64,2.12 -11.17,2.41 -11.97,2.41 C-12.48,2.41 -12.85,2.29 -13.09,2.06 C-13.24,1.91 -13.34,1.69 -13.39,1.41 C-13.39,1.41 -14.46,1.41 -14.46,1.41 C-14.41,2.05 -14.15,2.53 -13.69,2.83 C-13.23,3.13 -12.67,3.28 -11.99,3.28 C-10.78,3.28 -9.96,2.86 -9.52,2 C-9.29,1.54 -9.17,0.92 -9.17,0.12 C-9.17,0.12 -9.17,-5.59 -9.17,-5.59 C-9.17,-5.59 -10.15,-5.59 -10.15,-5.59 C-10.15,-5.59 -10.15,-4.8 -10.15,-4.8 C-10.35,-5.06 -10.56,-5.26 -10.75,-5.4 C-11.12,-5.64 -11.55,-5.76 -12.04,-5.76z M-10.15,-2.54 C-10.15,-2.02 -10.23,-1.57 -10.4,-1.18 C-10.71,-0.5 -11.24,-0.16 -11.99,-0.16 C-12.48,-0.16 -12.86,-0.34 -13.15,-0.71 C-13.43,-1.08 -13.57,-1.62 -13.57,-2.33 C-13.57,-2.93 -13.5,-3.41 -13.36,-3.78 C-13.09,-4.48 -12.58,-4.83 -11.84,-4.83 C-11.35,-4.83 -10.94,-4.64 -10.62,-4.26 C-10.31,-3.89 -10.15,-3.31 -10.15,-2.54z M-7.57,0.63 C-7.57,0.63 -6.5,0.63 -6.5,0.63 C-6.5,0.63 -6.5,-5.62 -6.5,-5.62 C-6.5,-5.62 -7.57,-5.62 -7.57,-5.62 C-7.57,-5.62 -7.57,0.63 -7.57,0.63z M-7.57,-6.78 C-7.57,-6.78 -6.5,-6.78 -6.5,-6.78 C-6.5,-6.78 -6.5,-7.98 -6.5,-7.98 C-6.5,-7.98 -7.57,-7.98 -7.57,-7.98 C-7.57,-7.98 -7.57,-6.78 -7.57,-6.78z M-4.9,0.63 C-4.9,0.63 -3.85,0.63 -3.85,0.63 C-3.85,0.63 -3.85,-2.66 -3.85,-2.66 C-3.85,-3.07 -3.82,-3.38 -3.77,-3.61 C-3.71,-3.83 -3.6,-4.04 -3.42,-4.25 C-3.21,-4.5 -2.95,-4.68 -2.66,-4.76 C-2.5,-4.81 -2.3,-4.84 -2.05,-4.84 C-1.56,-4.84 -1.22,-4.64 -1.03,-4.25 C-0.91,-4.02 -0.86,-3.71 -0.86,-3.33 C-0.86,-3.33 -0.86,0.63 -0.86,0.63 C-0.86,0.63 0.21,0.63 0.21,0.63 C0.21,0.63 0.21,-3.4 0.21,-3.4 C0.21,-4.03 0.13,-4.52 -0.04,-4.86 C-0.36,-5.48 -0.96,-5.79 -1.85,-5.79 C-2.25,-5.79 -2.62,-5.71 -2.96,-5.55 C-3.29,-5.39 -3.6,-5.12 -3.9,-4.76 C-3.9,-4.76 -3.9,-5.65 -3.9,-5.65 C-3.9,-5.65 -4.9,-5.65 -4.9,-5.65 C-4.9,-5.65 -4.9,0.63 -4.9,0.63z M4.53,-7.98 C4.53,-7.98 4.53,-6.95 4.53,-6.95 C4.53,-6.95 7.43,-6.95 7.43,-6.95 C7.43,-6.95 7.43,0.63 7.43,0.63 C7.43,0.63 8.6,0.63 8.6,0.63 C8.6,0.63 8.6,-6.95 8.6,-6.95 C8.6,-6.95 11.51,-6.95 11.51,-6.95 C11.51,-6.95 11.51,-7.98 11.51,-7.98 C11.51,-7.98 4.53,-7.98 4.53,-7.98z M12.47,0.63 C12.47,0.63 13.52,0.63 13.52,0.63 C13.52,0.63 13.52,-2.98 13.52,-2.98 C13.52,-3.43 13.66,-3.82 13.95,-4.16 C14.23,-4.5 14.64,-4.67 15.17,-4.67 C15.23,-4.67 15.29,-4.67 15.35,-4.67 C15.4,-4.67 15.46,-4.66 15.52,-4.65 C15.52,-4.65 15.52,-5.76 15.52,-5.76 C15.4,-5.77 15.32,-5.78 15.28,-5.78 C15.23,-5.79 15.2,-5.79 15.18,-5.79 C14.76,-5.79 14.39,-5.64 14.07,-5.33 C13.75,-5.03 13.55,-4.77 13.47,-4.56 C13.47,-4.56 13.47,-5.65 13.47,-5.65 C13.47,-5.65 12.47,-5.65 12.47,-5.65 C12.47,-5.65 12.47,0.63 12.47,0.63z M17.24,-1.04 C17.24,-1.44 17.4,-1.73 17.73,-1.92 C17.92,-2.03 18.21,-2.11 18.59,-2.16 C18.59,-2.16 19.23,-2.24 19.23,-2.24 C19.42,-2.26 19.62,-2.3 19.83,-2.36 C20.03,-2.41 20.19,-2.48 20.32,-2.56 C20.32,-2.56 20.32,-1.71 20.32,-1.71 C20.32,-1.07 20.03,-0.6 19.44,-0.32 C19.1,-0.14 18.74,-0.06 18.37,-0.06 C18.06,-0.06 17.8,-0.15 17.57,-0.32 C17.35,-0.5 17.24,-0.74 17.24,-1.04z M18.11,-2.96 C17.52,-2.89 17.05,-2.69 16.68,-2.37 C16.32,-2.05 16.14,-1.6 16.14,-1.02 C16.14,-0.49 16.32,-0.04 16.69,0.31 C17.06,0.66 17.54,0.84 18.12,0.84 C18.6,0.84 19.05,0.74 19.45,0.53 C19.85,0.32 20.16,0.08 20.38,-0.2 C20.41,0.05 20.47,0.24 20.56,0.38 C20.72,0.63 20.99,0.76 21.35,0.76 C21.5,0.76 21.61,0.76 21.7,0.75 C21.79,0.73 21.91,0.7 22.07,0.66 C22.07,0.66 22.07,-0.12 22.07,-0.12 C22.01,-0.11 21.95,-0.1 21.89,-0.1 C21.83,-0.09 21.78,-0.09 21.73,-0.09 C21.58,-0.09 21.49,-0.12 21.44,-0.19 C21.4,-0.25 21.38,-0.34 21.38,-0.45 C21.38,-0.45 21.38,-4.07 21.38,-4.07 C21.38,-4.66 21.15,-5.1 20.69,-5.38 C20.23,-5.66 19.63,-5.8 18.9,-5.8 C18.26,-5.8 17.7,-5.65 17.22,-5.34 C16.74,-5.04 16.49,-4.5 16.47,-3.73 C16.47,-3.73 17.45,-3.73 17.45,-3.73 C17.49,-4.05 17.57,-4.3 17.7,-4.46 C17.93,-4.76 18.32,-4.91 18.87,-4.91 C19.35,-4.91 19.71,-4.83 19.97,-4.67 C20.22,-4.5 20.35,-4.24 20.35,-3.88 C20.35,-3.7 20.33,-3.57 20.28,-3.47 C20.2,-3.3 20.04,-3.2 19.8,-3.17 C19.8,-3.17 18.11,-2.96 18.11,-2.96z M23.77,-2.44 C23.77,-3.23 23.94,-3.82 24.27,-4.23 C24.6,-4.64 25.02,-4.84 25.55,-4.84 C26.03,-4.84 26.43,-4.65 26.75,-4.27 C27.07,-3.89 27.23,-3.3 27.23,-2.51 C27.23,-1.72 27.08,-1.12 26.76,-0.7 C26.45,-0.28 26.05,-0.07 25.56,-0.07 C24.94,-0.07 24.48,-0.3 24.2,-0.75 C23.92,-1.2 23.77,-1.76 23.77,-2.44z M25.35,-5.76 C24.49,-5.76 23.82,-5.42 23.36,-4.75 C22.89,-4.08 22.66,-3.29 22.66,-2.38 C22.66,-1.4 22.92,-0.62 23.43,-0.03 C23.94,0.56 24.54,0.85 25.24,0.85 C25.67,0.85 26.05,0.76 26.39,0.59 C26.72,0.42 27.01,0.14 27.26,-0.25 C27.26,-0.25 27.26,0.63 27.26,0.63 C27.26,0.63 28.2,0.63 28.2,0.63 C28.2,0.63 28.2,-8.01 28.2,-8.01 C28.2,-8.01 27.19,-8.01 27.19,-8.01 C27.19,-8.01 27.19,-4.84 27.19,-4.84 C26.95,-5.13 26.74,-5.34 26.55,-5.45 C26.23,-5.66 25.83,-5.76 25.35,-5.76z M32.37,-5.79 C31.49,-5.79 30.78,-5.47 30.24,-4.84 C29.7,-4.22 29.42,-3.4 29.42,-2.39 C29.42,-1.37 29.69,-0.57 30.23,0 C30.77,0.57 31.43,0.85 32.21,0.85 C32.52,0.85 32.81,0.82 33.06,0.76 C33.53,0.65 33.92,0.44 34.24,0.12 C34.43,-0.06 34.6,-0.29 34.76,-0.57 C34.91,-0.85 35,-1.11 35.03,-1.34 C35.03,-1.34 33.99,-1.34 33.99,-1.34 C33.92,-1.06 33.79,-0.82 33.61,-0.61 C33.28,-0.24 32.85,-0.06 32.3,-0.06 C31.71,-0.06 31.28,-0.25 31,-0.64 C30.72,-1.02 30.57,-1.53 30.55,-2.17 C30.55,-2.17 35.12,-2.17 35.12,-2.17 C35.12,-2.81 35.09,-3.27 35.03,-3.56 C34.96,-3.98 34.82,-4.35 34.61,-4.66 C34.39,-5 34.07,-5.27 33.66,-5.47 C33.24,-5.68 32.81,-5.79 32.37,-5.79z M30.58,-3.01 C30.6,-3.55 30.77,-3.99 31.1,-4.34 C31.42,-4.69 31.82,-4.87 32.3,-4.87 C32.97,-4.87 33.45,-4.61 33.74,-4.11 C33.89,-3.83 33.99,-3.47 34.04,-3.01 C34.04,-3.01 30.58,-3.01 30.58,-3.01z M-18.77,13.25 C-18.78,14.18 -18.49,14.92 -17.9,15.46 C-17.31,16.01 -16.49,16.28 -15.45,16.28 C-14.55,16.28 -13.76,16.07 -13.09,15.66 C-12.41,15.25 -12.07,14.57 -12.07,13.62 C-12.07,12.85 -12.34,12.27 -12.87,11.87 C-13.18,11.64 -13.61,11.46 -14.17,11.32 C-14.17,11.32 -15.34,11.05 -15.34,11.05 C-16.13,10.86 -16.64,10.7 -16.86,10.58 C-17.2,10.38 -17.37,10.07 -17.37,9.65 C-17.37,9.27 -17.23,8.93 -16.94,8.65 C-16.65,8.36 -16.18,8.21 -15.52,8.21 C-14.7,8.21 -14.12,8.44 -13.78,8.89 C-13.6,9.13 -13.48,9.48 -13.42,9.95 C-13.42,9.95 -12.33,9.95 -12.33,9.95 C-12.33,8.99 -12.63,8.29 -13.25,7.86 C-13.86,7.42 -14.61,7.2 -15.48,7.2 C-16.44,7.2 -17.18,7.45 -17.7,7.95 C-18.22,8.44 -18.48,9.08 -18.48,9.85 C-18.48,10.57 -18.21,11.1 -17.68,11.46 C-17.38,11.67 -16.85,11.86 -16.12,12.03 C-16.12,12.03 -14.99,12.3 -14.99,12.3 C-14.37,12.44 -13.92,12.61 -13.64,12.81 C-13.35,13 -13.21,13.34 -13.21,13.81 C-13.21,14.43 -13.55,14.87 -14.22,15.11 C-14.56,15.23 -14.95,15.3 -15.37,15.3 C-16.31,15.3 -16.96,15.01 -17.34,14.44 C-17.53,14.14 -17.64,13.74 -17.67,13.25 C-17.67,13.25 -18.77,13.25 -18.77,13.25z M-10.36,9.75 C-10.36,9.75 -11.21,9.75 -11.21,9.75 C-11.21,9.75 -11.21,10.61 -11.21,10.61 C-11.21,10.61 -10.36,10.61 -10.36,10.61 C-10.36,10.61 -10.36,14.77 -10.36,14.77 C-10.36,15.17 -10.27,15.5 -10.09,15.75 C-9.92,16 -9.58,16.13 -9.09,16.13 C-8.94,16.13 -8.8,16.12 -8.67,16.1 C-8.54,16.09 -8.41,16.06 -8.29,16.03 C-8.29,16.03 -8.29,15.19 -8.29,15.19 C-8.37,15.2 -8.44,15.21 -8.49,15.21 C-8.55,15.21 -8.61,15.21 -8.66,15.21 C-8.85,15.21 -8.99,15.19 -9.07,15.15 C-9.22,15.07 -9.29,14.93 -9.29,14.71 C-9.29,14.71 -9.29,10.61 -9.29,10.61 C-9.29,10.61 -8.29,10.61 -8.29,10.61 C-8.29,10.61 -8.29,9.75 -8.29,9.75 C-8.29,9.75 -9.29,9.75 -9.29,9.75 C-9.29,9.75 -9.29,8 -9.29,8 C-9.29,8 -10.36,8 -10.36,8 C-10.36,8 -10.36,9.75 -10.36,9.75z M-6.43,14.36 C-6.43,13.96 -6.26,13.67 -5.94,13.48 C-5.74,13.37 -5.46,13.29 -5.07,13.24 C-5.07,13.24 -4.44,13.16 -4.44,13.16 C-4.24,13.14 -4.04,13.1 -3.84,13.04 C-3.64,12.99 -3.47,12.92 -3.34,12.84 C-3.34,12.84 -3.34,13.69 -3.34,13.69 C-3.34,14.33 -3.64,14.8 -4.22,15.08 C-4.57,15.26 -4.93,15.34 -5.3,15.34 C-5.61,15.34 -5.87,15.25 -6.09,15.08 C-6.31,14.9 -6.43,14.66 -6.43,14.36z M-5.55,12.44 C-6.14,12.51 -6.62,12.71 -6.98,13.03 C-7.35,13.35 -7.53,13.8 -7.53,14.38 C-7.53,14.91 -7.34,15.36 -6.97,15.71 C-6.6,16.06 -6.13,16.24 -5.55,16.24 C-5.06,16.24 -4.62,16.14 -4.22,15.93 C-3.81,15.72 -3.51,15.48 -3.29,15.2 C-3.26,15.45 -3.2,15.64 -3.11,15.78 C-2.95,16.03 -2.68,16.16 -2.32,16.16 C-2.17,16.16 -2.05,16.16 -1.97,16.15 C-1.88,16.13 -1.76,16.1 -1.59,16.06 C-1.59,16.06 -1.59,15.28 -1.59,15.28 C-1.66,15.29 -1.72,15.3 -1.78,15.3 C-1.84,15.31 -1.89,15.31 -1.94,15.31 C-2.08,15.31 -2.18,15.28 -2.22,15.21 C-2.27,15.15 -2.29,15.06 -2.29,14.95 C-2.29,14.95 -2.29,11.33 -2.29,11.33 C-2.29,10.74 -2.52,10.3 -2.97,10.02 C-3.43,9.74 -4.03,9.6 -4.77,9.6 C-5.41,9.6 -5.97,9.75 -6.45,10.06 C-6.93,10.36 -7.18,10.9 -7.2,11.67 C-7.2,11.67 -6.21,11.67 -6.21,11.67 C-6.18,11.35 -6.09,11.1 -5.96,10.94 C-5.73,10.64 -5.34,10.49 -4.79,10.49 C-4.32,10.49 -3.95,10.57 -3.7,10.73 C-3.44,10.9 -3.31,11.16 -3.31,11.52 C-3.31,11.7 -3.34,11.83 -3.38,11.93 C-3.47,12.1 -3.63,12.2 -3.87,12.23 C-3.87,12.23 -5.55,12.44 -5.55,12.44z M-0.53,16.03 C-0.53,16.03 0.52,16.03 0.52,16.03 C0.52,16.03 0.52,12.42 0.52,12.42 C0.52,11.97 0.67,11.58 0.95,11.24 C1.24,10.9 1.65,10.73 2.18,10.73 C2.24,10.73 2.3,10.73 2.35,10.73 C2.4,10.73 2.46,10.74 2.52,10.75 C2.52,10.75 2.52,9.64 2.52,9.64 C2.41,9.63 2.33,9.62 2.28,9.62 C2.24,9.61 2.2,9.61 2.18,9.61 C1.76,9.61 1.4,9.76 1.07,10.07 C0.75,10.37 0.55,10.63 0.47,10.84 C0.47,10.84 0.47,9.75 0.47,9.75 C0.47,9.75 -0.53,9.75 -0.53,9.75 C-0.53,9.75 -0.53,16.03 -0.53,16.03z M3.65,9.75 C3.65,9.75 2.8,9.75 2.8,9.75 C2.8,9.75 2.8,10.61 2.8,10.61 C2.8,10.61 3.65,10.61 3.65,10.61 C3.65,10.61 3.65,14.77 3.65,14.77 C3.65,15.17 3.74,15.5 3.91,15.75 C4.09,16 4.42,16.13 4.91,16.13 C5.07,16.13 5.21,16.12 5.34,16.1 C5.47,16.09 5.59,16.06 5.72,16.03 C5.72,16.03 5.72,15.19 5.72,15.19 C5.64,15.2 5.57,15.21 5.51,15.21 C5.45,15.21 5.4,15.21 5.35,15.21 C5.15,15.21 5.02,15.19 4.94,15.15 C4.79,15.07 4.71,14.93 4.71,14.71 C4.71,14.71 4.71,10.61 4.71,10.61 C4.71,10.61 5.72,10.61 5.72,10.61 C5.72,10.61 5.72,9.75 5.72,9.75 C5.72,9.75 4.71,9.75 4.71,9.75 C4.71,9.75 4.71,8 4.71,8 C4.71,8 3.65,8 3.65,8 C3.65,8 3.65,9.75 3.65,9.75z M9.36,9.61 C8.48,9.61 7.77,9.93 7.23,10.56 C6.68,11.18 6.41,12 6.41,13.01 C6.41,14.03 6.68,14.83 7.22,15.4 C7.76,15.97 8.42,16.25 9.2,16.25 C9.51,16.25 9.8,16.22 10.05,16.16 C10.52,16.05 10.91,15.84 11.23,15.52 C11.42,15.34 11.59,15.11 11.75,14.83 C11.9,14.55 11.99,14.29 12.02,14.06 C12.02,14.06 10.98,14.06 10.98,14.06 C10.91,14.34 10.78,14.58 10.6,14.79 C10.27,15.16 9.83,15.34 9.29,15.34 C8.7,15.34 8.27,15.15 7.99,14.76 C7.71,14.38 7.56,13.87 7.54,13.23 C7.54,13.23 12.11,13.23 12.11,13.23 C12.11,12.59 12.08,12.13 12.01,11.84 C11.94,11.42 11.8,11.05 11.6,10.74 C11.38,10.4 11.06,10.13 10.65,9.93 C10.23,9.72 9.8,9.61 9.36,9.61z M7.57,12.39 C7.59,11.85 7.76,11.41 8.08,11.06 C8.41,10.71 8.81,10.53 9.29,10.53 C9.96,10.53 10.44,10.79 10.73,11.29 C10.88,11.57 10.98,11.93 11.02,12.39 C11.02,12.39 7.57,12.39 7.57,12.39z M14.11,12.96 C14.11,12.17 14.28,11.58 14.6,11.17 C14.93,10.76 15.36,10.56 15.89,10.56 C16.36,10.56 16.76,10.75 17.09,11.13 C17.41,11.51 17.57,12.1 17.57,12.89 C17.57,13.68 17.41,14.28 17.1,14.7 C16.79,15.12 16.39,15.33 15.9,15.33 C15.28,15.33 14.82,15.1 14.54,14.65 C14.25,14.2 14.11,13.64 14.11,12.96z M15.69,9.64 C14.83,9.64 14.16,9.98 13.7,10.65 C13.23,11.32 13,12.11 13,13.02 C13,14 13.25,14.78 13.76,15.37 C14.27,15.96 14.88,16.25 15.57,16.25 C16.01,16.25 16.39,16.16 16.72,15.99 C17.06,15.82 17.35,15.54 17.59,15.15 C17.59,15.15 17.59,16.03 17.59,16.03 C17.59,16.03 18.54,16.03 18.54,16.03 C18.54,16.03 18.54,7.39 18.54,7.39 C18.54,7.39 17.53,7.39 17.53,7.39 C17.53,7.39 17.53,10.56 17.53,10.56 C17.29,10.27 17.08,10.06 16.89,9.95 C16.57,9.74 16.17,9.64 15.69,9.64z"
                                style="display: inherit;"
                            ></path>
                        </g>
                        <g
                            fill="rgb(176,180,187)"
                            font-size="12"
                            font-family="Helvetica"
                            font-style="normal"
                            font-weight="400"
                            aria-label="Time"
                            transform="matrix(1,0,0,1,1178.5,480)"
                            opacity="1"
                            style="display: block;"
                        >
                            <path
                                stroke-linecap="butt"
                                stroke-linejoin="round"
                                stroke-miterlimit="4"
                                d=" M-13.58,-7.98 C-13.58,-7.98 -13.58,-6.95 -13.58,-6.95 C-13.58,-6.95 -10.68,-6.95 -10.68,-6.95 C-10.68,-6.95 -10.68,0.63 -10.68,0.63 C-10.68,0.63 -9.5,0.63 -9.5,0.63 C-9.5,0.63 -9.5,-6.95 -9.5,-6.95 C-9.5,-6.95 -6.6,-6.95 -6.6,-6.95 C-6.6,-6.95 -6.6,-7.98 -6.6,-7.98 C-6.6,-7.98 -13.58,-7.98 -13.58,-7.98z M-5.67,0.63 C-5.67,0.63 -4.59,0.63 -4.59,0.63 C-4.59,0.63 -4.59,-5.62 -4.59,-5.62 C-4.59,-5.62 -5.67,-5.62 -5.67,-5.62 C-5.67,-5.62 -5.67,0.63 -5.67,0.63z M-5.67,-6.78 C-5.67,-6.78 -4.59,-6.78 -4.59,-6.78 C-4.59,-6.78 -4.59,-7.98 -4.59,-7.98 C-4.59,-7.98 -5.67,-7.98 -5.67,-7.98 C-5.67,-7.98 -5.67,-6.78 -5.67,-6.78z M-3,0.63 C-3,0.63 -1.95,0.63 -1.95,0.63 C-1.95,0.63 -1.95,-2.7 -1.95,-2.7 C-1.95,-3.51 -1.78,-4.07 -1.46,-4.38 C-1.13,-4.68 -0.77,-4.84 -0.37,-4.84 C0.07,-4.84 0.37,-4.69 0.53,-4.4 C0.63,-4.2 0.68,-3.89 0.68,-3.47 C0.68,-3.47 0.68,0.63 0.68,0.63 C0.68,0.63 1.75,0.63 1.75,0.63 C1.75,0.63 1.75,-3.02 1.75,-3.02 C1.75,-3.67 1.9,-4.13 2.2,-4.41 C2.5,-4.69 2.85,-4.83 3.27,-4.83 C3.57,-4.83 3.82,-4.75 4.03,-4.59 C4.24,-4.44 4.35,-4.15 4.35,-3.73 C4.35,-3.73 4.35,0.63 4.35,0.63 C4.35,0.63 5.44,0.63 5.44,0.63 C5.44,0.63 5.44,-3.55 5.44,-3.55 C5.44,-4.1 5.36,-4.55 5.2,-4.87 C4.89,-5.48 4.32,-5.79 3.47,-5.79 C3.08,-5.79 2.72,-5.71 2.41,-5.54 C2.09,-5.38 1.82,-5.13 1.58,-4.8 C1.44,-5.07 1.28,-5.28 1.11,-5.42 C0.81,-5.67 0.41,-5.79 -0.09,-5.79 C-0.54,-5.79 -0.93,-5.67 -1.28,-5.43 C-1.48,-5.29 -1.71,-5.07 -1.96,-4.76 C-1.96,-4.76 -1.96,-5.65 -1.96,-5.65 C-1.96,-5.65 -3,-5.65 -3,-5.65 C-3,-5.65 -3,0.63 -3,0.63z M9.58,-5.79 C8.71,-5.79 8,-5.47 7.45,-4.84 C6.91,-4.22 6.64,-3.4 6.64,-2.39 C6.64,-1.37 6.91,-0.57 7.45,0 C7.99,0.57 8.64,0.85 9.42,0.85 C9.74,0.85 10.02,0.82 10.28,0.76 C10.75,0.65 11.14,0.44 11.46,0.12 C11.65,-0.06 11.82,-0.29 11.97,-0.57 C12.13,-0.85 12.22,-1.11 12.25,-1.34 C12.25,-1.34 11.21,-1.34 11.21,-1.34 C11.13,-1.06 11,-0.82 10.82,-0.61 C10.5,-0.24 10.06,-0.06 9.51,-0.06 C8.93,-0.06 8.5,-0.25 8.22,-0.64 C7.94,-1.02 7.79,-1.53 7.77,-2.17 C7.77,-2.17 12.33,-2.17 12.33,-2.17 C12.33,-2.81 12.3,-3.27 12.24,-3.56 C12.17,-3.98 12.03,-4.35 11.82,-4.66 C11.6,-5 11.29,-5.27 10.87,-5.47 C10.46,-5.68 10.03,-5.79 9.58,-5.79z M7.79,-3.01 C7.81,-3.55 7.98,-3.99 8.31,-4.34 C8.63,-4.69 9.04,-4.87 9.52,-4.87 C10.19,-4.87 10.67,-4.61 10.95,-4.11 C11.11,-3.83 11.21,-3.47 11.25,-3.01 C11.25,-3.01 7.79,-3.01 7.79,-3.01z"
                                style="display: inherit;"
                            ></path>
                        </g>
                        <g
                            fill="rgb(176,180,187)"
                            font-size="12"
                            font-family="Helvetica"
                            font-style="normal"
                            font-weight="400"
                            aria-label="Portfolio Size"
                            transform="matrix(0,-1,1,0,238.5,115)"
                            opacity="1"
                            style="display: block;"
                        >
                            <path
                                stroke-linecap="butt"
                                stroke-linejoin="round"
                                stroke-miterlimit="4"
                                d=" M-33.77,0.63 C-33.77,0.63 -32.6,0.63 -32.6,0.63 C-32.6,0.63 -32.6,-3.01 -32.6,-3.01 C-32.6,-3.01 -29.91,-3.01 -29.91,-3.01 C-29.05,-3.01 -28.41,-3.26 -27.99,-3.76 C-27.58,-4.26 -27.37,-4.84 -27.37,-5.51 C-27.37,-6.29 -27.6,-6.9 -28.07,-7.33 C-28.54,-7.76 -29.15,-7.98 -29.91,-7.98 C-29.91,-7.98 -33.77,-7.98 -33.77,-7.98 C-33.77,-7.98 -33.77,0.63 -33.77,0.63z M-28.55,-5.51 C-28.55,-4.94 -28.71,-4.55 -29.03,-4.33 C-29.36,-4.11 -29.78,-4 -30.3,-4 C-30.3,-4 -32.6,-4 -32.6,-4 C-32.6,-4 -32.6,-6.98 -32.6,-6.98 C-32.6,-6.98 -30.3,-6.98 -30.3,-6.98 C-29.85,-6.98 -29.5,-6.92 -29.24,-6.8 C-28.78,-6.57 -28.55,-6.14 -28.55,-5.51z M-23.54,-0.06 C-24.17,-0.06 -24.63,-0.28 -24.92,-0.72 C-25.21,-1.17 -25.36,-1.73 -25.36,-2.39 C-25.36,-3.09 -25.21,-3.68 -24.92,-4.17 C-24.63,-4.66 -24.17,-4.91 -23.53,-4.91 C-22.81,-4.91 -22.31,-4.62 -22.01,-4.04 C-21.83,-3.68 -21.74,-3.2 -21.74,-2.62 C-21.74,-1.97 -21.87,-1.38 -22.12,-0.85 C-22.38,-0.32 -22.85,-0.06 -23.54,-0.06z M-23.5,-5.83 C-24.4,-5.83 -25.11,-5.52 -25.64,-4.89 C-26.18,-4.27 -26.44,-3.43 -26.44,-2.38 C-26.44,-1.39 -26.19,-0.61 -25.69,-0.02 C-25.18,0.56 -24.5,0.85 -23.64,0.85 C-22.62,0.85 -21.86,0.52 -21.37,-0.14 C-20.88,-0.8 -20.64,-1.63 -20.64,-2.64 C-20.64,-3.69 -20.91,-4.48 -21.47,-5.02 C-22.02,-5.56 -22.7,-5.83 -23.5,-5.83z M-19.31,0.63 C-19.31,0.63 -18.26,0.63 -18.26,0.63 C-18.26,0.63 -18.26,-2.98 -18.26,-2.98 C-18.26,-3.43 -18.11,-3.82 -17.83,-4.16 C-17.54,-4.5 -17.13,-4.67 -16.6,-4.67 C-16.54,-4.67 -16.48,-4.67 -16.43,-4.67 C-16.38,-4.67 -16.32,-4.66 -16.26,-4.65 C-16.26,-4.65 -16.26,-5.76 -16.26,-5.76 C-16.37,-5.77 -16.45,-5.78 -16.5,-5.78 C-16.54,-5.79 -16.58,-5.79 -16.6,-5.79 C-17.02,-5.79 -17.38,-5.64 -17.71,-5.33 C-18.03,-5.03 -18.23,-4.77 -18.31,-4.56 C-18.31,-4.56 -18.31,-5.65 -18.31,-5.65 C-18.31,-5.65 -19.31,-5.65 -19.31,-5.65 C-19.31,-5.65 -19.31,0.63 -19.31,0.63z M-15.13,-5.65 C-15.13,-5.65 -15.98,-5.65 -15.98,-5.65 C-15.98,-5.65 -15.98,-4.79 -15.98,-4.79 C-15.98,-4.79 -15.13,-4.79 -15.13,-4.79 C-15.13,-4.79 -15.13,-0.63 -15.13,-0.63 C-15.13,-0.23 -15.04,0.1 -14.87,0.35 C-14.69,0.6 -14.36,0.73 -13.87,0.73 C-13.71,0.73 -13.57,0.72 -13.44,0.7 C-13.31,0.69 -13.19,0.66 -13.06,0.63 C-13.06,0.63 -13.06,-0.21 -13.06,-0.21 C-13.14,-0.2 -13.21,-0.19 -13.27,-0.19 C-13.33,-0.19 -13.38,-0.19 -13.43,-0.19 C-13.63,-0.19 -13.76,-0.21 -13.84,-0.25 C-13.99,-0.33 -14.07,-0.47 -14.07,-0.69 C-14.07,-0.69 -14.07,-4.79 -14.07,-4.79 C-14.07,-4.79 -13.06,-4.79 -13.06,-4.79 C-13.06,-4.79 -13.06,-5.65 -13.06,-5.65 C-13.06,-5.65 -14.07,-5.65 -14.07,-5.65 C-14.07,-5.65 -14.07,-7.4 -14.07,-7.4 C-14.07,-7.4 -15.13,-7.4 -15.13,-7.4 C-15.13,-7.4 -15.13,-5.65 -15.13,-5.65z M-11.75,-6.6 C-11.75,-6.6 -11.75,-5.62 -11.75,-5.62 C-11.75,-5.62 -12.62,-5.62 -12.62,-5.62 C-12.62,-5.62 -12.62,-4.79 -12.62,-4.79 C-12.62,-4.79 -11.75,-4.79 -11.75,-4.79 C-11.75,-4.79 -11.75,0.63 -11.75,0.63 C-11.75,0.63 -10.7,0.63 -10.7,0.63 C-10.7,0.63 -10.7,-4.79 -10.7,-4.79 C-10.7,-4.79 -9.65,-4.79 -9.65,-4.79 C-9.65,-4.79 -9.65,-5.62 -9.65,-5.62 C-9.65,-5.62 -10.7,-5.62 -10.7,-5.62 C-10.7,-6.3 -10.67,-6.72 -10.61,-6.89 C-10.55,-7.05 -10.35,-7.14 -10.03,-7.14 C-9.98,-7.14 -9.94,-7.13 -9.89,-7.13 C-9.84,-7.13 -9.76,-7.13 -9.65,-7.12 C-9.65,-7.12 -9.65,-8.08 -9.65,-8.08 C-9.74,-8.09 -9.82,-8.09 -9.89,-8.1 C-9.96,-8.1 -10.03,-8.1 -10.09,-8.1 C-10.8,-8.1 -11.27,-7.92 -11.52,-7.56 C-11.65,-7.36 -11.73,-7.04 -11.75,-6.6z M-6.42,-0.06 C-7.05,-0.06 -7.51,-0.28 -7.8,-0.72 C-8.09,-1.17 -8.23,-1.73 -8.23,-2.39 C-8.23,-3.09 -8.09,-3.68 -7.8,-4.17 C-7.51,-4.66 -7.04,-4.91 -6.41,-4.91 C-5.69,-4.91 -5.18,-4.62 -4.89,-4.04 C-4.7,-3.68 -4.61,-3.2 -4.61,-2.62 C-4.61,-1.97 -4.74,-1.38 -4.99,-0.85 C-5.25,-0.32 -5.73,-0.06 -6.42,-0.06z M-6.38,-5.83 C-7.27,-5.83 -7.99,-5.52 -8.52,-4.89 C-9.05,-4.27 -9.31,-3.43 -9.31,-2.38 C-9.31,-1.39 -9.06,-0.61 -8.56,-0.02 C-8.05,0.56 -7.37,0.85 -6.52,0.85 C-5.49,0.85 -4.73,0.52 -4.24,-0.14 C-3.75,-0.8 -3.51,-1.63 -3.51,-2.64 C-3.51,-3.69 -3.79,-4.48 -4.34,-5.02 C-4.89,-5.56 -5.57,-5.83 -6.38,-5.83z M-2.18,0.63 C-2.18,0.63 -1.13,0.63 -1.13,0.63 C-1.13,0.63 -1.13,-7.98 -1.13,-7.98 C-1.13,-7.98 -2.18,-7.98 -2.18,-7.98 C-2.18,-7.98 -2.18,0.63 -2.18,0.63z M0.45,0.63 C0.45,0.63 1.53,0.63 1.53,0.63 C1.53,0.63 1.53,-5.62 1.53,-5.62 C1.53,-5.62 0.45,-5.62 0.45,-5.62 C0.45,-5.62 0.45,0.63 0.45,0.63z M0.45,-6.78 C0.45,-6.78 1.53,-6.78 1.53,-6.78 C1.53,-6.78 1.53,-7.98 1.53,-7.98 C1.53,-7.98 0.45,-7.98 0.45,-7.98 C0.45,-7.98 0.45,-6.78 0.45,-6.78z M5.59,-0.06 C4.96,-0.06 4.5,-0.28 4.21,-0.72 C3.92,-1.17 3.78,-1.73 3.78,-2.39 C3.78,-3.09 3.92,-3.68 4.21,-4.17 C4.5,-4.66 4.96,-4.91 5.6,-4.91 C6.32,-4.91 6.83,-4.62 7.12,-4.04 C7.31,-3.68 7.4,-3.2 7.4,-2.62 C7.4,-1.97 7.27,-1.38 7.01,-0.85 C6.76,-0.32 6.28,-0.06 5.59,-0.06z M5.63,-5.83 C4.74,-5.83 4.02,-5.52 3.49,-4.89 C2.96,-4.27 2.69,-3.43 2.69,-2.38 C2.69,-1.39 2.95,-0.61 3.45,-0.02 C3.95,0.56 4.63,0.85 5.49,0.85 C6.52,0.85 7.28,0.52 7.77,-0.14 C8.26,-0.8 8.5,-1.63 8.5,-2.64 C8.5,-3.69 8.22,-4.48 7.67,-5.02 C7.11,-5.56 6.43,-5.83 5.63,-5.83z M12.94,-2.15 C12.92,-1.22 13.21,-0.48 13.8,0.06 C14.39,0.61 15.21,0.88 16.26,0.88 C17.15,0.88 17.94,0.67 18.61,0.26 C19.29,-0.15 19.63,-0.83 19.63,-1.78 C19.63,-2.55 19.36,-3.13 18.83,-3.53 C18.53,-3.76 18.09,-3.94 17.53,-4.08 C17.53,-4.08 16.36,-4.35 16.36,-4.35 C15.57,-4.54 15.06,-4.7 14.84,-4.82 C14.5,-5.02 14.33,-5.33 14.33,-5.75 C14.33,-6.13 14.47,-6.47 14.76,-6.75 C15.05,-7.04 15.52,-7.19 16.18,-7.19 C17,-7.19 17.58,-6.96 17.92,-6.51 C18.1,-6.27 18.22,-5.92 18.28,-5.45 C18.28,-5.45 19.37,-5.45 19.37,-5.45 C19.37,-6.41 19.07,-7.11 18.45,-7.54 C17.84,-7.98 17.09,-8.2 16.22,-8.2 C15.26,-8.2 14.52,-7.95 14,-7.45 C13.48,-6.96 13.22,-6.32 13.22,-5.55 C13.22,-4.83 13.49,-4.3 14.02,-3.94 C14.32,-3.73 14.85,-3.54 15.58,-3.37 C15.58,-3.37 16.71,-3.1 16.71,-3.1 C17.33,-2.96 17.78,-2.79 18.06,-2.59 C18.35,-2.4 18.49,-2.06 18.49,-1.59 C18.49,-0.97 18.16,-0.53 17.49,-0.29 C17.14,-0.17 16.76,-0.1 16.33,-0.1 C15.39,-0.1 14.74,-0.39 14.36,-0.96 C14.17,-1.26 14.06,-1.66 14.03,-2.15 C14.03,-2.15 12.94,-2.15 12.94,-2.15z M21.13,0.63 C21.13,0.63 22.2,0.63 22.2,0.63 C22.2,0.63 22.2,-5.62 22.2,-5.62 C22.2,-5.62 21.13,-5.62 21.13,-5.62 C21.13,-5.62 21.13,0.63 21.13,0.63z M21.13,-6.78 C21.13,-6.78 22.2,-6.78 22.2,-6.78 C22.2,-6.78 22.2,-7.98 22.2,-7.98 C22.2,-7.98 21.13,-7.98 21.13,-7.98 C21.13,-7.98 21.13,-6.78 21.13,-6.78z M23.33,0.63 C23.33,0.63 28.59,0.63 28.59,0.63 C28.59,0.63 28.59,-0.32 28.59,-0.32 C28.59,-0.32 24.77,-0.32 24.77,-0.32 C24.77,-0.32 28.47,-4.79 28.47,-4.79 C28.47,-4.79 28.47,-5.65 28.47,-5.65 C28.47,-5.65 23.61,-5.65 23.61,-5.65 C23.61,-5.65 23.61,-4.7 23.61,-4.7 C23.61,-4.7 27.06,-4.7 27.06,-4.7 C27.06,-4.7 23.33,-0.2 23.33,-0.2 C23.33,-0.2 23.33,0.63 23.33,0.63z M32.39,-5.79 C31.51,-5.79 30.8,-5.47 30.26,-4.84 C29.71,-4.22 29.44,-3.4 29.44,-2.39 C29.44,-1.37 29.71,-0.57 30.25,0 C30.79,0.57 31.45,0.85 32.22,0.85 C32.54,0.85 32.83,0.82 33.08,0.76 C33.55,0.65 33.94,0.44 34.26,0.12 C34.45,-0.06 34.62,-0.29 34.78,-0.57 C34.93,-0.85 35.02,-1.11 35.05,-1.34 C35.05,-1.34 34.01,-1.34 34.01,-1.34 C33.94,-1.06 33.81,-0.82 33.62,-0.61 C33.3,-0.24 32.86,-0.06 32.32,-0.06 C31.73,-0.06 31.3,-0.25 31.02,-0.64 C30.74,-1.02 30.59,-1.53 30.57,-2.17 C30.57,-2.17 35.14,-2.17 35.14,-2.17 C35.14,-2.81 35.11,-3.27 35.04,-3.56 C34.97,-3.98 34.83,-4.35 34.62,-4.66 C34.41,-5 34.09,-5.27 33.68,-5.47 C33.26,-5.68 32.83,-5.79 32.39,-5.79z M30.6,-3.01 C30.62,-3.55 30.79,-3.99 31.11,-4.34 C31.44,-4.69 31.84,-4.87 32.32,-4.87 C32.99,-4.87 33.47,-4.61 33.76,-4.11 C33.91,-3.83 34.01,-3.47 34.05,-3.01 C34.05,-3.01 30.6,-3.01 30.6,-3.01z"
                                style="display: inherit;"
                            ></path>
                        </g>
                        <g
                            transform="matrix(1,0,0,1,720,457.75)"
                            opacity="1"
                            style="display: block;"
                        >
                            <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                <path
                                    stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    fill-opacity="0"
                                    stroke-miterlimit="4"
                                    stroke="rgb(227,203,117)"
                                    stroke-opacity="1"
                                    stroke-width="3"
                                    d=" M0,13.25 C0,13.25 0,-13.25 0,-13.25"
                                ></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <span class="MarginTradeSection__profit"
                ><span class="MarginTradeSection__profit is-bold"> x5 </span>
                Profit
            </span>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Margin Trade</h2>
                <span class="Section__subTitle">
                    Make more profit with leverage 5x and enjoy our unique
                    trading tools &amp; industry-leading security!
                </span>
            </div>
            <a
                href="/trade-pro"
                class="BaseRouterLink MarginTradeSection__link false"
            >
                Start trading
            </a>
        </div>
    </div>
</template>
