<template>
    <div class="Section MobileSection">
        <div class="Section__head">
            <div class="MobileSection__logo">
                <img
                    src="../../static/iphoneImage.png"
                    alt="Trade Everywhere"
                    class="MobileSection__phone"
                /><svg
                    width="333"
                    height="333"
                    viewBox="0 0 333 333"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="MobileSection__qrcode"
                >
                    <path
                        d="M0 0v80.38h80.38V0H0zm68.897 68.897H11.483V11.483h57.414v57.414z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 0h-11.482v22.965h11.482V0z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M241.138 0v11.483H206.69v11.482h-22.966v22.966h11.483v11.483h-22.966V45.93h-11.483V34.448h11.483V22.965h-11.483v11.483h-11.482v11.483h-11.483V22.966h11.483V11.482h-11.483V0h45.931v11.483h11.483V0h45.931z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M103.345 11.483H91.862v11.482h11.483V11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M241.138 22.966h-11.483v11.482h11.483V22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M206.69 34.448h-11.483v11.483h11.483V34.448z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M57.414 22.966H22.965v34.448h34.449V22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M310.035 22.966h-34.449v34.448h34.449V22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M206.69 57.414h-11.483v11.483h11.483V57.414z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.311 34.448v11.483h-11.483v22.966h-11.483v11.482H91.862V57.414h11.483V45.93H91.862V34.448h34.449z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M149.276 57.414v22.965h-11.483V68.897h-11.482V57.414h22.965z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M172.242 68.897h-11.483v22.965h11.483V68.897z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M195.207 68.897h-11.483v22.965h11.483V68.897z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M218.172 68.897h-11.483v11.482h11.483V68.896z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M252.621 0v80.38H333V0h-80.379zm68.896 68.897h-57.414V11.483h57.414v57.414z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M137.793 80.38v22.965H126.31V91.862h-11.483v11.483H91.862v22.965h11.483v11.483H80.379V126.31H57.414v-11.482h22.965v-11.483H68.896V91.862h34.449V80.379h11.482V68.896h11.483V80.38h11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M298.552 91.862h-11.483v11.483h11.483V91.862z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M321.517 91.862h-11.482v11.483h11.482V91.862z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M241.138 45.931v45.931h-11.483v22.966H206.69v11.482h-45.932v11.483h-11.482v11.483h-11.483V126.31h11.483v-11.482h-11.483v-11.483h45.931v11.483h11.483V91.862h11.483v11.483h11.482V80.379h11.483V57.414h-11.483V45.93h22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M333 103.345h-11.483v11.482H333v-11.482z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 103.345h-11.482v22.965h11.482v-22.965z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M241.138 114.828h-11.483v22.965h11.483v-22.965z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M218.172 126.31h-11.483v11.483h11.483V126.31z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M321.517 126.31h-11.482v11.483h11.482V126.31z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 137.793h-22.965v11.483h22.965v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M287.069 149.276v11.483h22.966v11.482h-45.931v-11.482h-11.483v11.482h11.483v11.483h-34.449v11.483h57.414v22.965h-11.483V206.69h-11.482v11.482h-34.449V206.69H206.69v11.482h-11.483V206.69h-11.483v-11.483h-11.482v-11.483h-11.483v-11.483h11.483v-11.482h11.482v22.965h22.966v11.483h11.483v-11.483H206.69v-11.483h22.965v-11.482h-45.931v-11.483h-22.965v-11.483h45.931v11.483h11.483v-11.483h11.482v11.483h34.449V126.31h11.482v-11.482h-34.448V91.862h11.483v11.483h11.483V91.862h11.482v11.483h11.483v22.965h11.483v11.483h11.483v11.483h-22.966v-11.483h-11.483v11.483h11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M57.414 91.862v22.966H45.93v-11.483H34.448v11.483H22.965v-11.483H11.483v34.448h11.482v22.966H11.483v-11.483H0V91.862h57.414z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M333 149.276h-11.483v11.483H333v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M11.483 172.241H0v11.483h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M321.517 172.241h-11.482v11.483h11.482v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M149.276 160.759v11.482h-11.483v22.966H126.31v-11.483h-11.482v-11.483H45.931v11.483H34.448v11.483H11.483v-11.483h11.483v-22.965H45.93v-11.483H34.448v-11.483H80.38v11.483H68.897v11.483h11.482v-11.483h22.966v11.483h45.931z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M114.828 183.724H91.862v11.483h22.966v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M310.034 183.724v34.448h-11.482v-22.965h-11.483v-11.483h22.965z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M206.69 229.655v11.483h-11.483v22.966h-11.483v22.965h-11.483v-11.483h-11.483v-11.482h11.483v-11.483h11.483v-11.483h-22.966v-11.483h11.483v-11.482h-11.483v11.482h-11.482v11.483h-11.483v-22.965h11.483V206.69h-11.483v-11.483h34.448v11.483h11.483v22.965h22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M333 195.207h-11.483v11.483H333v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M68.897 195.207v11.483h11.482v11.482H68.897v11.483H57.414V206.69H45.93v-22.966H80.38v11.483H68.897z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 206.69h-22.965v11.482h22.965V206.69z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M229.655 218.172h-11.483v11.483h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M11.483 195.207H0v45.931h11.483v-45.931z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M34.448 218.172H22.965v22.966h11.483v-22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M57.414 229.655H45.93v11.483h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 229.655h-11.482v11.483h11.482v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M103.345 218.172v45.931H91.862v-22.965H68.897v-11.483h11.482v-11.483h22.966z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M264.103 252.621h-11.482v11.482h11.482v-11.482z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M333 275.586v-11.482h-22.966v11.482h-11.482v11.483h-11.483v11.483h-34.448v11.483h11.482V333h45.931v-11.483h-11.482v-11.482h11.482v11.482h11.483v-22.965H333v-11.483h-11.483v-11.483H333zm-45.931 45.931h-11.483v-11.482h11.483v11.482z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M149.276 252.621v11.482h-11.483v22.966H126.31v-22.966h-11.482v-11.482h34.448z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M206.69 275.586h-11.483v11.483h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M195.207 287.069v34.448h-22.966v-11.483h-11.483v11.483h-11.482V333h-11.483v-22.966h11.483v-11.482h-11.483v-11.483h34.448v11.483h11.483v-11.483h11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M218.172 287.069h-11.483v11.483h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.31 298.552h-11.482v11.483h11.482v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M321.517 229.655v-11.483h-11.483v11.483h-11.482v11.483h-11.483v-11.483h-57.414v22.966h-11.483v-11.483h-11.483v22.965h11.483v11.483h11.483v22.966h-11.483v11.482h11.483v11.483h11.483v-34.448h45.931v-22.966h22.965v-11.482H333v-22.966h-11.483zm-45.931 45.931h-34.448v-34.448h34.448v34.448z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M0 252.621V333h80.38v-80.379H0zm68.897 68.896H11.483v-57.414h57.414v57.414z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M57.414 275.586H22.965v34.448h34.449v-34.448z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M126.311 321.517V333H91.862v-57.414h11.483v11.483h11.483v11.483h-11.483v11.482h11.483v11.483h11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M172.242 321.517h-11.483V333h11.483v-11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M218.173 310.034V333h-22.966v-11.483h11.483v-11.483h11.483z"
                        fill="#858E97"
                    ></path>
                    <path
                        d="M252.62 321.517h-11.482V333h11.482v-11.483z"
                        fill="#858E97"
                    ></path>
                </svg>
            </div>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Trade Everywhere</h2>
                <span class="Section__subTitle">
                    Our iOS &amp; Android apps adopt the platform’s full
                    functionality and provide a seamless “on-the-go” trading
                    experience.
                </span>
            </div>
            <div class="MobileSection__download">
                <a
                    href="https://apps.apple.com/ua/app/whitebit/id1463405025"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="MobileSection__appLink"
                    ><svg
                        width="162"
                        height="48"
                        viewBox="0 0 162 48"
                        fill="#2E3239"
                        xmlns="http://www.w3.org/2000/svg"
                        class="MobileSection__store"
                    >
                        <path
                            d="M156.236 47.5H5.675C2.823 47.5.5 45.17.5 42.32V5.671A5.18 5.18 0 015.675.5h150.561c2.862 0 5.264 2.33 5.264 5.171v36.65c0 2.84-2.403 5.179-5.264 5.179z"
                            stroke="#2E384D"
                        ></path>
                        <path
                            d="M36.154 23.74c-.035-3.867 3.166-5.748 3.313-5.836-1.813-2.644-4.624-3.005-5.611-3.034-2.36-.248-4.65 1.413-5.853 1.413-1.226 0-3.078-1.389-5.073-1.348-2.569.04-4.97 1.527-6.288 3.835-2.72 4.708-.692 11.626 1.913 15.431 1.304 1.864 2.826 3.945 4.82 3.871 1.95-.08 2.678-1.243 5.031-1.243 2.332 0 3.016 1.243 5.049 1.197 2.093-.034 3.41-1.872 4.668-3.753 1.506-2.136 2.11-4.24 2.135-4.347-.05-.017-4.065-1.55-4.105-6.185z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M32.313 12.367c1.05-1.311 1.767-3.096 1.568-4.907-1.518.068-3.417 1.05-4.51 2.333-.967 1.13-1.831 2.983-1.608 4.726 1.705.127 3.456-.86 4.55-2.152z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M64.374 37.805h-2.725l-1.493-4.69h-5.189l-1.422 4.69h-2.653l5.14-15.97h3.176l5.166 15.97zm-4.668-6.659l-1.35-4.17c-.143-.426-.41-1.43-.805-3.008h-.048c-.157.679-.41 1.682-.759 3.008l-1.326 4.17h4.288z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M77.594 31.906c0 1.958-.529 3.506-1.587 4.642-.948 1.012-2.125 1.517-3.53 1.517-1.517 0-2.607-.544-3.27-1.634h-.049v6.066H66.6V30.08c0-1.232-.032-2.495-.095-3.791h2.25l.143 1.825h.048c.853-1.375 2.148-2.062 3.886-2.062 1.358 0 2.492.537 3.4 1.61.909 1.076 1.362 2.49 1.362 4.243zm-2.606.093c0-1.12-.252-2.044-.758-2.772-.554-.758-1.296-1.137-2.228-1.137-.63 0-1.204.21-1.717.627-.513.42-.85.969-1.007 1.648a3.35 3.35 0 00-.118.78v1.92c0 .838.256 1.544.77 2.122.514.577 1.18.865 2.002.865.963 0 1.713-.372 2.25-1.114.537-.743.806-1.722.806-2.939z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M90.839 31.906c0 1.958-.53 3.506-1.589 4.642-.947 1.012-2.124 1.517-3.53 1.517-1.516 0-2.606-.544-3.268-1.634h-.048v6.066h-2.558V30.08c0-1.232-.033-2.495-.095-3.791H82l.143 1.825h.048c.852-1.375 2.146-2.062 3.885-2.062 1.357 0 2.491.537 3.401 1.61.906 1.076 1.36 2.49 1.36 4.243zm-2.607.093c0-1.12-.253-2.044-.76-2.772-.552-.758-1.293-1.137-2.225-1.137-.633 0-1.205.21-1.719.627-.513.42-.848.969-1.005 1.648a3.415 3.415 0 00-.119.78v1.92c0 .838.257 1.544.768 2.122.514.576 1.18.865 2.004.865.964 0 1.714-.372 2.25-1.114.538-.743.806-1.722.806-2.939z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M105.647 33.326c0 1.359-.472 2.464-1.419 3.317-1.04.933-2.488 1.398-4.35 1.398-1.718 0-3.096-.331-4.138-.995l.592-2.132a7.013 7.013 0 003.699 1.02c.963 0 1.713-.218 2.252-.653.537-.434.804-1.017.804-1.745 0-.648-.221-1.194-.663-1.636-.441-.443-1.176-.855-2.204-1.235-2.796-1.043-4.192-2.57-4.192-4.58 0-1.312.49-2.389 1.47-3.226.976-.839 2.28-1.258 3.909-1.258 1.453 0 2.661.253 3.624.759l-.639 2.085c-.9-.49-1.918-.734-3.057-.734-.9 0-1.603.222-2.107.663-.426.395-.64.876-.64 1.446 0 .632.244 1.154.734 1.564.425.38 1.2.79 2.323 1.232 1.374.554 2.383 1.2 3.032 1.942.647.74.97 1.664.97 2.768z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M114.106 28.21h-2.82v5.59c0 1.422.496 2.133 1.492 2.133.458 0 .837-.04 1.137-.119l.071 1.943c-.504.188-1.168.283-1.99.283-1.01 0-1.8-.308-2.37-.924-.568-.617-.853-1.651-.853-3.104v-5.805h-1.68v-1.92h1.68V24.18l2.513-.759v2.867h2.82v1.923z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M126.829 31.952c0 1.77-.506 3.224-1.517 4.36-1.059 1.17-2.466 1.753-4.219 1.753-1.689 0-3.035-.56-4.038-1.681-1.003-1.12-1.505-2.536-1.505-4.24 0-1.785.516-3.247 1.552-4.383 1.033-1.138 2.428-1.707 4.181-1.707 1.689 0 3.049.56 4.075 1.683.982 1.088 1.471 2.493 1.471 4.215zm-2.654.083c0-1.062-.227-1.973-.687-2.732-.536-.92-1.303-1.378-2.296-1.378-1.029 0-1.81.46-2.346 1.378-.46.76-.687 1.686-.687 2.78 0 1.062.227 1.973.687 2.731.553.92 1.326 1.378 2.323 1.378.977 0 1.743-.468 2.297-1.402.471-.774.709-1.694.709-2.755z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M135.145 28.54a4.438 4.438 0 00-.806-.071c-.9 0-1.596.34-2.086 1.02-.426.6-.639 1.358-.639 2.274v6.042h-2.558l.024-7.889c0-1.327-.032-2.535-.096-3.625h2.229l.093 2.203h.071c.27-.757.696-1.367 1.279-1.824.57-.412 1.186-.617 1.85-.617.236 0 .45.017.639.047v2.44z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M146.587 31.502c0 .459-.03.845-.093 1.16h-7.676c.03 1.138.401 2.008 1.114 2.608.647.537 1.483.806 2.51.806 1.137 0 2.174-.182 3.106-.545l.401 1.776c-1.09.475-2.376.711-3.861.711-1.785 0-3.187-.525-4.207-1.575-1.017-1.05-1.527-2.46-1.527-4.229 0-1.736.474-3.182 1.423-4.336.993-1.23 2.336-1.846 4.026-1.846 1.659 0 2.916.615 3.769 1.846.676.978 1.015 2.188 1.015 3.624zm-2.439-.663c.016-.759-.15-1.414-.497-1.967-.443-.712-1.123-1.067-2.039-1.067-.836 0-1.517.347-2.036 1.043-.426.553-.68 1.217-.758 1.99h5.33z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M58.86 12.01c0 1.413-.424 2.476-1.27 3.19-.783.66-1.897.99-3.34.99-.714 0-1.326-.032-1.839-.094V8.379a13.575 13.575 0 012.166-.164c1.374 0 2.41.3 3.108.897.783.675 1.175 1.641 1.175 2.899zm-1.326.036c0-.916-.242-1.618-.727-2.107-.485-.489-1.193-.734-2.125-.734-.396 0-.734.027-1.013.082v5.867c.155.024.438.034.85.034.962 0 1.705-.267 2.228-.802.523-.535.787-1.316.787-2.34z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M65.89 13.245c0 .87-.248 1.582-.744 2.142-.521.574-1.211.861-2.073.861-.83 0-1.491-.275-1.985-.827-.492-.55-.738-1.245-.738-2.083 0-.876.254-1.595.762-2.153.51-.558 1.193-.837 2.055-.837.83 0 1.497.274 2.003.825.48.536.72 1.227.72 2.072zm-1.304.04c0-.522-.112-.97-.337-1.342-.264-.452-.64-.677-1.128-.677-.505 0-.889.225-1.153.677-.226.373-.337.828-.337 1.365 0 .522.113.97.337 1.343.272.451.652.677 1.141.677.48 0 .857-.23 1.128-.69.233-.38.35-.83.35-1.353z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M75.318 10.463l-1.77 5.657h-1.152l-.733-2.457a18.384 18.384 0 01-.455-1.827h-.023c-.109.621-.26 1.23-.455 1.827l-.778 2.457h-1.166l-1.664-5.657h1.292l.64 2.69c.155.635.282 1.241.384 1.815h.023c.093-.473.248-1.075.467-1.804l.802-2.7h1.025l.77 2.643c.185.644.337 1.264.453 1.862h.035c.085-.582.213-1.202.384-1.862l.686-2.643h1.235v-.001z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M81.838 16.12H80.58v-3.24c0-.999-.38-1.498-1.14-1.498-.373 0-.674.137-.908.412a1.46 1.46 0 00-.35.97v3.355h-1.257v-4.04c0-.497-.016-1.035-.046-1.619h1.105l.06.885h.034c.146-.275.365-.502.652-.683.34-.211.722-.318 1.14-.318.528 0 .967.17 1.316.513.434.418.652 1.043.652 1.874v3.389z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M85.306 16.12h-1.257V7.867h1.257v8.253z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M92.71 13.245c0 .87-.249 1.582-.746 2.142-.52.574-1.212.861-2.072.861-.832 0-1.493-.275-1.985-.827-.492-.55-.738-1.245-.738-2.083 0-.876.253-1.595.762-2.153s1.193-.837 2.053-.837c.832 0 1.498.274 2.004.825.48.536.722 1.227.722 2.072zm-1.306.04c0-.522-.113-.97-.337-1.342-.263-.452-.64-.677-1.127-.677-.506 0-.89.225-1.153.677-.226.373-.337.828-.337 1.365 0 .522.112.97.337 1.343.272.451.651.677 1.141.677.48 0 .856-.23 1.127-.69.234-.38.349-.83.349-1.353z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M98.796 16.12h-1.13l-.093-.652h-.035c-.386.52-.937.78-1.652.78-.534 0-.966-.172-1.291-.512-.295-.31-.443-.695-.443-1.152 0-.691.288-1.218.868-1.583.578-.365 1.392-.544 2.44-.535v-.106c0-.745-.392-1.117-1.176-1.117-.558 0-1.05.14-1.474.419l-.256-.826c.526-.325 1.175-.488 1.94-.488 1.479 0 2.22.78 2.22 2.34v2.083c0 .565.028 1.015.082 1.349zm-1.306-1.944v-.873c-1.387-.024-2.08.357-2.08 1.14 0 .296.079.516.24.664a.88.88 0 00.615.22c.276 0 .534-.087.77-.26a1.071 1.071 0 00.455-.891z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M105.942 16.12h-1.116l-.059-.909h-.035c-.356.691-.963 1.037-1.816 1.037-.682 0-1.25-.268-1.7-.803-.45-.535-.674-1.23-.674-2.083 0-.916.244-1.657.733-2.224.474-.528 1.055-.792 1.746-.792.76 0 1.291.256 1.594.768h.024V7.867h1.259v6.729c0 .55.014 1.058.044 1.524zm-1.303-2.386v-.943a1.431 1.431 0 00-.49-1.158 1.236 1.236 0 00-.841-.309 1.29 1.29 0 00-1.106.56c-.268.373-.404.85-.404 1.431 0 .56.129 1.013.387 1.362.272.372.639.558 1.099.558.413 0 .743-.155.994-.465.242-.287.361-.633.361-1.036z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M116.698 13.245c0 .87-.249 1.582-.746 2.142-.52.574-1.209.861-2.072.861-.829 0-1.49-.275-1.985-.827-.492-.55-.738-1.245-.738-2.083 0-.876.253-1.595.762-2.153s1.193-.837 2.056-.837c.829 0 1.497.274 2.001.825.48.536.722 1.227.722 2.072zm-1.304.04c0-.522-.112-.97-.337-1.342-.265-.452-.639-.677-1.129-.677-.504 0-.888.225-1.153.677-.226.373-.337.828-.337 1.365 0 .522.112.97.337 1.343.272.451.651.677 1.141.677.48 0 .858-.23 1.129-.69.232-.38.349-.83.349-1.353z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M123.46 16.12h-1.257v-3.24c0-.999-.379-1.498-1.141-1.498-.373 0-.674.137-.907.412a1.453 1.453 0 00-.349.97v3.355h-1.259v-4.04c0-.497-.015-1.035-.045-1.619h1.104l.059.885h.035c.148-.275.366-.502.652-.683a2.128 2.128 0 011.141-.318c.527 0 .966.17 1.315.513.436.418.652 1.043.652 1.874v3.389z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M131.923 11.405h-1.385v2.748c0 .698.246 1.047.734 1.047.225 0 .412-.019.56-.058l.032.954c-.248.093-.574.14-.976.14-.497 0-.884-.151-1.163-.454-.281-.302-.42-.81-.42-1.525v-2.852h-.827v-.942h.827V9.426l1.232-.372v1.408h1.385v.943h.001z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M138.581 16.12h-1.259v-3.216c0-1.014-.379-1.522-1.139-1.522-.583 0-.981.294-1.2.882a1.587 1.587 0 00-.059.452v3.402h-1.256v-8.25h1.256v3.408h.024c.396-.62.964-.93 1.7-.93.52 0 .951.17 1.293.513.426.426.64 1.06.64 1.897v3.364z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M145.448 13.024c0 .225-.016.415-.046.57h-3.772c.017.559.197.985.546 1.28.319.264.731.396 1.235.396.558 0 1.067-.089 1.525-.268l.197.874c-.537.233-1.168.35-1.899.35-.876 0-1.566-.259-2.065-.775-.501-.516-.75-1.208-.75-2.077 0-.853.232-1.564.699-2.13.487-.605 1.146-.907 1.977-.907.814 0 1.432.302 1.849.907.338.48.504 1.074.504 1.78zm-1.2-.326a1.693 1.693 0 00-.243-.966c-.219-.349-.551-.524-1.001-.524-.41 0-.745.17-1.001.512a1.904 1.904 0 00-.373.978h2.618z"
                            fill="#FFF"
                        ></path></svg></a
                ><a
                    href="https://play.google.com/store/apps/details?id=com.whitebit.android"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="MobileSection__appLink"
                    ><svg
                        width="162"
                        height="48"
                        viewBox="0 0 162 48"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="MobileSection__store"
                    >
                        <path
                            d="M156 47.5H6C2.976 47.5.5 45.024.5 42V6C.5 2.976 2.976.5 6 .5h150c3.024 0 5.5 2.476 5.5 5.5v36c0 3.024-2.476 5.5-5.5 5.5z"
                            stroke="#2E384D"
                            fill="#2E3239"
                        ></path>
                        <path
                            d="M56.904 12.288c0 1.008-.3 1.812-.9 2.4-.672.708-1.56 1.068-2.64 1.068-1.044 0-1.92-.36-2.652-1.08-.732-.72-1.092-1.62-1.092-2.676 0-1.068.36-1.956 1.092-2.676.732-.72 1.608-1.08 2.652-1.08a3.65 3.65 0 011.476.3c.468.204.84.468 1.128.804l-.636.636c-.48-.564-1.128-.852-1.968-.852-.756 0-1.416.264-1.968.804-.552.528-.828 1.224-.828 2.076 0 .852.276 1.548.828 2.076.552.528 1.212.804 1.968.804.804 0 1.476-.264 2.016-.804.348-.348.552-.84.6-1.464h-2.616v-.864h3.492c.024.18.048.36.048.528z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M62.436 9.288H59.16v2.28h2.952v.864H59.16v2.28h3.276v.888h-4.2V8.4h4.2v.888z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M66.336 15.6h-.924V9.288h-2.016V8.4h4.944v.888h-2.016V15.6h.012z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M71.928 15.6V8.4h.924v7.2h-.924z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M76.956 15.6h-.924V9.288h-2.016V8.4h4.944v.888h-2.016V15.6h.012z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M88.332 14.664c-.708.732-1.584 1.092-2.64 1.092s-1.932-.36-2.64-1.092c-.708-.732-1.056-1.62-1.056-2.664s.348-1.944 1.056-2.664c.708-.732 1.584-1.092 2.64-1.092 1.044 0 1.92.36 2.64 1.092.708.732 1.068 1.62 1.068 2.664-.012 1.056-.36 1.944-1.068 2.664zm-4.596-.6c.528.54 1.188.804 1.956.804s1.428-.264 1.956-.804.804-1.224.804-2.064c0-.84-.264-1.524-.804-2.064-.528-.54-1.188-.804-1.956-.804s-1.428.264-1.956.804-.804 1.224-.804 2.064c0 .84.276 1.524.804 2.064z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M90.696 15.6V8.4h1.128l3.504 5.604h.036l-.036-1.392V8.4h.924v7.2h-.96l-3.66-5.868h-.036l.036 1.392V15.6h-.936z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M81.768 26.1c-2.82 0-5.124 2.148-5.124 5.1 0 2.94 2.304 5.1 5.124 5.1s5.124-2.16 5.124-5.1c0-2.952-2.304-5.1-5.124-5.1zm0 8.196c-1.548 0-2.88-1.272-2.88-3.096 0-1.836 1.332-3.096 2.88-3.096 1.548 0 2.88 1.26 2.88 3.096 0 1.824-1.344 3.096-2.88 3.096zM70.584 26.1c-2.82 0-5.124 2.148-5.124 5.1 0 2.94 2.304 5.1 5.124 5.1s5.124-2.16 5.124-5.1c0-2.952-2.304-5.1-5.124-5.1zm0 8.196c-1.548 0-2.88-1.272-2.88-3.096 0-1.836 1.332-3.096 2.88-3.096 1.548 0 2.88 1.26 2.88 3.096 0 1.824-1.332 3.096-2.88 3.096zm-13.296-6.624v2.16h5.184c-.156 1.212-.564 2.112-1.176 2.724-.756.756-1.932 1.584-3.996 1.584-3.192 0-5.688-2.568-5.688-5.76 0-3.192 2.496-5.76 5.688-5.76 1.716 0 2.976.672 3.9 1.548l1.524-1.524c-1.296-1.236-3.012-2.184-5.436-2.184-4.368 0-8.04 3.552-8.04 7.932 0 4.368 3.672 7.932 8.04 7.932 2.364 0 4.14-.768 5.532-2.22 1.428-1.428 1.872-3.444 1.872-5.064 0-.504-.036-.972-.12-1.356h-7.284v-.012zm54.372 1.68c-.42-1.14-1.716-3.252-4.368-3.252-2.628 0-4.812 2.064-4.812 5.1 0 2.856 2.16 5.1 5.064 5.1 2.34 0 3.696-1.428 4.248-2.256l-1.74-1.164c-.576.852-1.368 1.416-2.508 1.416s-1.956-.528-2.472-1.548l6.828-2.82-.24-.576zm-6.96 1.704c-.06-1.968 1.524-2.976 2.664-2.976.888 0 1.644.444 1.896 1.08l-4.56 1.896zM99.156 36h2.244V21h-2.244v15zm-3.672-8.76H95.4c-.504-.6-1.464-1.14-2.688-1.14-2.556 0-4.896 2.244-4.896 5.124 0 2.856 2.34 5.088 4.896 5.088 1.212 0 2.184-.54 2.688-1.164h.072v.732c0 1.956-1.044 3-2.724 3-1.368 0-2.22-.984-2.568-1.812l-1.956.816c.564 1.356 2.052 3.012 4.524 3.012 2.628 0 4.848-1.548 4.848-5.316v-9.168h-2.124v.828h.012zm-2.58 7.056c-1.548 0-2.844-1.296-2.844-3.072 0-1.8 1.296-3.108 2.844-3.108 1.524 0 2.724 1.32 2.724 3.108.012 1.776-1.188 3.072-2.724 3.072zM122.172 21h-5.364v15h2.244v-5.688h3.132c2.484 0 4.92-1.8 4.92-4.656S124.644 21 122.172 21zm.048 7.224h-3.18v-5.148h3.18c1.68 0 2.628 1.392 2.628 2.568 0 1.176-.948 2.58-2.628 2.58zm13.848-2.148c-1.62 0-3.3.72-3.996 2.292l1.992.828c.42-.828 1.212-1.104 2.04-1.104 1.152 0 2.34.696 2.352 1.932v.156c-.408-.228-1.272-.576-2.34-.576-2.148 0-4.32 1.176-4.32 3.372 0 2.004 1.752 3.3 3.72 3.3 1.5 0 2.34-.672 2.856-1.464h.072v1.164h2.16v-5.748c.012-2.664-1.98-4.152-4.536-4.152zm-.276 8.22c-.732 0-1.752-.372-1.752-1.272 0-1.152 1.272-1.596 2.376-1.596.984 0 1.452.216 2.04.504-.168 1.38-1.368 2.364-2.664 2.364zm12.696-7.896l-2.568 6.504h-.072l-2.664-6.504h-2.412l3.996 9.096-2.28 5.052h2.34l6.156-14.148h-2.496zm-20.16 9.6h2.244V21h-2.244v15z"
                            fill="#FFF"
                        ></path>
                        <path
                            opacity=".86"
                            d="M12.528 9.048c-.348.372-.552.948-.552 1.68v26.544c0 .744.204 1.32.552 1.68l.084.084L27.48 24.18v-.36L12.612 8.964l-.084.084z"
                            fill="#FFF"
                        ></path>
                        <path
                            d="M32.436 29.136L27.48 24.18v-.36l4.956-4.956.108.06 5.868 3.336c1.68.948 1.68 2.508 0 3.468l-5.868 3.336-.108.072z"
                            fill="#FFF"
                        ></path>
                        <path
                            opacity=".76"
                            d="M32.544 29.064L27.48 24 12.528 38.952c.552.588 1.464.66 2.496.072l17.52-9.96z"
                            fill="#FFF"
                        ></path>
                        <path
                            opacity=".62"
                            d="M32.544 18.936l-17.532-9.96c-1.032-.588-1.944-.516-2.496.072L27.48 24l5.064-5.064z"
                            fill="#FFF"
                        ></path></svg
                ></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Mobile"
};
</script>

<style lang="scss">
.MobileSection {
    background: #fff;
    padding-top: 80px;
    padding-bottom: 40px;
}
@media (min-width: 768px) {
    .MobileSection {
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 21px;
    }
}
.MobileSection .Section__head {
    padding-bottom: 78px;
}
@media (min-width: 768px) {
    .MobileSection .Section__title {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}
.MobileSection__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1190px;
}
@media (min-width: 768px) {
    .MobileSection__logo {
        justify-content: space-between;
    }
}
.MobileSection__download {
    display: flex;
    margin: 1.5rem 0 0;
}
@media (min-width: 768px) {
    .MobileSection__download {
        margin: 0 0 0 62px;
    }
}
.MobileSection__phone,
.MobileSection__qrcode {
    height: 100%;
}
.MobileSection__store {
    width: 100%;
    height: 100%;
}
.MobileSection__store svg * path {
    fill: #fff;
}
.MobileSection__appLink {
    display: flex;
    transition: box-shadow 0.2s;
    max-width: 185px;
    width: 100%;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .MobileSection__appLink {
        max-width: 162px;
    }
}
.MobileSection__appLink:first-child {
    margin-right: 12px;
}
.MobileSection__appLink:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
.MobileSection__qrcode {
    display: none;
}
@media (min-width: 768px) {
    .MobileSection__qrcode {
        display: block;
    }
}
.MobileSection__phone {
    width: 100%;
    height: 100%;
    max-width: 670px;
}
@media (min-width: 768px) {
    .MobileSection__phone {
        -o-object-fit: contain;
        object-fit: contain;
        margin-right: 50px;
        width: 52vw;
    }
}
</style>
