<template>
    <div class="Section PartnersSection">
        <div class="Section__head">
            <div class="PartnersSection__grid">
                <a
                    href="https://coin360.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/coin360.svg"
                        alt="Coin360"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://www.coingecko.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/coingecko.png"
                        alt="CoinGecko"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://cryptorank.io/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/cryptorank.svg"
                        alt="CryptoRank"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://bitfury.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/bitfury.svg"
                        alt="Bitfury"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://cointelegraph.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/cointelegraph.svg"
                        alt="Cointelegraph"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://tab-trader.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/tabTraider.svg"
                        alt="TABTRADER"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://coinmarketcap.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/cmc.svg"
                        alt="CoinMarketCap"
                        class="PartnersSection__logo"/></a
                ><a
                    href="https://winplay.app/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="PartnersSection__partner"
                    ><img
                        src="../../static/welcome/winplay.svg"
                        alt="WinPlay"
                        class="PartnersSection__logo"
                /></a>
            </div>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Partners</h2>
                <span class="Section__subTitle">
                    Сooperate with our partners and start growing today!
                </span>
            </div>
            <a
                href="/corporates"
                class="BaseRouterLink PartnersSection__link false"
            >
                Get in touch
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Partners"
};
</script>

<style lang="scss">
.PartnersSection {
    background: #f9fafb;
    padding-top: 3.3rem;
    padding-bottom: 2.5rem;
}
@media (min-width: 768px) {
    .PartnersSection {
        padding-top: 42px;
        padding-bottom: 0;
        justify-content: center;
    }
}
.PartnersSection .Section__head {
    padding-bottom: 56px;
}
@media (min-width: 768px) {
    .PartnersSection .Section__head {
        padding-bottom: 125px;
    }
}
.PartnersSection__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}
@media (min-width: 768px) {
    .PartnersSection__grid {
        grid-gap: 4.85vw;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 992px) {
    .PartnersSection__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1440px) {
    .PartnersSection__grid {
        grid-column-gap: 70px;
        grid-row-gap: 60px;
    }
}
.PartnersSection__partner {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e8e9ea;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8%;
    max-height: 95px;
    min-height: 60px;
    height: 14.5vw;
}
.PartnersSection__partner,
.PartnersSection__partner .PartnersSection__logo {
    transition: 0.2s;
}
@media (min-width: 768px) {
    .PartnersSection__partner {
        padding: 8px 11%;
        max-height: unset;
        min-height: 70px;
        height: 5.5vw;
    }
}
.PartnersSection__partner .PartnersSection__logo {
    opacity: 0.6;
}
@media (min-width: 768px) and (max-width: 991px) {
    .PartnersSection__partner {
        height: 9vw;
        max-height: 78px;
    }
}
.PartnersSection__partner:hover {
    -webkit-filter: none;
    filter: none;
    border: 1px solid #e3cb75;
}
.PartnersSection__partner:hover .PartnersSection__logo {
    opacity: 1;
}
.PartnersSection__logo {
    width: 100%;
}
.PartnersSection__link {
    font-size: 1.125rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    background: #e3cb75;
    padding: 19px 0;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.2s;
}
@media (min-width: 768px) {
    .PartnersSection__link {
        margin-top: 0;
        min-width: 250px;
        max-width: 295px;
    }
}
.PartnersSection__link:hover {
    background: #b1a14f;
}
.PartnersSection svg {
    height: 100%;
}
</style>
