<template>
    <div class="Section ReadyToTradeSection">
        <div class="Section__head">
            <svg
                width="1440"
                height="341"
                viewBox="0 0 1440 341"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="ReadyToTradeSection__ready"
            >
                <path
                    d="M1315 292.5c0 16.845-266.39 30.5-595 30.5-328.609 0-595-13.655-595-30.5S391.391 262 720 262c328.61 0 595 13.655 595 30.5z"
                    fill="#F1F2F3"
                ></path>
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1664.06 294.293c.71-.716.94-1.31.94-1.793 0-.483-.23-1.077-.94-1.793-.71-.718-1.83-1.482-3.39-2.273-3.13-1.58-7.85-3.166-14.13-4.738-12.54-3.142-31.08-6.182-55-9.082-47.84-5.798-117.08-11.022-202.67-15.41C1217.7 250.428 981.219 245 720 245s-497.701 5.428-668.872 14.204c-85.588 4.388-154.831 9.612-202.666 15.41-23.924 2.9-42.46 5.94-55 9.082-6.277 1.572-10.997 3.158-14.127 4.738-1.567.791-2.682 1.555-3.393 2.273-.708.716-.942 1.31-.942 1.793 0 .483.234 1.077.942 1.793.711.718 1.826 1.482 3.393 2.273 3.13 1.58 7.85 3.166 14.127 4.738 12.54 3.142 31.076 6.182 55 9.082 47.835 5.798 117.078 11.022 202.666 15.41C222.3 334.572 458.781 340 720 340c261.219 0 497.7-5.428 668.87-14.204 85.59-4.388 154.83-9.612 202.67-15.41 23.92-2.9 42.46-5.94 55-9.082 6.28-1.572 11-3.158 14.13-4.738 1.56-.791 2.68-1.555 3.39-2.273zM720 341c522.46 0 946-21.714 946-48.5S1242.46 244 720 244c-522.461 0-946 21.714-946 48.5S197.539 341 720 341z"
                    fill="#E8E9EA"
                ></path>
                <g clip-path="url(#readyclip0)">
                    <path
                        d="M1209.2 291.1l-2.5 2.3c-.8.7-1.8 1-2.8.7l-11.7-3.3c-.4-.1-.8-.3-1.1-.6l-8.7-7.5c-.6-.5-.9-1.1-1-1.9l-1.4-11c-.1-1.1-.9-2.1-2-2.4l-25.5-8.9c-.1 0-.3-.1-.4-.1l-15.8-3c-.1 0-.2 0-.2-.1l-4.5-1.2c-2.2-.6-4.2 1.4-3.6 3.6l2.5 9.3c.1.4.1.8.1 1.1l-1.6 12.3c-.1.4 0 .8.1 1.2l1 3.4c.5 1.8-.7 3.6-2.5 3.8l-18.5 2.2h-.5l-15-.7c-2-.1-3.3-2.1-2.7-3.9l1.3-3.8c.3-.7.8-1.3 1.5-1.7l4.3-2.1c1.4-.7 2-2.4 1.4-3.8l-1.2-2.8c-.2-.5-.6-1-1-1.3l-13-8.9c-.2-.1-.3-.3-.5-.4l-15.1-16c-.2-.2-.4-.5-.6-.8l-5.2-11.9c-.4-1-1.3-1.6-2.3-1.7l-25.7-3.3h-.2l-14.1-2.8c-1.9-.4-3.6 1.1-3.5 3l.7 20.5v.3l3.9 25.1 2.3 18.2c.2 1.5-.8 2.9-2.3 3.3l-20.1 4.2c-.2 0-.4.1-.7.1l-15.7-.3c-2.1 0-3.5-2.2-2.6-4.2l2-4.5c.3-.6.8-1.2 1.4-1.5l3.3-1.5c1.3-.6 2-2 1.6-3.4l-3.5-13.4c-.1-.5-.4-.9-.7-1.3L972.7 255l-21.8-25.6c-.6-.7-1.4-1-2.2-1h-3.2c-.9 0-1.8.5-2.4 1.2l-10.9 14.9-12.8 19.2c-.2.3-.4.6-.7.8l-26.5 19.1c-.6.4-1 1.1-1.2 1.8l-1.4 7.3c-.3 1.4-1.6 2.4-3 2.4l-24.3-1.2h-.3l-9 .6c-2.1.1-3.6-1.9-3-3.8l1.3-4.2c.3-.8.8-1.5 1.6-1.8l11.4-5.1c.6-.3 1.1-.7 1.4-1.3l6.9-13c0-.1.1-.1.1-.2l14-31.4c.2-.5.3-1 .2-1.5l-2.1-21.3v-.3l-3.1-15.7c-.2-1-.9-1.8-1.8-2.2l-11.9-4.6c-.1 0-.2-.1-.3-.1l-22.6-11.5c-.2-.1-.5-.2-.7-.3l-11.6-2.5c-.2 0-.3-.1-.5-.1l-18.2-.8c-.2 0-.3 0-.5-.1l-22.8-5.2-8.6-1.5c-.9-.2-1.7-.7-2.1-1.5l-1.7-3.1c-.4-.8-1.2-1.4-2.1-1.5l-10.2-1.7c-.9-.2-1.7-.7-2.2-1.6l-4.8-9.6c-.1-.2-.2-.5-.3-.8l-.8-4.4c-.2-1.3.4-2.6 1.6-3.2l14.8-7.6c.1-.1.3-.1.4-.2l13-4.3c.7-.2 1.4-.8 1.7-1.5l3-6c.2-.5.6-.9 1.1-1.2l22.3-13.9c.1 0 .1-.1.2-.1l15-10.9c.4-.3.7-.6.9-1l5.6-10.8c.1-.2.2-.4.4-.6l4.9-5.6c.8-.9 2.2-1.3 3.4-.8l7 2.9c.9.4 1.6 1.2 1.8 2.3l1 6.1c.3 1.7 1.9 2.8 3.6 2.4l18.9-4.5c.1 0 .3-.1.4-.1l36.4-14.6c.3-.1.6-.2.8-.2l14.4-1.2h.8l33 6h.3l10.3.8c.3 0 .6 0 .9-.1l56.1-13h.2l41.8-6.8c.5-.1 1.1 0 1.6.2l28.3 11.4c.1 0 .2.1.3.2l23.8 13.4 29.4 18.6c.2.1.3.2.5.4l18.9 18.4c.3.3.6.8.8 1.2l4.9 15.4c.1.3.1.6.1.9v10c0 2.9-3.8 4.1-5.4 1.7-1.4-2.1-4.7-1.5-5.3 1l-3.2 13.4c0 .1-.1.2-.1.3l-7.6 21.6c-.1.3-.2.7-.2 1l.4 22.5c0 .6.2 1.2.6 1.7l11.5 16c.1.1.2.3.4.4l10.2 9.8.2.2 7 7.8c.2.3.5.5.8.7l9.8 5.1c.9.5 1.5 1.4 1.6 2.4l.7 8.3V276c0 .4.1.7.2 1.1l2.3 5.7c.1.2.2.4.4.6l3 4.1c.5.9.4 2.5-.7 3.6z"
                        fill="#ACB4BC"
                    ></path>
                    <path
                        d="M775 56.6l-7.2 8.7c-.2.2-.4.4-.7.5l-12.1 4c-.2.1-.3.1-.5.1H738.1l-16.6-3c-.5-.1-1 .1-1.4.5L707.5 81c-.1.1-.2.3-.3.4l-6.7 15.9c-.4 1-.6 2-.5 3l.8 15.2c.1 2.1-.8 4.2-2.4 5.6l-7.4 6.2c-1.7 1.4-2.6 3.6-2.4 5.8l.7 8.5c.1.8 0 1.6-.2 2.4l-4.3 15c-.4 1.6-1.4 2.9-2.8 3.8l-3.6 2.4c-.5.3-.9.7-1.3 1.1l-6.4 7.1c-2.3 2.5-5.7 3.6-9 2.9l-4.3-.9c-.7-.1-1.4-.4-2-.6l-10.2-4.5c-.1 0-.1 0-.2-.1-.1 0-.1 0-.2-.1-1.8-.9-2.9-2.8-3-4.8l-.4-9.6c0-.8-.2-1.7-.5-2.4l-5.7-13.4c-.1-.2-.2-.5-.3-.7-1.4-4.8-7.4-6.4-11.1-3.1l-2 1.8-.3.3-15.3 15.3c-1 1-1.7 2.4-1.9 3.8l-.9 5.9c-.2 1.6.1 3.3 1 4.7l8.2 12.7 14.4 12.8 13.3 11.8c.7.6 1.2 1.5 1.4 2.4l1.7 9.7c.1.7.1 1.4-.2 2.1l-3.8 11.4c-.1.2-.2.5-.3.7L627 253.7c-.7 1.2-1.8 2-3.2 2.2-1.3.2-2.5.9-3.1 2.1l-4.6 8.1c-.5.8-1.2 1.5-2.1 1.8l-6.1 2.5c-1.8.7-3.9.1-5.1-1.5l-5.7-8.3c-.3-.4-.5-.8-.6-1.2l-3-10.7c-.3-1.2-.1-2.6.6-3.6l6.2-8.7c.4-.5.9-1 1.4-1.3l5.3-2.8c.5-.3 1-.7 1.3-1.1l6.2-8c.5-.6.8-1.3.9-2.1l.6-4.5c.2-1.7-.6-3.4-2.1-4.2l-9.4-5.3c-.2-.1-.4-.2-.7-.3l-17.2-6.1c-.3-.1-.7-.2-1-.2l-15.4-1.4c-1.4-.1-2.7.4-3.6 1.4l-11.8 13.7c-.4.4-.7.9-.8 1.5l-8.1 25.3c-.1.3-.2.6-.2.9l-1.5 18V277.5c0 1.5.8 2.8 2 3.6l5.2 3.3c.8.5 1.5 1.3 1.8 2.3l2.4 7.5c.9 2.8-1.3 5.7-4.3 5.5l-9.7-.7-17.6-.9c-1.6-.1-3-1-3.6-2.5l-5.9-13.2c-.3-.6-.4-1.4-.4-2.1l1.5-19.9c0-.2.1-.5.1-.7l6.8-27.2c0-.1 0-.2.1-.3l5.7-32.7c.4-2.2-1-4.3-3.2-4.8l-15.8-3.9-28.5-6.2c-.5-.1-1.1-.1-1.6 0l-15.7 2.7c-1.3.2-2.4 1-3 2.2l-6.8 13.2c-.1.3-.3.5-.5.7l-18 21.6c-.1.2-.3.3-.4.4l-13.6 12.7c-1 .9-1.5 2.3-1.3 3.7l2.2 15c.1.6.3 1.1.6 1.6l8.9 14.1c.5.7 1.1 1.3 1.9 1.6l8.6 3.6c.2.1.4.2.5.3l9.4 5.6c.6.4 1.2.9 1.5 1.6l4.5 8.2c1.6 2.8-.5 6.3-3.7 6.3h-6.8l-18-1c-.7 0-1.3-.2-1.9-.5l-9.1-5.2c-.8-.4-1.4-1.1-1.7-1.9l-5.8-12.5c0-.1-.1-.2-.1-.3l-9.4-17.3c0-.1-.1-.2-.2-.3l-10.6-16.4-6.7-10.5c-1.1-1.7-.9-3.8.4-5.4l6.5-7.7.6-.9 4.8-10.1c.5-1.1.6-2.3.1-3.4l-1.9-4.8c-1.1-2.8-4.6-3.6-6.8-1.6l-1.6 1.5c-.1.1-.3.3-.5.4L364 216.7c-.4.2-.7.4-1.2.6l-25 7.7c-.3.1-.6.2-.9.2l-24.2 3.6c-.2 0-.4.1-.6.1l-21.2 6.3c-1.2.4-2.2 1.2-2.7 2.3l-9.2 17.9c-.4.7-.5 1.5-.5 2.3l.9 16.5c.1.9.4 1.8.9 2.5l6 7.7c.4.5.6 1 .8 1.6l1.8 6.8c.8 3-1.6 5.9-4.7 5.7l-28.3-1.9c-2.4-.2-4.2-2.1-4.2-4.5V287v-.6l1.2-9.3c.2-1.9-.8-3.8-2.5-4.6-2-1-3-3.3-2.3-5.5l.8-2.5c0-.1.1-.2.1-.3l11-25.7 10-22.6c.1-.2.1-.3.2-.4l8-13.8c.9-1.5 2.6-2.4 4.3-2.2l7.3.7c.6.1 1.3 0 1.9-.2l12.9-4.5c1-.4 1.9-1 2.4-2l15.3-25.9c.6-.9.8-2 .8-3.1v-27.6c0-4.9-5.5-7.7-9.5-4.9l-5 3.6c-.3.2-.5.4-.7.7l-13.6 15.1c-.3.3-.5.7-.7 1l-12.2 24.9c-.2.4-.4.7-.7 1l-12.4 13.9c-.3.4-.7.7-1.2 1L253 201c-.4.2-.9.4-1.4.5l-20.4 3.5c-.5.1-.9.1-1.4 0l-14.2-2c-.3 0-.7 0-1 .1l-15.3 5.4c-.1 0-.2.1-.3.1l-15.3 8.1c-.2.1-.3.2-.5.3l-10.3 10.3c-1.3 1.3-3.5.4-3.6-1.4l-.3-8.7c0-.3 0-.6.2-.9l4.9-11.9c.1-.3.3-.6.6-.8l5.8-4.7c1.3-1 .9-3.1-.6-3.6l-.7-.3c-1.5-.5-1.9-2.4-.8-3.5l13.6-13.1c.6-.6 1.5-.8 2.3-.4l15.8 6.7c.3.1.5.3.7.5l6.9 7.3c.9.9 1.9 1.6 3.1 1.9l7.2 1.9c.7.2 1.5.2 2.2 0l17.4-4.2c.8-.2 1.5-.6 2.1-1.2l16.1-15.6c.4-.4.7-.8.9-1.2l9.8-19.5 10.4-20.9c.1-.3.3-.5.5-.8l12.6-16.2.9-.9 14.7-10.7c.1-.1.2-.2.4-.2l42.3-14.8c.1 0 .1 0 .2-.1l43.4-9c.1 0 .2 0 .3-.1l35.9-15.2c6.1-2.6 11.8-6 16.9-10.1L487.2 30c1.4-1.1 2.8-2.1 4.2-3.1l20.8-14.2c9.4-6.5 20.2-10.6 31.6-12.1 12.8-1.7 25.7.1 37.6 5.1l9.6 4.1L614.9 21l23.4 9.6 20.2 8.5h.1l23.2 8.3c.4.2.9.1 1.3-.2l13-8.5c.2-.1.4-.2.5-.2l16.8-3c.3-.1.6 0 .9.1l18.1 8.8c.1 0 .1.1.2.1l17.2 12c.2.1.3.2.5.2l15.2 3.7 9.5-3.8z"
                        fill="#858E97"
                    ></path>
                </g>
                <defs>
                    <clipPath id="readyclip0">
                        <path
                            fill="#fff"
                            transform="translate(169)"
                            d="M0 0h1041.1v299.7H0z"
                        ></path>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">Ready to Trade?</h2>
                <span class="Section__subTitle"> Let's get started! </span>
            </div>
            <a
                href="/trade-pro"
                class="BaseRouterLink ReadyToTradeSection__link false"
            >
                Begin Trading
            </a>
        </div>
    </div>
</template>


<style lang="scss">
.ReadyToTradeSection{padding:5rem 0 2.5rem}@media(min-width:768px){.ReadyToTradeSection{padding:0!important;justify-content:center}}.ReadyToTradeSection .Section__head{padding-bottom:80px}@media(min-width:768px){.ReadyToTradeSection .Section__head{padding-bottom:60px}}.ReadyToTradeSection .Section__description{margin:0 1rem}@media(min-width:768px){.ReadyToTradeSection .Section__description{margin:0 8.6%}}.ReadyToTradeSection__link{font-size:1.125rem!important;color:#fff!important;color:var(--c-opposite-text,#fff)!important;font-weight:500!important;text-transform:uppercase;background:#e3cb75;padding:19px 0;text-align:center;border-radius:7px;width:100%;margin-top:15px;transition:background .2s}@media(min-width:768px){.ReadyToTradeSection__link{margin-top:0;min-width:250px;max-width:295px}}.ReadyToTradeSection__link:hover{background:#b1a14f}.ReadyToTradeSection__ready{width:100%;height:100%;min-width:113%}@media(min-width:768px){.ReadyToTradeSection__ready{min-width:unset;max-height:340px}}
</style>