<template>
    <div class="Section DemoTokenSection">
        <div class="Section__head">
            <svg
                width="576"
                height="333"
                viewBox="0 0 576 333"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class=""
            >
                <path
                    d="M58.295 260.976H44.79C44.34 312.743 37.475 333 37.475 333H66.06s-7.765-24.758-7.765-72.024zm0-112.538H44.79v103.535h13.505V148.438zm0 112.538H44.79C44.34 312.743 37.475 333 37.475 333H66.06s-7.765-24.758-7.765-72.024zm0-112.538H44.79v103.535h13.505V148.438z"
                    fill="#858E97"
                ></path>
                <path
                    d="M51.542 238.468c13.505 0 24.759 11.254 24.759 24.758 0 13.505-11.254 24.759-24.759 24.759-13.504 0-24.758-10.804-24.758-24.759 0-13.504 11.254-24.758 24.758-24.758z"
                    fill="#858E97"
                ></path>
                <path
                    d="M6.077 129.531L273.017 3.039c8.103-4.052 21.607-4.052 29.71 0l266.94 126.492c8.103 4.052 8.103 11.254 0 15.305l-266.94 126.493c-8.103 4.052-21.607 4.052-29.71 0L6.077 144.836c-8.103-4.051-8.103-11.253 0-15.305zm281.795 67.523c84.629 0 153.052 30.61 153.052 67.973S372.501 333 287.872 333c-84.628 0-153.051-30.61-153.051-67.973s68.423-67.973 153.051-67.973z"
                    fill="#858E97"
                ></path>
                <path
                    d="M427.419 161.492c0-31.961-62.121-58.07-139.097-58.07-76.525 0-138.646 25.659-139.097 57.62 0 0-14.855 104.435-14.404 104.435 0-30.61 64.371-67.973 153.501-67.973 82.828 0 144.499 38.713 152.602 67.523l-13.505-103.535z"
                    fill="#ACB4BC"
                ></path>
            </svg>
        </div>
        <div class="Section__description">
            <div class="Section__titleContainer">
                <h2 class="Section__title">DEMO Token</h2>
                <span class="Section__subTitle">
                    Start trading like a pro with our free DEMO Token!
                </span>
            </div>
            <a
                href="/codes"
                class="BaseRouterLink DemoTokenSection__link false"
            >
                Try now
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "TokenSection"
};
</script>

<style lang="scss" scoped>
.DemoTokenSection {
    background-color: #f1f2f3;
    background-image: url(../../static/bg_demoToken_mobile.svg);
    background-size: 121% 101%;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    padding-top: 78px;
}
@media (min-width: 550px) {
    .DemoTokenSection {
        background-size: 121% 115%;
    }
}
@media (min-width: 768px) {
    .DemoTokenSection {
        background-image: url(../../static/bg_demoToken.svg);
        background-position: 50%;
        background-size: 132% 100%;
        padding-top: 97px;
    }
}
@media (min-width: 992px) {
    .DemoTokenSection {
        background-size: 100% 100%;
    }
}
.DemoTokenSection .Section__head {
    padding: 0 60px 77px;
}
@media (min-width: 768px) {
    .DemoTokenSection .Section__description {
        align-items: flex-end;
    }
}
@media (min-width: 768px) {
    .DemoTokenSection .Section__titleContainer {
        margin-right: 13%;
    }
}
.DemoTokenSection__link {
    font-size: 1.125rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    background: #e3cb75;
    padding: 19px 0;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.2s;
}
@media (min-width: 768px) {
    .DemoTokenSection__link {
        margin-top: 0;
        min-width: 250px;
        max-width: 295px;
    }
}
.DemoTokenSection__link:hover {
    background: #b1a14f;
}
.DemoTokenSection svg {
    height: 100%;
}
</style>
