<template>
    <div
        class="container pt40"
        style="box-sizing: content-box; min-width: 1280px;"
    >
        <div class="d-flex flex-column home-tickers pt30 theme-light br-main" style="background: #fff">
            <div
                style="    padding-bottom: 25px;"
                class="typo typo-title-2 pl40 pr40  fw-bold typo-nowrap typo-ellipsis"
            >
                Hot Currency Rank
            </div>
            <div class="d-flex flex-column symbol-list" style="height: 100%">
                <div
                    class="d-flex pb10 pt20 pl40 pr40 center-v panel-subheader cols-type-10"
                    style="height: auto;"
                >
                    <div class="d-flex  cols-type-111">
                        <div
                            class="typo typo-text-1-lighter fw-bold   typo-nowrap typo-ellipsis"
                        >
                            Currency
                        </div>
                        <div
                            class="typo typo-text-1-lighter fw-bold   typo-nowrap typo-ellipsis"
                        >
                            Last Price
                        </div>
                        <div
                            class="typo typo-text-1-lighter fw-bold   typo-nowrap typo-ellipsis"
                        >
                            Change
                        </div>
                        <div
                            class="typo typo-text-1-lighter fw-bold   typo-nowrap typo-ellipsis"
                        >
                            24H Vol
                        </div>
                    </div>
                    <div
                        class="typo typo-text-1-lighter fw-bold   text-right typo-nowrap typo-ellipsis"
                    >
                        Operation
                    </div>
                </div>
                <div class="">
                    <market-item
                        v-for="(item, index) of sortedItems"
                        :key="index"
                        :item="item"
                    />
                </div>
            </div>
            <router-link
                tag="a"
                v-if="!$route.fullPath.includes(name)"
                class="typo typo-text-1 center-vh fs16  text-right cursor-pointer typo-nowrap typo-ellipsis"
                to="/spot/markets/tickers"
                style="height: 65px; color: rgb(255, 175, 61);"
                >More<i
                    aria-label="icon: arrow-right"
                    class="anticon anticon-arrow-right ml10 fs14 lh-p100"
                    ><svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        class=""
                        data-icon="arrow-right"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z"
                        ></path></svg></i
            ></router-link>
        </div>
    </div>
</template>

<script>
import TableItem from "./TableItem";

export default {
    name: "index",
    data: () => ({
        items: [],
        name: "/spot/markets/tickers"
    }),
    components: {
        marketItem: TableItem
    },
    async mounted() {
        if (this.markets.length) this.items = this.markets
        await this.$socket.emit("prices")
    },
    computed: {
        markets() {
            return this.$store.state.markets
        },
        sortedItems() {
            if (this.items.length) {
                const filtered = this.items
                    .filter(item =>
                            item.symbol.includes("USD") &&
                            item.quoteVolume > 1000
                    )
                    .sort((a, b) => b.quoteVolume - a.quoteVolume)

                if (this.$route.fullPath.includes(this.name)) {
                    return filtered
                }

                return filtered.slice(0, 6)
            }
        }
    },
    sockets: {
        prices(value) {
            this.items = Object.keys(value).map(key => value[key])
            this.$store.commit("saveMarkets", this.items)
        }
    }
};
</script>

<style lang="scss">
.Search {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    border: 1px solid #e8e9ea;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.Search.isFocused {
    border-color: #c5b358 !important;
}
.Search__input {
    width: calc(100% - 16px);
    border: none;
    line-height: 1;
    outline: 0;
    font-size: 0.875rem;
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
    font-weight: 400;
    background-color: transparent;
}
.Search__input::-moz-placeholder {
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
}
.Search__input::-ms-input-placeholder {
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
}
.Search__input::placeholder {
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
}
.Search__icon {
    min-height: 16px;
    min-width: 16px;
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
}
.Search__icon.cursor-pointer {
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin-right: 6px;
    cursor: pointer;
}
.BaseLazyRenderer.is-active {
    min-height: 40vh;
}
.MarketTabs.spaceAround .MarketTabs__tabs._groups {
    justify-content: space-around;
}
@media (min-width: 992px) {
    .MarketTabs.spaceAround .MarketTabs__tabs._moneys {
        justify-content: space-around;
    }
}
.MarketTabs__divider {
    height: 2px;
    background-color: #f2f2f2;
}
.BaseLayout.is-dark .MarketTabs__divider {
    background-color: #909090;
}
.MarketTabs__tabs {
    font-size: 13px;
    color: #909090;
}
.MarketTabs__tabs._groups .MarketTabs__tab.is-active:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #b1a14f;
    border-radius: 1px;
}
.MarketTabs__tabs._moneys {
    max-height: 26px;
    min-height: 26px;
    transition: max-height 0.2s, min-height 0.2s, opacity 0.2s;
}
.MarketTabs__tabs._moneys:empty {
    opacity: 0;
    max-height: 0 !important;
    overflow: hidden;
    min-height: 0 !important;
}
.MarketTabs__tab {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}
.MarketTabs__tab.is-active {
    color: #b1a14f;
    color: var(--c-main-yellow, #b1a14f);
}
.MarketTabs__tab.is-active path {
    fill: #b1a14f;
}
.BaseStatefulValue {
    contain: paint;
    will-change: color;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
.BaseStatefulValue.isUp0 {
    -webkit-animation-name: showUp0;
    animation-name: showUp0;
}
.BaseStatefulValue.isUp1 {
    -webkit-animation-name: showUp1;
    animation-name: showUp1;
}
.BaseStatefulValue.isDown0 {
    -webkit-animation-name: showDown0;
    animation-name: showDown0;
}
.BaseStatefulValue.isDown1 {
    -webkit-animation-name: showDown1;
    animation-name: showDown1;
}
@-webkit-keyframes showUp0 {
    0% {
        color: #4aa657;
    }
    to {
        color: #4aa657;
    }
}
@keyframes showUp0 {
    0% {
        color: #4aa657;
    }
    to {
        color: #4aa657;
    }
}
@-webkit-keyframes showUp1 {
    0% {
        color: #4aa657;
    }
    to {
        color: #4aa657;
    }
}
@keyframes showUp1 {
    0% {
        color: #4aa657;
    }
    to {
        color: #4aa657;
    }
}
@-webkit-keyframes showDown0 {
    0% {
        color: #c8313e;
    }
    to {
        color: #c8313e;
    }
}
@keyframes showDown0 {
    0% {
        color: #c8313e;
    }
    to {
        color: #c8313e;
    }
}
@-webkit-keyframes showDown1 {
    0% {
        color: #c8313e;
    }
    to {
        color: #c8313e;
    }
}
@keyframes showDown1 {
    0% {
        color: #c8313e;
    }
    to {
        color: #c8313e;
    }
}
.WelcomeMarketRow {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 1fr 0.7fr 1.2fr;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e8e9ea;
    line-height: 1;
    font-size: 0.875rem;
    color: #5c5a76;
    color: var(--c-alt-text, #5c5a76);
}
.WelcomeMarketRow:hover {
    background-color: #f7f7f7;
}
.BaseLayout.is-dark .WelcomeMarketRow:hover {
    background-color: #2a2a2a;
}
.WelcomeMarketRow__favIcon {
    font-size: 0.8rem;
    color: #c3c6c9;
}
.WelcomeMarketRow__favIcon.isFavorite {
    color: #c9aa4c;
}
.WelcomeMarketRow__cell {
    padding: 0.5rem;
    color: #25233a;
    color: var(--c-main-text, #25233a);
}
@media (min-width: 768px) {
    .WelcomeMarketRow__cell {
        padding: 0.75rem;
    }
}
.WelcomeMarketRow__cell:first-child,
.WelcomeMarketRow__cell:nth-child(3),
.WelcomeMarketRow__cell:nth-child(4),
.WelcomeMarketRow__cell:nth-child(5) {
    display: flex;
    align-items: center;
}
.WelcomeMarketRow__cell:first-child {
    justify-content: center;
}
.WelcomeMarketRow__priceInUsdt {
    color: #969fa8;
}
.WelcomeMarketRow__stock:after {
    content: "/";
    margin: 0 3px;
}
.WelcomeMarketRow__money {
    color: #969fa8;
}
.WelcomeMarketRow__change {
    display: flex;
    justify-content: center;
    align-items: center;
    margint: -0.1rem 0;
    height: 1.85rem;
    min-width: 55px;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .WelcomeMarketRow__change {
        margin: -0.5rem 0;
        min-width: 80px;
    }
}
.WelcomeMarketRow__change.is-same {
    background-color: #e4f4fc;
    color: #8598a8;
}
.WelcomeMarketRow__change.is-up {
    background-color: #e6f5ee;
    color: #09a25c;
}
.WelcomeMarketRow__change.is-down {
    background-color: #fbe9ec;
    color: #da2541;
}
.WelcomeMarketsTable {
    height: 270px;
}
@media (min-width: 768px) {
    .WelcomeMarketsTable {
        height: 320px;
    }
}
.WelcomeMarketsTable__headers {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 1fr 0.7fr 1.2fr;
    background-color: #f9fafb;
    border-bottom: 1px solid #e8e9ea;
    border-top: 1px solid #e8e9ea;
    font-size: 0.75rem;
    color: #969fa8;
    line-height: 1;
    text-transform: uppercase;
}
.WelcomeMarketsTable__headers > span {
    padding: 0.8rem;
}
.WelcomeMarketsTable__rows {
    overflow-y: auto;
}
.WelcomeMarketsTable__rows::-webkit-scrollbar,
.WelcomeMarketsTable__rows ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.WelcomeMarketsTable__rows::-webkit-scrollbar-thumb,
.WelcomeMarketsTable__rows ::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    background: var(--c-scroll-thumb, #e9e9e9);
}
.WelcomeMarketsTable__rows::-webkit-scrollbar-track,
.WelcomeMarketsTable__rows ::-webkit-scrollbar-track {
    background: var(--c-scroll);
}
.Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 768px) {
    .Section {
        min-height: 700px;
        padding-right: 8.6%;
        padding-left: 8.6%;
    }
}
.Section__head {
    display: flex;
    justify-content: center;
}
.Section__description {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-top: 1px solid #2e384d;
    color: #2e384d;
}
@media (min-width: 768px) {
    .Section__description {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
    }
}
.Section__title {
    font-size: 24px;
    color: inherit;
    font-weight: 600;
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    .Section__title {
        font-size: 36px;
    }
}
.Section__subTitle {
    font-size: 16px;
}
@media (min-width: 768px) {
    .Section__subTitle {
        white-space: break-spaces;
    }
}
.Section__link {
    font-size: 1.125rem !important;
    color: #fff !important;
    color: var(--c-opposite-text, #fff) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    background: #e3cb75;
    padding: 19px 0;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    margin-top: 1.25rem;
    transition: background 0.2s;
}
@media (min-width: 768px) {
    .Section__link {
        margin-top: 0;
        min-width: 250px;
        max-width: 295px;
    }
}
.Section__link:hover {
    background: #b1a14f;
}
.Markets {
    width: 100%;
    padding: 30px 1rem 2.5rem;
}
@media (min-width: 576px) {
    .Markets {
        padding: 0 1rem 2.5rem;
    }
}
@media (min-width: 768px) {
    .Markets {
        padding: 0 8.6% 3rem;
    }
}
.Markets__container {
    display: flex;
    flex-direction: column;
}
.Markets__search {
    flex-direction: row-reverse;
    padding-left: 6px;
}
@media (min-width: 768px) {
    .Markets__search {
        margin-left: auto;
    }
}
.Markets__search .Search__icon {
    margin-right: 6px;
}
.Markets__search .Search__icon.cursor-pointer {
    margin-right: 12px;
}
.Markets .MarketTabs__tabs._moneys {
    min-height: 33px;
    max-height: 33px;
}
@media (min-width: 768px) {
    .Markets .MarketTabs__tabs._moneys {
        min-height: 47px;
        max-height: 47px;
    }
}
.InfiniteSlider {
    width: 500%;
    contain: content;
    position: relative;
    pointer-events: unset;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-animation: slide linear infinite;
    animation: slide linear infinite;
    -webkit-animation-duration: var(--duration);
    animation-duration: var(--duration);
}
.InfiniteSlider:active,
.no-touch .InfiniteSlider:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.InfiniteSlider > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@-webkit-keyframes slide {
    to {
        transform: translate3d(var(--endTranslateX), 0, 0);
    }
}
@keyframes slide {
    to {
        transform: translate3d(var(--endTranslateX), 0, 0);
    }
}
.MarketsBar {
    background: #2d2926;
    overflow-x: hidden;
}
.MarketsBar__slider {
    min-height: 43px;
    opacity: 0;
    transition: opacity 0.5s;
}
.MarketsBar__slider.isActive {
    opacity: 1;
}
@media (min-width: 768px) {
    .MarketsBar__slider {
        height: 50px;
    }
}
.MarketsBar__pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    margin: 0 0.5rem;
    line-height: 1.1;
    cursor: pointer;
    font-size: 0.8125rem;
    color: #fff;
    color: var(--c-opposite-text, #fff);
    font-weight: 800;
}
.MarketsBar__price {
    font-weight: 600;
}
.MarketsBar__change {
    display: flex;
    align-items: center;
    color: #7a7a7a;
}
.MarketsBar__change.is-up {
    color: #3bbe75;
}
.MarketsBar__change.is-up:before {
    content: "+";
}
.MarketsBar__change.is-down {
    color: #fb3839;
}
.NewsWhite {
    height: 215px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 19px 1rem 0;
}
@media (min-width: 576px) {
    .NewsWhite {
        height: 120px;
    }
}
@media (min-width: 768px) {
    .NewsWhite {
        padding: 0 8.6%;
    }
}
@media (min-width: 992px) {
    .NewsWhite {
        height: 145px;
    }
}
.NewsWhite__newsContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 576px) {
    .NewsWhite__newsContainer {
        align-items: center;
        flex-direction: row;
    }
}
.NewsWhite__newsLink {
    display: flex;
}
@media (min-width: 576px) {
    .NewsWhite__newsLink:nth-child(2n) {
        margin: 0 3rem;
    }
}
@media (min-width: 768px) {
    .NewsWhite__newsLink {
        border: none;
    }
}
.NewsWhite__postTitle {
    font-size: 1rem;
    color: #151515;
    color: var(--c-dark-text, #151515);
    font-weight: 500;
}
.NewsWhite__day {
    color: #2e384d;
    font-size: 28px;
    width: 48px;
    height: 40px;
    border-bottom: 1px solid #c9aa4c;
}
.NewsWhite__monthAndYear {
    font-size: 0.625rem;
    color: #969fa8;
    color: var(--c-grey-middle-text, #969fa8);
    font-weight: 400;
}
.NewsWhite__skeletonView {
    width: 100%;
    height: 79px;
}
.NewsWhite__skeletonBlock {
    width: 250px;
    height: 80px;
    display: flex;
}
.NewsWhite__skeletonCircle {
    width: 48px;
    height: 48px;
    background-color: #ddd;
    border-radius: 100%;
}
.NewsWhite__skeletonPostTitle {
    width: 180px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}
.Margin {
    background: linear-gradient(281.58deg, #45403d, #2c2825);
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) {
    .Margin {
        justify-content: center;
        height: 100%;
        max-height: 20.5vw;
        flex-direction: row;
    }
}
.Margin__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (min-width: 570px) {
    .Margin__left {
        position: absolute;
    }
}
@media (min-width: 768px) {
    .Margin__left {
        position: unset;
        height: 100%;
        width: 50%;
    }
}
.Margin__left svg {
    height: 90%;
    max-width: 50%;
}
@media (min-width: 1300px) {
    .Margin__left svg {
        max-width: unset;
        height: unset;
    }
}
.Margin__leftPairs {
    color: #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}
@media (min-width: 570px) {
    .Margin__leftPairs {
        margin-top: 4px;
    }
}
@media (min-width: 768px) {
    .Margin__leftPairs {
        font-size: 1.4vw;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .Margin__leftPairs {
        margin-left: 12px;
    }
}
.Margin__leftPairsShort {
    color: #c33939;
}
.Margin__leftPairsLong {
    color: #3bbe75;
    margin: 0 12px;
}
.Margin__leftTitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
}
@media (min-width: 768px) {
    .Margin__leftTitle {
        font-size: 2.4vw;
    }
}
.Margin__leftText {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    align-items: baseline;
    justify-content: center;
    font-size: 42px;
}
@media (min-width: 768px) {
    .Margin__leftText {
        font-size: 5vw;
    }
}
.Margin__leftTextX5 {
    margin-right: 20px;
    color: #fff;
}
.Margin__leftTextProfit {
    color: #fff;
    text-transform: uppercase;
}
.Margin__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(/img/welcome/marginTrade/margin-banner-graph.svg) bottom,
        url(/img/welcome/marginTrade/gradient.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: relative;
}
@media (min-width: 768px) {
    .Margin__right {
        width: 67%;
        background-position-y: bottom;
        background-size: contain;
        background-image: url(/img/welcome/marginTrade/margin-banner-graph.svg);
    }
}
.Margin__rightOverlay1 {
    transform: skewX(-45deg) scaleX(1.2) translateX(13%);
}
.Margin__rightOverlay1,
.Margin__rightOverlay2 {
    background: linear-gradient(252.59deg, #b7a053, #ffe794 99.95%);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}
.Margin__rightOverlay2 {
    transform: skewX(45deg) scaleX(1.2) translateX(13%);
}
.Margin__rightProfit {
    z-index: 1;
    color: #fff;
    margin-top: 80px;
    font-size: 64px;
}
@media (min-width: 768px) {
    .Margin__rightProfit {
        font-size: 7vw;
        margin-top: unset;
    }
}
.Margin__rightProfitX {
    font-weight: 600;
}
.Margin__tryNow {
    background: #514c48;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.3);
    width: 14vw;
    min-width: 200px;
    max-width: 500px;
    height: 50px;
    z-index: 2;
    border-radius: 4px;
    color: #fffdf0;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}
.DefiBanner,
.Margin__tryNow {
    display: flex;
    align-items: center;
}
.DefiBanner {
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/welcome/DefiBanner/Defi_BG_WhiteBIT_Mobile.svg);
    overflow: hidden;
}
.DefiBanner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(51, 59, 92, 0) 25.04%,
        #333b5c 65.8%
    );
    z-index: 3;
}
@media (min-width: 768px) {
    .DefiBanner {
        flex-direction: row;
        justify-content: flex-start;
        background-image: url(/img/welcome/DefiBanner/Defi_BG_WhiteBIT_Desktop.svg);
    }
    .DefiBanner:before {
        display: none;
    }
}
@media (min-width: 1200px) {
    .DefiBanner {
        padding: 0 20rem;
    }
}
.DefiBanner__img {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 0;
    height: 50%;
    transform: translate(-50%);
}
@media (min-width: 768px) {
    .DefiBanner__img {
        position: absolute;
        left: unset;
        right: 4.5rem;
        height: 100%;
        transform: none;
    }
}
@media (min-width: 992px) {
    .DefiBanner__img {
        right: 15rem;
    }
    .DefiBanner__img-svg {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}
@media (min-width: 1200px) {
    .DefiBanner__img {
        right: 15rem;
    }
}
@media (min-width: 1680px) {
    .DefiBanner__img {
        right: 30rem;
    }
}
.DefiBanner__img-svg {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    position: relative;
    z-index: 2;
}
.DefiBanner__wrapper {
    z-index: 3;
    position: relative;
    text-align: center;
}
@media (min-width: 768px) {
    .DefiBanner__wrapper {
        text-align: left;
    }
}
.DefiBanner__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    display: inline;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .DefiBanner__title {
        display: block;
    }
}
@media (min-width: 1200px) {
    .DefiBanner__title {
        font-size: 1.75rem;
    }
}
.DefiBanner__title-color {
    color: #e8d282;
    white-space: pre-wrap;
}
.DefiBanner__subtitle {
    color: #fff;
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.5rem 0;
}
.DefiBanner__btn {
    display: inline-block;
    background: #edc730;
    color: #2f3755;
    line-height: 3.125rem;
    border-radius: 0.4375rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 2.5rem;
}
@media (min-width: 768px) {
    .DefiBanner__btn {
        line-height: 2rem;
        padding: 0 1.5rem;
    }
}
@media (min-width: 1200px) {
    .DefiBanner__btn {
        line-height: 3.125rem;
        padding: 0 4.5rem;
    }
}
.DefiBanner__btn:hover {
    color: #404040;
}
@font-face {
    font-family: Neucha;
    src: url(/fonts/Neucha/Neucha-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
.KycBanner {
    background: #1f2024;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner {
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background: linear-gradient(89.98deg, #1f1f1f, #34363b);
    }
    .KycBanner:before {
        display: none;
    }
}
.KycBanner:before {
    content: "";
    background-image: url(/img/welcome/kycBanner/KycBanner_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.KycBanner__table {
    padding-left: 4.375rem;
    width: 45%;
    z-index: 2;
    color: #fff;
}
@media (min-width: 320px) and (max-width: 992px) {
    .KycBanner__table {
        width: 50%;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__table {
        width: 100%;
        padding-left: 0;
    }
}
.KycBanner__table-row {
    align-items: center;
    border-bottom: 1px solid #4a4c4f;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.6fr;
}
.KycBanner__table-head {
    border: none;
}
.KycBanner__table-head .KycBanner__table-data {
    text-transform: unset;
}
.KycBanner__table-firstLine {
    background: #303133;
    border: none;
    color: #e3c436;
    font-weight: 700;
    font-size: 0.7rem;
}
@media (min-width: 992px) {
    .KycBanner__table-firstLine {
        font-size: 1rem;
    }
}
@media (min-width: 1700px) {
    .KycBanner__table-firstLine {
        font-size: 1.875rem;
    }
}
.KycBanner__table-star {
    color: #716a4e;
}
.KycBanner__table-data {
    flex: 1;
    padding: 0.75rem 1rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.6rem;
}
@media (min-width: 992px) {
    .KycBanner__table-data {
        font-size: 0.84rem;
    }
}
@media (min-width: 1700px) {
    .KycBanner__table-data {
        font-size: 1.625rem;
    }
}
@media (min-width: 992px) and (max-width: 1439px) {
    .KycBanner__table-data {
        padding: 0.5rem 0.75rem;
    }
}
@media (min-width: 320px) and (max-width: 992px) {
    .KycBanner__table-data {
        padding: 0.3rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__table-data {
        padding: 0.5rem;
        white-space: normal;
    }
}
.KycBanner__table-text {
    margin: 0.75rem 0;
    color: #6e7079;
    font-size: 0.625rem;
}
.KycBanner__right {
    padding-left: 6%;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__right {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .KycBanner {
        padding-left: 0;
    }
}
@media (min-width: 992px) {
    .KycBanner {
        padding-left: 6%;
    }
}
.KycBanner__title {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1;
}
@media (min-width: 992px) and (max-width: 1439px) {
    .KycBanner__title {
        font-size: 2rem;
    }
}
@media (min-width: 320px) and (max-width: 992px) {
    .KycBanner__title {
        font-size: 2vw;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__title {
        display: none;
    }
}
.KycBanner__title-mobile {
    display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__title-mobile {
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        margin-bottom: 0;
        white-space: nowrap;
    }
}
.KycBanner__title-color {
    white-space: pre-line;
    color: #e3c436;
}
@media (min-width: 320px) and (max-width: 1439px) {
    .KycBanner__title-color {
        white-space: normal;
    }
}
.KycBanner__subtitle {
    color: #fff;
    font-family: Neucha;
    margin-top: 0.5rem;
    display: none;
}
@media (min-width: 768px) {
    .KycBanner__subtitle {
        display: block;
        font-size: 1rem;
    }
}
@media (min-width: 1440px) {
    .KycBanner__subtitle {
        font-size: 1.625rem;
    }
}
.KycBanner__subtitle-big {
    font-family: Neucha;
    font-size: 1rem;
    display: block;
}
@media (min-width: 1440px) {
    .KycBanner__subtitle-big {
        font-size: 1.625rem;
    }
}
.KycBanner__btn {
    display: inline-block;
    text-align: center;
    background: #e3c436;
    color: #141415;
    border-radius: 0.25rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 4.375rem;
}
@media (min-width: 992px) and (max-width: 1439px) {
    .KycBanner__btn {
        padding: 0 2.5rem;
    }
}
@media (min-width: 320px) and (max-width: 992px) {
    .KycBanner__btn {
        line-height: 2rem;
        padding: 0 1rem;
        font-size: 1rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .KycBanner__btn {
        font-size: 1.25rem;
        line-height: 2.5rem;
        padding: 0 5rem;
    }
}
.KycBanner__btn:hover {
    color: #141415;
}
.KycBanner__img {
    z-index: 2;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
@media (min-width: 768px) {
    .KycBanner__img {
        display: block;
    }
}
.DashBanner {
    background: linear-gradient(90deg, #008de4, #012e71 57.29%, #001d5a);
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.DashBanner:before {
    top: 0;
    background-image: url(/img/welcome/dashBanner/DashBanner__Bg-Mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.DashBanner:after,
.DashBanner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.DashBanner:after {
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(1, 32, 96, 0),
        rgba(1, 32, 96, 0.88) 84.9%
    );
    z-index: 2;
}
@media (min-width: 768px) {
    .DashBanner {
        padding: 0 5rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .DashBanner:before {
        background-image: url(/img/welcome/dashBanner/DashBanner__Bg-Desktop.svg);
    }
    .DashBanner:after {
        display: none;
    }
}
.DashBanner__logo {
    position: relative;
    z-index: 3;
}
@media (min-width: 768px) {
    .DashBanner__logo {
        height: 100%;
    }
}
.DashBanner__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.DashBanner__title {
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
@media (min-width: 1200px) {
    .DashBanner__title {
        font-size: 2.25rem;
    }
}
.DashBanner__title-bold {
    margin-left: 1rem;
    font-weight: 600;
}
.DashBanner__title-firstLine {
    width: 100%;
}
.Slider {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Slider__slides {
    display: flex;
    width: 100%;
    height: 400px;
}
@media (min-width: 768px) {
    .Slider__slides {
        height: 20.5vw;
    }
}
.Slider__slides:hover + .Slider__paginations .Slider__pagination:after {
    -webkit-animation: step-end;
    animation: step-end;
}
.Slider__item {
    will-change: opacity;
    opacity: 0;
    transition: all 1.2s;
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 1;
}
@media (min-width: 768px) {
    .Slider__item {
        height: 20.5vw;
    }
}
.Slider__item.show {
    opacity: 1;
    z-index: 2;
}
.Slider__paginations {
    background: #f5f6f7;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.Slider__paginations::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: 0 0;
    display: none;
}
.Slider__pagination {
    position: relative;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    transition: 0.1s;
    font-size: 16px;
    color: #2e3239;
    border-top: 4px solid #f5f6f7;
}
@media (min-width: 768px) {
    .Slider__pagination {
        padding: 10px 0;
    }
}
.Slider__pagination span {
    opacity: 0.6;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.Slider__pagination:after {
    will-change: width;
    transition-timing-function: linear;
}
.Slider__pagination.is-active {
    border-color: #2e3239;
}
.Slider__pagination.is-active:after {
    content: "";
    height: 4px;
    width: 100%;
    right: 0;
    top: -4px;
    position: absolute;
    background: rgba(245, 246, 247, 0.3);
    -webkit-animation: progressBar 10s;
    animation: progressBar 10s;
}
.Slider__pagination.is-active.paused:after {
    -webkit-animation: initial;
    animation: initial;
    width: 100%;
}
.Slider__pagination.is-active span {
    opacity: 1;
}
@-webkit-keyframes progressBar {
    to {
        width: 0;
    }
}
@keyframes progressBar {
    to {
        width: 0;
    }
}
.Welcome {
    margin: 0 -15px;
}
</style>
