<template>
    <div
                                class="d-flex pl40 pr40 ticker-item-hover"
                                style="height: 65px;"
                            >
                                <div
                                    class="d-flex theme-light w-p100 bt-grey symbol-item cursor-pointer center-v cols-type-10 cursor-pointer"
                                >
                                    <div class="d-flex  cols-type-111 center-v">
                                        <div
                                            class="typo typo-text-2   typo-nowrap typo-ellipsis"
                                        >
                                            {{ item.symbol.split("/")[0] }}
                                            <span class="fc-grey-light"
                                                >{{ item.symbol.split("/")[1] }}</span
                                            >
                                        </div>
                                        <div
                                            class="typo typo-text-2   typo-nowrap typo-ellipsis"
                                        >
                                            {{ item.last.toFixed(2) }} ≈
                                            <span class="fc-grey-light"
                                                >${{ Math.floor(item.last).toFixed(2) }}</span
                                            >
                                        </div>
                                        <div>
                                            <div
                                                :class="['typo typo-text-2 fs14 center-vh br-main typo-nowrap typo-ellipsis', isLowOrUp]"
                                                style="height: 32px; width: 90px;"
                                            >
                                                {{ item.percentage.toFixed(2) }}%
                                            </div>
                                        </div>
                                        <div
                                            class="typo typo-text-2   typo-nowrap typo-ellipsis"
                                        >
                                            <span>{{ formatNumbers(item.quoteVolume.toFixed(3)) }}</span>
                                        </div>
                                    </div>
                                    <router-link
                                        tag="div"
                                        to="/trade"
                                        class="typo typo-text-2-up   text-right typo-nowrap typo-ellipsis"
                                    >
                                        Trade
                                    </router-link>
                                </div>
                            </div>
</template>


<script>
export default {
    name: "TableItem",
    props: ["item"],
    computed: {
        percent() {
            return 100 - ((this.item.bid / this.item.ask) * 100)
        },
        isLowOrUp() {
            return this.item.percentage > 0 ? 'ticker-bg-up': 'ticker-bg-down'
        }
    },
    methods: {
        formatNumbers(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }
    }
}
</script>