<template>
    <div id="app" :class="['BaseLayout', isDarkOrLight]">
        <bit-header />
        <main :class="['BaseLayout__main d-flex flex-column bg-body page-exchange', { 'is-auth': $route.fullPath.includes('/auth/') }]" v-if="!baseLayoutList.includes($route.fullPath)">
            <div class="BaseLayout__container container">
                <router-view />
            </div>
        </main>
        <div class="d-flex flex-column bg-body page-exchange" v-else >   
            <router-view />
        </div>
        <bit-footer v-if="!$route.fullPath.includes('/auth/')" />
    </div>
</template>

<script>
import Header from "./components/Layouts/Header"
import Footer from "./components/Layouts/Footer"

export default {
    name: "App",
    components: {
        bitHeader: Header,
        bitFooter: Footer,
    },
    data: () => ({
        baseLayoutList: ['/', '/referral', '/trade']
    }),
    async mounted() {
        await this.$store.dispatch("getProfile")
    },
    computed: {
        isDarkOrLight() {
            return this.$route.fullPath.includes("trade") ? 'theme-blue-dark'  : 'theme-blue-light'
        }
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

@import "./assets/main.css";
@import "./assets/view.css";
@import "./assets/chunk.css";
@import "./assets/css/buttons.css";
@import "./assets/css/tabs.css";
@import "./assets/css/more.css";


</style>
